@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="about">
    <div class="container">
        <h1 class="h1">Более 20 лет производим изделия любой сложности из&nbsp;камня</h1>

        <div class="aboutSlider">

            <div class="aboutSlider__item">
                <div class="aboutSlider__image">
                    <picture>
                        <source srcset="images/content/about/about-1.jpg, images/content/about/about-1@2x.jpg 2x">
                        <img srcset="images/content/about/about-1.jpg">
                    </picture>
                </div>
                <div class="aboutSlider__content">
                    <div class="aboutSlider__circle"></div>
                    <div class="aboutSlider__date">22 февраля<br>1998 </div>
                    <div class="aboutSlider__text">В этот день была организована компания Артишок, которая из небольшого цеха в подвале жилого дома переросла в одно из крупнейшних в России предприяйтий по обработке камня</div>
                </div>
            </div>

            <div class="aboutSlider__item">
                <div class="aboutSlider__image">
                    <picture>
                        <source srcset="images/content/about/about-2.jpg, images/content/about/about-2@2x.jpg 2x">
                        <img srcset="images/content/about/about-2.jpg">
                    </picture>
                </div>
                <div class="aboutSlider__content">
                    <div class="aboutSlider__circle"></div>
                    <div class="aboutSlider__date">22 февраля<br>1998 </div>
                    <div class="aboutSlider__text">В этот день была организована компания Артишок, которая из небольшого цеха в подвале жилого дома переросла в одно из крупнейшних в России предприяйтий по обработке камня</div>
                </div>
            </div>

            <div class="aboutSlider__item">
                <div class="aboutSlider__image">
                    <picture>
                        <source srcset="images/content/about/about-1.jpg, images/content/about/about-1@2x.jpg 2x">
                        <img srcset="images/content/about/about-1.jpg">
                    </picture>
                </div>
                <div class="aboutSlider__content">
                    <div class="aboutSlider__circle"></div>
                    <div class="aboutSlider__date">22 февраля<br>1998 </div>
                    <div class="aboutSlider__text">В этот день была организована компания Артишок, которая из небольшого цеха в подвале жилого дома переросла в одно из крупнейшних в России предприяйтий по обработке камня</div>
                </div>
            </div>

            <div class="aboutSlider__item">
                <div class="aboutSlider__image">
                    <picture>
                        <source srcset="images/content/about/about-2.jpg, images/content/about/about-2@2x.jpg 2x">
                        <img srcset="images/content/about/about-2.jpg">
                    </picture>
                </div>
                <div class="aboutSlider__content">
                    <div class="aboutSlider__circle"></div>
                    <div class="aboutSlider__date">22 февраля<br>1998 </div>
                    <div class="aboutSlider__text">В этот день была организована компания Артишок, которая из небольшого цеха в подвале жилого дома переросла в одно из крупнейшних в России предприяйтий по обработке камня</div>
                </div>
            </div>

        </div>

        <div class="dancingSlider">
            <div class="dancingSlider__text">Камень из лучших карьеров мира</div>
            <div class="dancingSlider__wrapper">

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type0">
                    <div class="dancingSliderItem__title">Италия</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-1.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type1">
                    <div class="dancingSliderItem__title">Испания</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-2.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type0">
                    <div class="dancingSliderItem__title">Бразилия</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-3.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type2">
                    <div class="dancingSliderItem__title">Индия</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-4.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type0">
                    <div class="dancingSliderItem__title">Слотолан</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-5.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type0">
                    <div class="dancingSliderItem__title">Италия</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-1.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type1">
                    <div class="dancingSliderItem__title">Испания</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-2.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type0">
                    <div class="dancingSliderItem__title">Бразилия</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-3.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type2">
                    <div class="dancingSliderItem__title">Индия</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-4.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type0">
                    <div class="dancingSliderItem__title">Слотолан</div>
                    <div class="dancingSliderItem__image">
                        <img srcset="images/content/dance/dance-5.jpg">
                    </div>
                </a>

                <a href="#countryPopup" data-fancybox="" class="dancingSliderItem type0">
                    <div class="dancingSliderItem__title">&nbsp;</div>
                    <div class="dancingSliderItem__other">
                        <div class="dancingSliderItem__round">
                            <span>и другие<br>страны</span>
                            <img src="images/pixel.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    @@include('../layouts/difficult.html')

    @@include('../layouts/clients.html')

    @@include('../layouts/equipment.html')

    <div class="warranty">
        <div class="container">
            <div class="warranty__title">
                <div>Предоставляем</div>
                <div>гарантию</div>
                <div>на любое</div>
                <div>изделие</div>
            </div>
            <div class="warranty__circle">
                <div>100%<br>гарантия</div>
                <div>На&nbsp;все материалы<br>и изделия</div>
            </div>
        </div>
    </div>

    <div class="container">
        @@include('../layouts/banner.html')
    </div>

    @@include('../layouts/terms.html')

</div>

@@include('../layouts/subscribe.html')

@@include('../layouts/footer.html')
