@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="blog projects">
    <div class="container">
        <h1 class="h1">Блог artishock</h1>

        <div class="blog__top">
            <div class="blogTags">
                <div class="blogTags__item"><a href="#" class="btn-tag">Новости</a></div>
                <div class="blogTags__item"><a href="#" class="btn-tag">Полезные статьи</a></div>
            </div>

            <div class="projects__mobileBtns">
                <button class="mobileSort-projects">Cортировка <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#plus"></use></svg></button>
            </div>

            <form class="projectsFilter">
                <div class="projectsFilter__item projectsFilter__item--sort">
                    <button class="close"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></button>
                    <button class="projectsFilter__opener"><span>Cортировать</span> <svg width="19px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                    <div class="projectsFilterPopup projectsFilterPopup--sort">
                        <div class="projectsFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Сортировка</div>
                        <div class="projectsFilterPopup__list">
                            <ul>
                                <li><label><input type="radio" name="sortby" checked><span class="radioTrigger"></span> <span class="text">Цена, по возрастанию</span></label></li>
                                <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">Цена, по убыванию</span></label></li>
                                <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">Популярное</span></label></li>
                                <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">По алфавиту</span></label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="blog__listWrapper">
            <div class="blog__list">

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#material"></use></svg>
                        </div>
                        <div class="blogItem__text">Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов)</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать
                            материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
                        </div>
                        <div class="blogItem__text">«Внезапно слышится лязг оттачиваемой косы»: почему в ранних драмах Метерлинка всегда царит смерть</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image.jpg">
                                <img srcset="images/content/news-image.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">Исследование: перец чили может продлевать жизнь</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">«Точка будущего» продлила акцию по доставке бесплатных обедов врачам до 12 ноября</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#fireproof"></use></svg>
                        </div>
                        <div class="blogItem__text">В Москве запретят работу клубов и баров по ночам, а студентов переведут на дистанционку</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#zip"></use></svg>
                        </div>
                        <div class="blogItem__text">«Локдаун» стал словом года по версии Collins English Dictionary</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">Исследование: ДМТ способствует развитию пластичности мозга и образованию новых нейронов</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#question"></use></svg>
                        </div>
                        <div class="blogItem__text">Нидерландские музеи выложили в сеть 1098 работ Ван Гога</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">В ОАЭ разрешили пить алкоголь и жить вместе до брака, чтобы привлечь туристов</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">В Австралии нашли два новых вида млекопитающих</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать
                            материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
                        </div>
                        <div class="blogItem__text">«Внезапно слышится лязг оттачиваемой косы»: почему в ранних драмах Метерлинка всегда царит смерть</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">Ученые подключили мозг к компьютеру через вену</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>
            </div>
        </div>

        @@include('../layouts/banner.html')

        <div class="blog__listWrapper">
            <div class="blog__list">
                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#material"></use></svg>
                        </div>
                        <div class="blogItem__text">Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов)</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать
                            материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
                        </div>
                        <div class="blogItem__text">«Внезапно слышится лязг оттачиваемой косы»: почему в ранних драмах Метерлинка всегда царит смерть</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image.jpg">
                                <img srcset="images/content/news-image.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">Исследование: перец чили может продлевать жизнь</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">«Точка будущего» продлила акцию по доставке бесплатных обедов врачам до 12 ноября</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#fireproof"></use></svg>
                        </div>
                        <div class="blogItem__text">В Москве запретят работу клубов и баров по ночам, а студентов переведут на дистанционку</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#zip"></use></svg>
                        </div>
                        <div class="blogItem__text">«Локдаун» стал словом года по версии Collins English Dictionary</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">Исследование: ДМТ способствует развитию пластичности мозга и образованию новых нейронов</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#question"></use></svg>
                        </div>
                        <div class="blogItem__text">Нидерландские музеи выложили в сеть 1098 работ Ван Гога</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">В ОАЭ разрешили пить алкоголь и жить вместе до брака, чтобы привлечь туристов</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">В Австралии нашли два новых вида млекопитающих</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать
                            материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
                        </div>
                        <div class="blogItem__text">«Внезапно слышится лязг оттачиваемой косы»: почему в ранних драмах Метерлинка всегда царит смерть</div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <picture>
                                <source srcset="images/content/news-image-2.jpg">
                                <img srcset="images/content/news-image-2.jpg" alt="My default image">
                            </picture>
                        </div>

                        <div class="blogItem__text">Ученые подключили мозг к компьютеру через вену</div>
                        <div class="blogItem__date">12.02.2020</div>
                    </a>
                </div>

            </div>
        </div>

        @@include('../layouts/pagination.html')

    </div>
</div>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
