@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="article">
    <div class="container">

        <div class="breadcrumbs">
            <ul>
                <li><a href="">Главная</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Блог</a></li>
            </ul>
        </div>

        <h1 class="h1">Как выбрать материал?</h1>

        <div class="articleInfo">
            <div class="articleInfo__date">21.02.2020</div>
            <div class="articleInfo__author"><a href="#"><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#user"></use></svg> Виноградов Константин</a></div>
            <div class="articleInfo__link"><a href="#">Полезные материалы</a></div>
        </div>

        <div class="articleBlock">
            <div class="articleBlock__left">
                <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
            </div>
            <div class="articleBlock__right">
                <picture>
                    <source srcset="images/content/article/article-img-1.jpg">
                    <img srcset="images/content/article/article-img-1.jpg" alt="My default image">
                </picture>
                <p>Товарищи! рамки и место обучения кадров позволяет выполнять важные задания по разработке новых предложений. Идейные соображения высшего порядка, а также консультация с широким активом представляет собой интересный эксперимент проверки соответствующий условий активизации. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</p>
                <p class="large">Равным образом реализация намеченных плановых заданий играет важную роль в&nbsp;формирова&shy;нии модели развития. </p>
            </div>
        </div>

        <div class="articleBlock">
            <div class="articleBlock__left">
                Развитие<br>&nbsp;<br>&nbsp;
            </div>
            <div class="articleBlock__right">
                <p>Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации новых предложений. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. С другой стороны реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
                <blockquote>Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации новых предложений. Товарищи! постоянное информационно- пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития. </blockquote>
            </div>
        </div>

        @@include('../layouts/banner.html')

        <div class="articleBlock articleBlock--noborder">
            <div class="articleBlock__left"></div>
            <div class="articleBlock__right">
                <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание систем массового участия. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение направлений прогрессивного развития.</p>

                <picture>
                    <source srcset="images/content/article/article-img-2.jpg">
                    <img srcset="images/content/article/article-img-2.jpg" alt="My default image">
                </picture>

                <p>Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации новых предложений. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. С другой стороны реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
            </div>
        </div>

        <div class="articleSlider">
            <img src="images/content/article/article-img-3.jpg" alt="">
            <img src="images/content/article/article-img-4.jpg" alt="">
            <img src="images/content/article/article-img-5.jpg" alt="">
            <img src="images/content/article/article-img-3.jpg" alt="">
            <img src="images/content/article/article-img-4.jpg" alt="">
            <img src="images/content/article/article-img-5.jpg" alt="">
        </div>

        <div class="articleBlock articleBlock--noborder">
            <div class="articleBlock__left"></div>
            <div class="articleBlock__right">
                <p>Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации новых предложений. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. С другой стороны реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
            </div>
        </div>

        <div class="articleInfo articleInfo--under">
            <div class="articleInfo__date">21.02.2020</div>
            <div class="articleInfo__author"><a href="#"><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#user"></use></svg> Виноградов Константин</a></div>
            <div class="articleInfo__link"><a href="#">Полезные материалы</a></div>
        </div>

    </div>
</div>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
