@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="cart cartEmpty">
    <div class="container">
        <h1 class="h1">Корзина<br>Пустая</h1>
        <div class="cartEmptyTags">
            <div class="cartEmptyTags__title">Посмотрите в каталоге</div>
            <div class="cartEmptyTags__list">
                <div class="cartEmptyTags__item"><a href="#" class="btn-tag">Камень</a></div>
                <div class="cartEmptyTags__item"><a href="#" class="btn-tag">Гранит</a></div>
                <div class="cartEmptyTags__item"><a href="#" class="btn-tag">Мрамор</a></div>
                <div class="cartEmptyTags__item"><a href="#" class="btn-tag">Порфир</a></div>
                <div class="cartEmptyTags__item"><a href="#" class="btn-tag">Изделия</a></div>
                <div class="cartEmptyTags__item"><a href="#" class="btn-tag">Сопутствующие товары</a></div>
                <div class="cartEmptyTags__item"><a href="#" class="btn-tag">Sale</a></div>
            </div>
        </div>
    </div>

    <div class="mainSpecial mainSpecial--inner mainSpecial--toparrows lightBg">
        <div class="container">
            <div class="mainSpecial__title innerTitle">Вам могут понравиться</div>
            <div class="mainSpecial__list">

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>

@@include('../layouts/footer.html')
