@@include('../layouts/head.html')

@@include('../layouts/header.html',{'cart':'filled'})

<div class="cart">
    <div class="container">
        <h1 class="h1">Корзина<div class="count">4</div></h1>

        <div class="cart__clear">
            <a href="#" class="openPopup" data-popup="clearCart">Очистить корзину <span><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#delete"></use></svg></span></a>
        </div>

        <div class="cartList">

            <div class="cartList__item row">
                <div class="cartList__images col-6 col-md-auto">
                    <img src="images/content/cart-1.jpg" alt="">
                    <div class="line"></div>
                    <img src="images/content/cart-1.jpg" alt="">
                    <div class="sale">
                        <div class="line"></div>
                        <div class="saleSize">-10%</div>
                    </div>
                </div>
                <div class="cartList__info col-6 col-md-auto">
                    <div class="cartList__title">Rosso Dolomiti</div>
                    <div class="cartList__stock">В наличии 53 м<sup>2</sup></div>
                </div>
                <div class="cartList__price col-6 col-md-auto">
                    32 000 ₽/м<sup>2</sup><br>
                    <span class="old">34 000 ₽/м<sup>2</sup></span>
                </div>
                <div class="cartList__count">
                    <div class="x"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></div>
                    <div class="cartList__field">
                        <input type="text" name="" value="21">
                        <div class="info">м<sup>2</sup></div>
                    </div>
                </div>
                <div class="cartList__cost col-6 col-md-auto">
                    672 000 ₽<br>
                    <span class="old">714 000 ₽</span>
                </div>
                <div class="cartList__consult col-6 col-md-auto">
                    <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text d-md-none">Консультация</span><span class="text d-none d-md-block">Нужна консультация</span></label>
                </div>
                <button class="cartList__remove"><span class="d-none d-xl-block">Удалить</span><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#delete"></use></svg></button>
            </div>

            <div class="cartList__item row">
                <div class="cartList__images col-6 col-md-auto">
                    <img src="images/content/cart-1.jpg" alt="">
                    <div class="line"></div>
                    <img src="images/content/cart-1.jpg" alt="">
                    <div class="sale">
                        <div class="line"></div>
                        <div class="saleSize">-10%</div>
                    </div>
                </div>
                <div class="cartList__info col-6 col-md-auto">
                    <div class="cartList__title">Rosso Dolomiti</div>
                    <div class="cartList__stock">В наличии 53 м<sup>2</sup></div>
                </div>
                <div class="cartList__price col-6 col-md-auto">
                    32 000 ₽/м<sup>2</sup><br>
                    <span class="old">34 000 ₽/м<sup>2</sup></span>
                </div>
                <div class="cartList__count">
                    <div class="x"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></div>
                    <div class="cartList__field">
                        <input type="text" name="" value="21">
                        <div class="info">м<sup>2</sup></div>
                    </div>
                </div>
                <div class="cartList__cost col-6 col-md-auto">
                    672 000 ₽<br>
                    <span class="old">714 000 ₽</span>
                </div>
                <div class="cartList__consult col-6 col-md-auto">
                    <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text d-md-none">Консультация</span><span class="text d-none d-md-block">Нужна консультация</span></label>
                </div>
                <button class="cartList__remove"><span class="d-none d-xl-block">Удалить</span><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#delete"></use></svg></button>
            </div>

            <div class="cartList__item row">
                <div class="cartList__images col-6 col-md-auto">
                    <img src="images/content/cart-1.jpg" alt="">
                    <div class="line"></div>
                    <img src="images/content/cart-1.jpg" alt="">
                    <div class="sale">
                        <div class="line"></div>
                        <div class="saleSize">-10%</div>
                    </div>
                </div>
                <div class="cartList__info col-6 col-md-auto">
                    <div class="cartList__title">Rosso Dolomiti</div>
                    <div class="cartList__stock">В наличии 53 м<sup>2</sup></div>
                </div>
                <div class="cartList__price col-6 col-md-auto">
                    32 000 ₽/м<sup>2</sup><br>
                    <span class="old">34 000 ₽/м<sup>2</sup></span>
                </div>
                <div class="cartList__count">
                    <div class="x"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></div>
                    <div class="cartList__field">
                        <input type="text" name="" value="21">
                        <div class="info">м<sup>2</sup></div>
                    </div>
                </div>
                <div class="cartList__cost col-6 col-md-auto">
                    672 000 ₽<br>
                    <span class="old">714 000 ₽</span>
                </div>
                <div class="cartList__consult col-6 col-md-auto">
                    <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text d-md-none">Консультация</span><span class="text d-none d-md-block">Нужна консультация</span></label>
                </div>
                <button class="cartList__remove"><span class="d-none d-xl-block">Удалить</span><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#delete"></use></svg></button>
            </div>

            <div class="cartList__item cartList__item--removing row">
                <div class="cartList__images col-6 col-md-auto">
                    <img src="images/content/cart-1.jpg" alt="">
                    <div class="line"></div>
                    <img src="images/content/cart-1.jpg" alt="">
                    <div class="sale">
                        <div class="line"></div>
                        <div class="saleSize">-10%</div>
                    </div>
                </div>
                <div class="cartList__info col-6 col-md-auto">
                    <div class="cartList__title">Rosso Dolomiti</div>
                    <div class="cartList__stock">В наличии 53 м<sup>2</sup></div>
                </div>
                <div class="cartList__price col-6 col-md-auto">
                    32 000 ₽/м<sup>2</sup><br>
                    <span class="old">34 000 ₽/м<sup>2</sup></span>
                </div>
                <div class="cartList__count">
                    <div class="x"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></div>
                    <div class="cartList__field">
                        <input type="text" name="" value="21">
                        <div class="info">м<sup>2</sup></div>
                    </div>
                </div>
                <div class="cartList__cost col-6 col-md-auto">
                    672 000 ₽<br>
                    <span class="old">714 000 ₽</span>
                </div>
                <div class="cartList__consult col-6 col-md-auto">
                    <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text d-md-none">Консультация</span><span class="text d-none d-md-block">Нужна консультация</span></label>
                </div>
                <button class="cartList__remove"><span class="d-none d-xl-block">Удалить</span><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#delete"></use></svg></button>
            </div>


        </div>

        <div class="cart__cost">964 000 ₽</div>

        <div class="cart__bottom">
            В корзине 3 товара<br><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg>
            Цена без скидки&nbsp;<span>1 015 800 ₽</span><br><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg>
            Скидка&nbsp;<span>67 200 ₽</span><br>
        </div>

        <div class="cart__btn">
            <a href="checkout.html" class="btn-filled">Перейти к оформлению</a>
        </div>
    </div>

    <div class="mainSpecial mainSpecial--inner mainSpecial--toparrows lightBg">
        <div class="container">
            <div class="mainSpecial__title innerTitle">Вам могут понравиться</div>
            <div class="mainSpecial__list">

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>

</div>

@@include('../layouts/footer.html')
