@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="catalog">
    <div class="container">
        <h1 class="h1">Каталог</h1>
        <div class="catalog__list">

            <a href="category.html" class="categoryItem">
                <div class="categoryItem__image">
                    <img src="images/content/categories/category1.jpg" alt="">
                </div>
                <div class="categoryItem__title">Камень</div>
            </a>

            <a href="category.html" class="categoryItem">
                <div class="categoryItem__image">
                    <img src="images/content/categories/category2.jpg" alt="">
                </div>
                <div class="categoryItem__title">Sale</div>
            </a>

            <a href="category.html" class="categoryItem">
                <div class="categoryItem__image">
                    <img src="images/content/categories/category3.jpg" alt="">
                </div>
                <div class="categoryItem__title">Сопутствующие товары</div>
            </a>

            <a href="category.html" class="categoryItem">
                <div class="categoryItem__image">
                    <img src="images/content/categories/category4.jpg" alt="">
                </div>
                <div class="categoryItem__title">Изделия</div>
            </a>

        </div>
    </div>
</div>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
