@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="category">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="">Главная</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Каталог</a></li>
            </ul>
        </div>
        <div class="category__title">
            <h1 class="h1">Камень</h1> <a href="#">Скачать каталог <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#download"></use></svg></a>
        </div>

        @@include('../layouts/filters.html')

        <div class="category__list">

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            <div class="productInfo">
                <div class="productInfo__image">
                    <picture>
                        <source srcset="images/content/products/productInfo-mobile.png, images/content/products/productInfo-mobile@2x.png 2x" media="(max-width: 759px)">
                        <source srcset="images/content/products/productInfo.png, images/content/products/productInfo@2x.png 2x">
                        <img srcset="images/content/products/productInfo.png" alt="My default image">
                    </picture>
                </div>
                <div class="productInfo__text">Натуральный природный камень, наряду с деревом, является древнейшим строительным материалом. Природный камень имеет неоспоримые преимущества перед многими современными отделочными материалами. Натуральный камень долговечен, ему присуще великом множество фактур и расцветок. </div>
            </div>

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

        </div>

        @@include('../layouts/pagination.html')

    </div>
</div>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
