@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="checkout">
    <div class="container">

        <div class="breadcrumbs">
            <ul>
                <li><a href="">Главная</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Корзина</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg></li>
            </ul>
        </div>

        <h1 class="h1">Оформление<br>заказа</h1>

        <form action="" class="checkout__form">

            <div class="checkoutBlock">
                <div class="checkoutBlock__left">
                    01 — Контактные данные
                </div>
                <div class="checkoutBlock__right">

                    <div class="checkoutSwitch checkoutSwitch--hider">
                        <div class="checkoutSwitch__text active">Я частное лицо</div>
                        <div class="checkoutSwitch__trigger"></div>
                        <div class="checkoutSwitch__text">Я представляю компанию</div>
                    </div>

                    <fieldset>
                        <div class="row">
                            <div class="col-12">
                                <label>Ф И О</label>
                                <input type="text">
                            </div>
                            <div class="col-6">
                                <label>Телефон</label>
                                <input type="text">
                            </div>
                            <div class="col-6">
                                <label>Email</label>
                                <input type="text">
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>

            <div class="checkoutBlock">
                <div class="checkoutBlock__left">
                    03 — Место и время получения заказа
                </div>
                <div class="checkoutBlock__right">

                    <fieldset>
                        <div class="row">
                            <div class="col-12">
                                <label>Адрес</label>
                                <input type="text">
                            </div>
                            <div class="col-6 opened">
                                <label>Дата</label>
                                <input type="date" class="arrow">
                            </div>
                            <div class="col-6 opened">
                                <label>Время</label>
                                <input type="time" class="arrow">
                            </div>
                        </div>
                    </fieldset>

                    <div class="checkout__text">Доставка по МКАД  900 ₽<br>За МКАД +70 ₽/км</div>
                </div>

            </div>

            <div class="checkoutBlock">
                <div class="checkoutBlock__left">
                    02 — Данные о компании
                </div>
                <div class="checkoutBlock__right">

                    <div class="checkoutBlock__text">Система автоматически найдёт вашу компанию и загрузит информацию</div>

                    <fieldset>
                        <div class="row">
                            <div class="col-12">
                                <label>ИНН компании</label>
                                <input type="text">
                            </div>
                        </div>
                    </fieldset>

                    <div class="checkoutSwitch checkoutSwitch--oneside">
                        <div class="checkoutSwitch__trigger"></div>
                        <div class="checkoutSwitch__text">Заполнить вручную</div>
                    </div>

                    <fieldset>
                        <div class="row">
                            <div class="col-12">
                                <label>Полное наименование</label>
                                <input type="text" value="Общество с ограниченной ответственностью «АЛЬФА ГРУПП МЕДИА ХОЛДИНГ» ">
                            </div>

                            <div class="col-12">
                                <label>Краткое наименование</label>
                                <input type="text" value="ООО «АЛЬФА ГРУПП МЕДИА ХОЛДИНГ» ">
                            </div>

                            <div class="col-12">
                                <label>Юридический адрес</label>
                                <input type="text" value="440071, Пензенская область, г. Пенза, ул. Ухтомского д. 5, оф. 12">
                            </div>
                            <div class="col-12">
                                <label>Фактический адрес</label>
                                <input type="text" value="440071, Пензенская область, г. Пенза, ул. Ухтомского д. 5, оф. 12">
                            </div>

                            <div class="col-4">
                                <label>ИНН</label>
                                <input type="text" value="5835081619">
                            </div>
                            <div class="col-4">
                                <label>КПП</label>
                                <input type="text" value="5835081619">
                            </div>
                            <div class="col-4">
                                <label>ОКПО</label>
                                <input type="text" value="1095835001712">
                            </div>

                            <div class="col-6">
                                <label>ОГРН</label>
                                <input type="text" value="1095835001712">
                            </div>

                            <div class="col-6">
                                <label>ОГРНИП</label>
                                <input type="text" value="">
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>

            <div class="checkoutBlock">
                <div class="checkoutBlock__left">
                    03 — Способ доставки
                </div>
                <div class="checkoutBlock__right">

                    <div class="checkoutSwitch checkoutSwitch">
                        <div class="checkoutSwitch__text active">Доставка</div>
                        <div class="checkoutSwitch__trigger"></div>
                        <div class="checkoutSwitch__text">Самовывоз</div>
                    </div>

                </div>

            </div>

            <div class="checkoutBlock">
                <div class="checkoutBlock__left">
                    04 — Точка самовывоза
                    <div class="checkoutBlock__map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0fe36c3b0c03919a38150bb43c650d50c71f28da2eeb9c5de5add18eee2b1a0&amp;width=961&amp;height=518&amp;lang=ru_RU&amp;scroll=true"></script></div>
                </div>
                <div class="checkoutBlock__right">
                    <div class="checkoutBlock__map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0fe36c3b0c03919a38150bb43c650d50c71f28da2eeb9c5de5add18eee2b1a0&amp;width=961&amp;height=518&amp;lang=ru_RU&amp;scroll=true"></script></div>

                    <div class="checkoutAddress__list">

                        <div class="checkoutAddressItem">
                            <div class="checkoutAddressItem__name">Салон The Dome</div>
                            <div class="checkoutAddressItem__text">
                                Москва, Кутузовский пр-т 12, стр. 1<br>
                                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                                +7 (495) 739-38-80
                            </div>
                        </div>

                        <div class="checkoutAddressItem active">
                            <div class="checkoutAddressItem__name">Салон TwinStore</div>
                            <div class="checkoutAddressItem__text">
                                Москва, 1-й Щипковский пер.<br>
                                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                                +7 (495) 739-38-80
                            </div>
                        </div>

                        <div class="checkoutAddressItem">
                            <div class="checkoutAddressItem__name">Салон The Dome</div>
                            <div class="checkoutAddressItem__text">
                                Москва, Кутузовский пр-т 12, стр. 1<br>
                                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                                +7 (495) 739-38-80
                            </div>
                        </div>

                        <div class="checkoutAddressItem">
                            <div class="checkoutAddressItem__name">Салон TwinStore</div>
                            <div class="checkoutAddressItem__text">
                                Москва, 1-й Щипковский пер.<br>
                                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                                +7 (495) 739-38-80
                            </div>
                        </div>

                        <div class="checkoutAddressItem">
                            <div class="checkoutAddressItem__name">Салон The Dome</div>
                            <div class="checkoutAddressItem__text">
                                Москва, Кутузовский пр-т 12, стр. 1<br>
                                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                                +7 (495) 739-38-80
                            </div>
                        </div>

                        <div class="checkoutAddressItem">
                            <div class="checkoutAddressItem__name">Салон TwinStore</div>
                            <div class="checkoutAddressItem__text">
                                Москва, 1-й Щипковский пер.<br>
                                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                                +7 (495) 739-38-80
                            </div>
                        </div>

                        <div class="checkoutAddressItem">
                            <div class="checkoutAddressItem__name">Салон The Dome</div>
                            <div class="checkoutAddressItem__text">
                                Москва, Кутузовский пр-т 12, стр. 1<br>
                                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                                +7 (495) 739-38-80
                            </div>
                        </div>

                        <div class="checkoutAddressItem">
                            <div class="checkoutAddressItem__name">Салон TwinStore</div>
                            <div class="checkoutAddressItem__text">
                                Москва, 1-й Щипковский пер.<br>
                                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                                +7 (495) 739-38-80
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="checkoutBlock">
                <div class="checkoutBlock__left">
                    05 — Способ оплаты
                </div>
                <div class="checkoutBlock__right">

                    <div class="checkoutSwitch checkoutSwitch--hider">
                        <div class="checkoutSwitch__text active">При получении</div>
                        <div class="checkoutSwitch__trigger"></div>
                        <div class="checkoutSwitch__text">Расчётный счёт</div>
                    </div>

                    <div class="checkoutBlock__description">Вы осуществите оплату только при непосредственном получении товара</div>
                </div>

            </div>

            <div class="checkoutBlock">
                <div class="checkoutBlock__left">
                    06 — Комментарий к заказу
                </div>
                <div class="checkoutBlock__right">
                    <fieldset>
                        <div class="row">
                            <div class="col-12">
                                <label>Текст комментария</label>
                                <textarea name=""  cols="0" rows="0"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

        </form>

        <div class="checkoutBottom">

            <div class="checkoutBottom__info">
                В корзине 3 товара<br><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg>
                Цена без скидки&nbsp;<span>1 015 800 ₽</span><br><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg>
                Скидка&nbsp;<span>67 200 ₽</span><br>
            </div>

            <div class="checkoutBottom__cost">
                <span class="d-block d-md-inline-block">Итого </span> 964 000 ₽
            </div>

        </div>

        <div class="checkout__btn">
            <a href="order-success.html" class="btn-filled">Оформить</a>
        </div>

        <div class="checkout__agree">
            <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text">Подтверждаю согласие с&nbsp;политикой конфиденциальности</span></label>
        </div>

    </div>

</div>

@@include('../layouts/footer.html')
