@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="errorPage">
    <div class="container">

        <div class="errorPage__bg">
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div class="errorPage__under">
            <div class="errorPage__text">Страница не найдена</div>
            <div class="errorPage__btn">
                <a href="#" class="btn-round">На главную</a>
            </div>
        </div>
    </div>

</div>

@@include('../layouts/subscribe.html')

@@include('../layouts/footer.html')
