@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="container">
    <div class="mainTitle">
        <div class="d-md-none">крупное  предприятие обработки камня</div>
        <div class="d-none d-md-block">Фабрика изделий<br>из&nbsp;камня</div>
    </div>
</div>

<div class="mainSlider">

    <div class="mainSlider__item">
        <div class="container">
            <div class="mainSlider__title">
                <div class="d-md-none">кухни, мебель, столешницы<br>и многое другое</div>
                <div class="d-none d-md-block">Эксклюзивные кухни, мебель, столешницы, камины и&nbsp;многое другое</div>
            </div>
        </div>
        <div class="mainSlider__image">
            <img src="images/content/slider/slider-item.jpg" alt="">
        </div>
    </div>

    <div class="mainSlider__item">
        <div class="container">
            <div class="mainSlider__title">
                <div class="d-md-none">кухни, мебель, столешницы<br>и многое другое</div>
                <div class="d-none d-md-block">Эксклюзивные кухни, мебель, столешницы, камины и&nbsp;многое другое</div>
            </div>
        </div>
        <div class="mainSlider__image">
            <img src="images/backgrounds/clients-bg.jpg" alt="">
        </div>
    </div>

    <div class="mainSlider__item">
        <div class="container">
            <div class="mainSlider__title">
                <div class="d-md-none">кухни, мебель, столешницы<br>и многое другое</div>
                <div class="d-none d-md-block">Эксклюзивные кухни, мебель, столешницы, камины и&nbsp;многое другое</div>
            </div>
        </div>
        <div class="mainSlider__image">
            <img src="images/backgrounds/clients-bg-dark.jpg" alt="">
        </div>
    </div>

</div>


<div class="container">
    <div class="mainBenefits row">

        <div class="mainBenefits__item col-6 col-xl-3">
            Материал из любой точки мира
        </div>

        <div class="mainBenefits__item col-6 col-xl-3">
            100 000 м2 камня всегда в наличии
        </div>

        <div class="mainBenefits__item col-6 col-xl-3">
            Более 20 лет<br>на рынке
        </div>

        <div class="mainBenefits__item col-6 col-xl-3">
            Международный сертификат ISO 9001
        </div>

    </div>
</div>


<div class="mainYears lightBg">

    <div class="container">

        <div class="mainYears__title mainPageTitle">17 лет мы работаем<br>с камнем</div>

        <div class="mainYears__wrapper lightBg">
            <div class="mainYears__text1">Мы всегда в тренде, ведь коллекции составляют люди с колоссальным багажом опыта за спиной!</div>

            <div class="mainYearsSlider">

                <div class="mainYearsSlider__item">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__title">мрамор</div>
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-1.jpg" alt=""></div>
                    </div>
                </div>

                <div class="mainYearsSlider__item mainYearsSlider__item--under">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-2.jpg" alt=""></div>
                        <div class="mainYearsSlider__title">Оникс</div>
                    </div>
                </div>

                <div class="mainYearsSlider__item">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__title">гранит</div>
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-3.jpg" alt=""></div>
                    </div>
                </div>

                <div class="mainYearsSlider__item mainYearsSlider__item--under">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-4.jpg" alt=""></div>
                        <div class="mainYearsSlider__title">Травертин</div>
                    </div>
                </div>

                <div class="mainYearsSlider__item">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__title">Травертин</div>
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-5.jpg" alt=""></div>
                    </div>
                </div>

                <div class="mainYearsSlider__item mainYearsSlider__item--under">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-2.jpg" alt=""></div>
                        <div class="mainYearsSlider__title">Оникс</div>
                    </div>
                </div>

                <div class="mainYearsSlider__item">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__title">гранит</div>
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-3.jpg" alt=""></div>
                    </div>
                </div>

                <div class="mainYearsSlider__item mainYearsSlider__item--under">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-4.jpg" alt=""></div>
                        <div class="mainYearsSlider__title">Травертин</div>
                    </div>
                </div>

                <div class="mainYearsSlider__item">
                    <div class="mainYearsSlider__animate">
                        <div class="mainYearsSlider__title">Травертин</div>
                        <div class="mainYearsSlider__image"><img src="images/content/years/years-5.jpg" alt=""></div>
                    </div>
                </div>

            </div>

            <div class="mainYears__text2">
                <svg width="112px" height="40px"><use xlink:href="images/sprite.svg#ikea"></use></svg>
                <p>C 2017 года Artishock является эксклюзивным поставщиком кухонных столешниц из кварцевого агломерата и акрилового камня для IKEA.</p>
                <button class="btn-round">Работать с нами</button>
            </div>
        </div>
    </div>

</div>

<div class="mainDifficulty">
    <div class="container">
        <div class="mainDifficulty__title mainPageTitle">Изделия любой<br>сложности</div>

        <div class="mainDifficulty__list">
            <div class="mainDifficulty__text order-xl-0">Выпускаем не только столешницы и подоконники, как это делают многие. Умеем делать малые архитектурные формы, мозаики и мозаичные панно.</div>

            <a href="#" class="mainDifficultyItem order-xl-2">
                <div class="mainDifficultyItem__image">
                    <img src="images/content/diff/diff-1.jpg" alt="">
                </div>
                <div class="mainDifficultyItem__title">столы</div>
            </a>

            <a href="#" class="mainDifficultyItem mainDifficultyItem--xlmt order-xl-4">
                <div class="mainDifficultyItem__image">
                    <img src="images/content/diff/diff-2.jpg" alt="">
                </div>
                <div class="mainDifficultyItem__title">Камины</div>
            </a>

            <a href="#" class="mainDifficultyItem mainDifficultyItem--mt order-xl-3">
                <div class="mainDifficultyItem__image">
                    <img src="images/content/diff/diff-3.jpg" alt="">
                </div>
                <div class="mainDifficultyItem__title">лестницы</div>
            </a>

            <a href="#" class="mainDifficultyOrder order-xl-1">
                <div class="mainDifficultyItem__image">
                    <img src="images/content/diff/diff-order.png" alt="">
                </div>
                <div class="mainDifficultyOrder__title">Индивидуальный<br>заказ</div>
                <div class="mainDifficultyOrder__text">Столешницы, камины, барные стойки и т.д.</div>
            </a>

            <div class="mainDifficulty__btn order-xl-5">
                <a href="catalog.html" class="btn-round">Все изделия</a>
            </div>
        </div>

    </div>
</div>

@@include('../layouts/equipment.html', {'class':'lightBg'})

<div class="mainSpecial">
    <div class="container">
        <div class="mainSpecial__title mainPageTitle">Спец&shy;предложения</div>
        <div class="mainSpecial__list">

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-1.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-1-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-2.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-2-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-3.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-3-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-1.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-1-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-2.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-2-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-3.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-3-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>


        </div>
        <div class="mainSpecial__btn">
            <a href="#" class="btn-round">Все предложения</a>
        </div>
    </div>
</div>

<div class="instagram">
    <div class="container">
        <div class="instagram__title">
            <span>Мы в instagram</span>
            <span>#artishock_stone</span>
        </div>

        <div class="instagram__list">

            <div class="instagramItem">
                <a href="#" class="instagramItem__image">
                    <img src="images/content/insta/insta-1.jpg" alt="">
                </a>
                <div class="instagramItem__title">@smirnyaga</div>
            </div>

            <div class="instagramItem">
                <a href="#" class="instagramItem__image">
                    <img src="images/content/insta/insta-2.jpg" alt="">
                </a>
                <div class="instagramItem__title">@lapenkos</div>
            </div>

            <div class="instagramItem instagramItem--last">
                <div class="instagramItem__left">
                    <a href="#" class="instagramItem__image">
                        <img src="images/content/insta/insta-3.jpg" alt="">
                    </a>
                    <div class="instagramItem__title">@annann</div>
                </div>
                <div class="instagramItem__right">
                    <a href="#" class="instagramItem__link">
                        <img src="images/pixel.png" alt="">
                        <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#insta"></use></svg>
                    </a>
                    <a href="#" class="instagramItem__image">
                        <img src="images/content/insta/insta-4.jpg" alt="">
                    </a>
                    <div class="instagramItem__title">@valentinov</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="projects mainProjects">
    <div class="container">
        <div class="mainPageTitle">наши проекты</div>
        <div class="mainProjects__list row">
            <div class="projectShort col-12 col-md-6">
                <a href="#">
                    <div class="projectShort__title">Частная архитектура</div>
                </a>
                <div class="projectShort__categories">
                    <ul>
                        <li><a href="#">Фасады</a></li>
                        <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="#">Интерьеры</a></li>
                        <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="#">Благоустройство</a></li>
                    </ul>
                </div>
                <a href="#">
                    <div class="projectShort__image">
                        <img src="images/content/projects/project-2.jpg" alt="">
                        <div class="projectShort__triggers">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="projectShort__content">
                            <img src="images/content/projects/project-2.jpg" class="active" alt="">
                            <img src="images/content/projects/project-1.jpg" alt="">
                            <img src="images/content/projects/project-3.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="projectShort col-12 col-md-6">
                <a href="#">
                    <div class="projectShort__title">Общественная архитектура</div>
                </a>
                <div class="projectShort__categories">
                    <ul>
                        <li><a href="#">Фасады</a></li>
                        <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="#">Интерьеры</a></li>
                        <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="#">Благоустройство</a></li>
                    </ul>
                </div>
                <a href="#">
                    <div class="projectShort__image">
                        <img src="images/content/projects/project-2.jpg" alt="">
                        <div class="projectShort__triggers">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="projectShort__content">
                            <img src="images/content/projects/project-2.jpg" class="active" alt="">
                            <img src="images/content/projects/project-1.jpg" alt="">
                            <img src="images/content/projects/project-3.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="mainClients">
    <div class="container">
        <div class="mainClients__wrapper">
            <div class="mainClients__middle">
                <div class="mainClients__top">
                    <div class="mainClients__title">
                        <div>Нам</div>
                        <div>доверяют</div>
                        <div>сложные</div>
                        <div>объекты</div>
                    </div>
                    <div class="mainClients__warranty">
                        <div>100%<br>гарантия</div>
                        <div>На&nbsp;все материалы<br>и изделия</div>
                    </div>
                </div>
                <div class="mainClients__list">
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-1.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-2.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-3.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-4.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-5.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-1.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-2.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-3.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-4.png" alt="">
                    </div>
                    <div class="mainClients__item">
                        <img src="images/content/clients/client-5.png" alt="">
                    </div>
                </div>
                <div class="mainClients__btn">
                    <a href="clients.html" class="btn-round">Наши клиенты</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mainServices">
    <div class="container">
        <div class="mainServices__wrapper">
            <div class="mainServices__title">услуги</div>
            <div class="mainServices__list">
                <ul>
                    <li>
                        <div class="mainServices__number">1</div>
                        <div class="mainServices__text">Подбор материала в&nbsp;проект</div>
                    </li>
                    <li>
                        <div class="mainServices__number">2</div>
                        <div class="mainServices__text">Изготовление изделий любой сложности</div>
                    </li>
                    <li>
                        <div class="mainServices__number">3</div>
                        <div class="mainServices__text">Строительные монтажные работы</div>
                    </li>
                    <li>
                        <div class="mainServices__number">4</div>
                        <div class="mainServices__text">Гарантийное и&nbsp;пост&shy;гарантийное обслуживание</div>
                    </li>
                </ul>
            </div>
            <div class="mainServices__btn">
                <a href="services.html" class="btn-round">Все услуги</a>
            </div>
        </div>
    </div>
</div>

<div class="mainNews lightBg">
    <div class="container">
        <div class="mainNews__title mainPageTitle">Новости<br> и полезные статьи</div>

        <div class="mainNews__list">

            <div class="blogItem">
                <a href="#">
                    <div class="blogItem__title">Как выбрать материал?</div>
                    <div class="blogItem__icon">
                        <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#material"></use></svg>
                    </div>
                    <div class="blogItem__text">Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов)</div>
                    <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                </a>
            </div>

            <div class="blogItem">
                <a href="#">
                    <div class="blogItem__title">Натуральный
                        или нет?</div>
                    <div class="blogItem__icon">
                        <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
                    </div>
                    <div class="blogItem__text">Очевидно, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует </div>
                    <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                </a>
            </div>

            <div class="blogItem blogItem--image">
                <a href="#">
                    <div class="blogItem__image">
                        <img src="images/content/news-image.jpg" alt="">
                    </div>

                    <div class="blogItem__text">Новый обрабатывающий центр "Tango"</div>
                    <div class="blogItem__date">12.02.2020</div>
                    <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                </a>
            </div>

            <div class="blogItem">
                <a href="#">
                    <div class="blogItem__title">Нужна ли защита от огня?</div>
                    <div class="blogItem__icon">
                        <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#fireproof"></use></svg>
                    </div>
                    <div class="blogItem__text">Новый обрабатывающий центр "Tango"</div>
                    <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                </a>
            </div>

        </div>
        <div class="mainNews__btn">
            <a href="news.html" class="btn-round">Все статьи</a>
        </div>
    </div>
</div>

<div class="container">
    @@include('../layouts/mainshowroom.html', {'title':'<div class="mainShowroom__title mainPageTitle">Шоу-рум <br>и салоны</div>'})
</div>

@@include('../layouts/subscribe.html')

@@include('../layouts/footer.html')
