@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="orderSuccess">
    <div class="container">
        <h1 class="h1"><svg width="70px" height="70px"><use xlink:href="images/sprite.svg#success"></use></svg> Ваш заказ №&nbsp;21312 успешно оформлен</h1>
        <div class="orderSuccess__text">Менеджер свяжется с вами в&nbsp;ближайшее время</div>

        <div class="addServices addServices--order">
            <div class="addServices__list">
                <div class="addServices__item"><a href="#">Монтаж</a></div>
                <div class="addServices__item"><a href="#">Гравировка</a></div>
                <div class="addServices__item"><a href="#">Полировка</a></div>
                <div class="addServices__item"><a href="#">Подъём на этаж</a></div>
            </div>
        </div>
    </div>
</div>

@@include('../layouts/subscribe.html', {'class':'subscribe--noborder'})
@@include('../layouts/footer.html')
