@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="partnership">
    <div class="container">
        <h1 class="h1">Мы открыты к&nbsp;сотрудни&shy;честву</h1>

        <div class="partnershipMain">
            <div class="partnershipMain__left">
                <div class="partnershipMain__text">Мы открыты к сотрудничеству с частными специалистами и компаниями. За 20 лет работы фабрика камня Artishock стала надежным партнером для множества организаций – от ключевых административных институций до известных дизайнеров и архитектурных бюро. Мы являемся многолетним партнером крупнейших девелоперских и строительных компаний Московского региона.</div>
                <div class="partnershipMain__btn">
                    <a href="" class="btn-round">Связаться с нами</a>
                </div>
            </div>
            <div class="partnershipMain__right">
                <img src="images/backgrounds/partnership.jpg" alt="">
                <div class="partnershipMain__ikea">
                    <svg width="112px" height="40px"><use xlink:href="images/sprite.svg#ikea"></use></svg>
                    <p>C 2017 года Artishock является эксклюзивным поставщиком кухонных столешниц из кварцевого агломерата и акрилового камня для IKEA.</p>
                </div>
            </div>
        </div>

    </div>

    @@include('../layouts/clients.html')

    @@include('../layouts/difficult.html')

    @@include('../layouts/terms.html')

</div>

@@include('../layouts/subscribe.html')

@@include('../layouts/footer.html')
