@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="blog projects">
    <div class="container">
        <h1 class="h1">-</h1>

        <button class="btn-round openPopup" data-popup="callback">Callback</button>
        <br>
        <button class="btn-round openPopup" data-popup="question">Вопрос</button>
        <br>
        <button class="btn-round openPopup" data-popup="zamer">Вызов замерщика</button>
        <br>
        <button class="btn-round openPopup" data-popup="obrazec">Заказ образца</button>
        <br>
        <button class="btn-round openPopup" data-popup="obrazec2">Заказ образца 2</button>
        <br>
        <button class="btn-round openPopup" data-popup="lib">Заказ библиотеки образцов</button>
        <br><br>
        <div>
            <button href="images/content/example-1.jpg" class="btn-filled" data-fancybox="gallery"><img style="display: none;" src="images/content/example-3.jpg" alt="">Галерея фотографий с иконками</button>
            <a href="images/content/example-3.jpg" data-fancybox="gallery" style="display: none;"><img src="images/content/example-3.jpg" alt=""></a>
            <a href="images/content/example-1.jpg" data-fancybox="gallery" style="display: none;"><img src="images/content/example-1.jpg" alt=""></a>
            <a href="images/content/example-3.jpg" data-fancybox="gallery" style="display: none;"><img src="images/content/example-3.jpg" alt=""></a>
            <a href="images/content/example-3.jpg" data-fancybox="gallery" style="display: none;"><img src="images/content/example-3.jpg" alt=""></a>
            <a href="images/content/example-1.jpg" data-fancybox="gallery" style="display: none;"><img src="images/content/example-1.jpg" alt=""></a>
            <a href="images/content/example-3.jpg" data-fancybox="gallery" style="display: none;"><img src="images/content/example-3.jpg" alt=""></a>
        </div>
        <br><br>
        <div>
            <button href="https://www.youtube.com/watch?v=6sRCUKYEel4" class="btn-filled" data-fancybox="video">Пример видео</button>
        </div>
        <br><br>
    </div>
</div>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
