@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="productPage">
    <div class="container">

        <div class="breadcrumbs">
            <ul>
                <li><a href="">Главная</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Каталог</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Камни</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Мрамор</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg></li>
            </ul>
        </div>

        <h1 class="h1">Столешница из мрамора Pietra Grey</h1>

        <div class="slab">
            <div class="slab__text slab__text--first">Доступные слэбы</div>
            <div class="slabSlider">

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">1</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">2</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">3</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">4</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">5</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">6</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">7</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">8</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

                <div class="slabItem">
                    <div class="slabItem__image">
                        <div class="slabItem__number">9</div>
                        <img src="images/content/slab.jpg" alt="">
                    </div>
                </div>

            </div>
            <div class="slab__text slab__text--last">Общей фактура камня и изделия из&nbsp;этого камня</div>
        </div>

        <div class="productPage__content">
            <div class="productPageImages">
                <div class="productPageImages__list">
                    <img src="images/content/products/productPage-1.jpg" alt="" class="large">
                    <img src="images/content/products/productPage-2.jpg" alt="">
                    <img src="images/content/products/productPage-3.jpg" alt="">
                    <img src="images/content/products/productPage-4.jpg" alt="">
                    <img src="images/content/products/productPage-1.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-2.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-3.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-4.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-1.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-2.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-3.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-4.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-1.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-2.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-3.jpg" alt="" class="hidden">
                    <img src="images/content/products/productPage-4.jpg" alt="" class="hidden">
                </div>

                <div class="trigger d-none d-md-block">
                    <span>+12</span>
                    <img src="images/content/products/productPage-1.jpg" alt="">
                </div>
            </div>

            <div class="productPageInfo">

                <div class="productPageInfo__block">
                    <div class="productPageInfo__left">
                        <div class="productPageInfo__cost">
                            <large>32 000 ₽</large><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg>штука</sup>
                            <div class="old">
                                35 000 ₽ <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg>м<sup>2</sup>
                            </div>
                        </div>
                    </div>
                    <div class="productPageInfo__right">

                        <div class="productPageSwitch__container">
                            <div class="productPageSwitch checkoutSwitch">
                                <div class="productPageSwitch__text">с начала пачки</div>
                                <div class="productPageSwitch__trigger active"></div>
                                <div class="productPageSwitch__text active">с конца пачки</div>
                            </div>
                            <div class="productPageSwitch__question openPopup" data-popup="packInfo">?</div>
                            <div class="packInfo popup" id="packInfo">
                                <div class="packInfo__container">
                                    <button class="packInfo__close popup__close"><svg width="20px" height="20px"><use xlink:href="images/sprite.svg#close"></use></svg></button>
                                    <div class="packInfo__text">
                                        Слэбы продаются строго либо с&nbsp;начала, либо с конца пачки. Поэтому вам нужно выбрать. В&nbsp;любом случае с вами свяжется менеджер после оформления заказа, и вы еще раз сможете обсудить все детали заказа.
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="productPageInfo__btn">
                            <div class="productPageInfo__count">
                                <input type="text" name="" value="21">
                                <div class="info">кол-во</div>
                            </div>
                            <button class="btn-filled">Добавить в корзину</button>
                        </div>

                        <div class="productPageInfo__preOrder">Изделие изготавливается на заказ</div>

                        <div class="productPageInfo__prices">
                            В наличии 240 м<sup>2</sup><br>
                            Самовывоз завтра из г. Москва
                        </div>
                    </div>
                </div>

                <div class="productPageInfo__block">
                    <div class="productPageInfo__left">
                        Не знаете, сколько камня нужно?
                    </div>
                    <div class="productPageInfo__right">
                        <button class="btn-round btn-calc">Заказать расчёт</button>
                        <div class="productPageTags">
                            <button class="btn-category">Коммерческий</button>
                            <button class="btn-category">Для полов</button>
                            <button class="btn-category">Идеально для ванной</button>
                            <button class="btn-category">Для светлого интерьера</button>
                            <button class="btn-category">Подходит для LOFT</button>
                        </div>
                    </div>
                </div>

                <div class="productPageInfo__block productPageInfo__block--last">
                    <div class="productPageInfo__fullwidth">
                        <div class="row productPageList">
                            <div class="col-6 col-xl-auto productPageList__item">
                                Габариты:<br>280x140x3
                            </div>
                            <div class="col-6 col-xl-auto productPageList__item">
                                Тип фактуры (обработка):<br>Огонь+щётки
                            </div>
                            <div class="col-6 col-xl-auto productPageList__item">
                                Сортность:<br>Premium
                            </div>
                            <div class="col-6 col-xl-auto productPageList__item">
                                Партия:<br>50035
                            </div>
                            <div class="col-6 col-xl-auto productPageList__item">
                                Цвет:<br>Коричневый
                            </div>
                            <div class="col-6 col-xl-auto productPageList__item">
                                Цена:<br>116593.04
                            </div>
                            <div class="col-6 col-xl-auto productPageList__item">
                                Пачка:<br>10117
                            </div>
                            <div class="col-6 col-xl-auto productPageList__item">
                                Остаток:<br>2
                            </div>
                            <div class="col-6 col-xl-auto productPageList__item">
                                Цена за М2:<br>29743.12
                            </div>
                        </div>
                    </div>
                    <div class="productPageInfo__fullwidth">
                        Гладкая поверхность акрилового камня Windswept Prima не впитывает жидкость. Водонепроницаемость и гигиеничность делает этот материал идеальным для изготовления столешниц для кухни, поддонов для душевых кабин, раковин для ванных комнат. После легкой очистки композит не просто выглядит чистым, а является действительно чистым. Поверхность изделий не имеет швов, где может скапливаться грязь и размножаться плесень. Искусственный камень «Кориан» разрешен к использованию в помещениях, где необходим высочайший уровень стерильности.
                    </div>
                </div>


                <div class="productPageInfo__videoBtn">
                    <span></span> Видео<br>с производства
                </div>
            </div>
        </div>

    </div>

    <div class="mainSpecial mainSpecial--inner mainSpecial--toparrows">
        <div class="container">
            <div class="mainSpecial__title innerTitle">Похожие товары</div>
            <div class="mainSpecial__list">

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

            </div>

            <div class="mainSpecial__btn">
                <a href="#" class="btn-round">Все предложения</a>
            </div>
        </div>
    </div>

    <div class="projectsSlider">
        <div class="container">
            <div class="innerTitle">Проекты с этим камнем</div>
            <div class="projectsSlider__list">

                <div class="projectItem">
                    <a href="project.html">
                        <div class="projectItem__top">
                            <div class="projectItem__image">
                                <img src="images/content/projects/project-2.jpg" alt="">
                                <div class="projectItem__triggers">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="projectItem__content">
                                    <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                    <img src="images/content/projects/project-1.jpg" alt="">
                                    <img src="images/content/projects/project-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="projectItem__title">Салон красоты «MOHE»</div>
                        </div>
                    </a>
                </div>

                <div class="projectItem">
                    <a href="project.html">
                        <div class="projectItem__top">
                            <div class="projectItem__image">
                                <img src="images/content/projects/project-2.jpg" alt="">
                                <div class="projectItem__triggers">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="projectItem__content">
                                    <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                    <img src="images/content/projects/project-1.jpg" alt="">
                                    <img src="images/content/projects/project-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="projectItem__title">Салон красоты «MOHE»</div>
                        </div>
                    </a>
                </div>

                <div class="projectItem">
                    <a href="project.html">
                        <div class="projectItem__top">
                            <div class="projectItem__image">
                                <img src="images/content/projects/project-2.jpg" alt="">
                                <div class="projectItem__triggers">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="projectItem__content">
                                    <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                    <img src="images/content/projects/project-1.jpg" alt="">
                                    <img src="images/content/projects/project-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="projectItem__title">Салон красоты «MOHE»</div>
                        </div>
                    </a>
                </div>

                <div class="projectItem">
                    <a href="project.html">
                        <div class="projectItem__top">
                            <div class="projectItem__image">
                                <img src="images/content/projects/project-2.jpg" alt="">
                                <div class="projectItem__triggers">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="projectItem__content">
                                    <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                    <img src="images/content/projects/project-1.jpg" alt="">
                                    <img src="images/content/projects/project-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="projectItem__title">Салон красоты «MOHE»</div>
                        </div>
                    </a>
                </div>

                <div class="projectItem">
                    <a href="project.html">
                        <div class="projectItem__top">
                            <div class="projectItem__image">
                                <img src="images/content/projects/project-2.jpg" alt="">
                                <div class="projectItem__triggers">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="projectItem__content">
                                    <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                    <img src="images/content/projects/project-1.jpg" alt="">
                                    <img src="images/content/projects/project-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="projectItem__title">Салон красоты «MOHE»</div>
                        </div>
                    </a>
                </div>

                <div class="projectItem">
                    <a href="project.html">
                        <div class="projectItem__top">
                            <div class="projectItem__image">
                                <img src="images/content/projects/project-2.jpg" alt="">
                                <div class="projectItem__triggers">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="projectItem__content">
                                    <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                    <img src="images/content/projects/project-1.jpg" alt="">
                                    <img src="images/content/projects/project-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="projectItem__title">Салон красоты «MOHE»</div>
                        </div>
                    </a>
                </div>

                <div class="projectItem">
                    <a href="project.html">
                        <div class="projectItem__top">
                            <div class="projectItem__image">
                                <img src="images/content/projects/project-2.jpg" alt="">
                                <div class="projectItem__triggers">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="projectItem__content">
                                    <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                    <img src="images/content/projects/project-1.jpg" alt="">
                                    <img src="images/content/projects/project-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="projectItem__title">Салон красоты «MOHE»</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="mainSpecial mainSpecial--inner mainSpecial--toparrows">
        <div class="container">
            <div class="mainSpecial__title innerTitle">Товары по тегу</div>

            <div class="searchCategories">
                <div class="searchCategories__list">
                    <div class="searchCategories__item"><a href="#" class="btn-tag">Для светлого интерьера</a></div>
                </div>
            </div>

            <div class="mainSpecial__list">

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

            </div>

            <div class="mainSpecial__btn">
                <a href="#" class="btn-round">Все предложения</a>
            </div>
        </div>
    </div>


    <div class="instagramSlider brownBg">
        <div class="container">
            <div class="innerTitle">проекты покупателей в instagram</div>
            <div class="instagramSlider__list">

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

                <div class="instagramSlider__item">
                    <div class="instagramSlider__image"><img src="images/content/insta/insta-1.jpg" alt=""></div>
                    <div class="instagramSlider__text">@smirnyaga</div>
                </div>

            </div>
        </div>
    </div>


    <div class="mainSpecial mainSpecial--inner mainSpecial--toparrows">
        <div class="container">
            <div class="mainSpecial__title innerTitle">Вы смотрели</div>

            <div class="mainSpecial__list">

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                        <span class="productItem__title">Rosso Dolomiti</span>
                        <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                        <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                    </span>
                    </a>
                </div>

            </div>

            <div class="mainSpecial__btn">
                <a href="#" class="btn-round">Все предложения</a>
            </div>
        </div>
    </div>


    <section class="mainNews mainNews--inner mainNews--toparrows">
        <div class="container">
            <div class="innerTitle">Поможем с выбором</div>

            <div class="mainNews__list">

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#material"></use></svg>
                        </div>
                        <div class="blogItem__text">Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов)</div>
                        <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Натуральный
                            или нет?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
                        </div>
                        <div class="blogItem__text">Очевидно, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует </div>
                        <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <img src="images/content/news-image.jpg" alt="">
                        </div>

                        <div class="blogItem__text">Новый обрабатывающий центр "Tango"</div>
                        <div class="blogItem__date">12.02.2020</div>
                        <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                    </a>
                </div>

                <div class="blogItem d-md-none d-xl-block">
                    <a href="#">
                        <div class="blogItem__title">Нужна ли защита от огня?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#fireproof"></use></svg>
                        </div>
                        <div class="blogItem__text">Новый обрабатывающий центр "Tango"</div>
                        <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Как выбрать материал?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#material"></use></svg>
                        </div>
                        <div class="blogItem__text">Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов)</div>
                        <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                    </a>
                </div>

                <div class="blogItem">
                    <a href="#">
                        <div class="blogItem__title">Натуральный
                            или нет?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
                        </div>
                        <div class="blogItem__text">Очевидно, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует </div>
                        <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                    </a>
                </div>

                <div class="blogItem blogItem--image">
                    <a href="#">
                        <div class="blogItem__image">
                            <img src="images/content/news-image.jpg" alt="">
                        </div>

                        <div class="blogItem__text">Новый обрабатывающий центр "Tango"</div>
                        <div class="blogItem__date">12.02.2020</div>
                        <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                    </a>
                </div>

                <div class="blogItem d-md-none d-xl-block">
                    <a href="#">
                        <div class="blogItem__title">Нужна ли защита от огня?</div>
                        <div class="blogItem__icon">
                            <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#fireproof"></use></svg>
                        </div>
                        <div class="blogItem__text">Новый обрабатывающий центр "Tango"</div>
                        <div class="blogItem__arrow"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></div>
                    </a>
                </div>
            </div>
            <div class="mainNews__showmore mainNews__showmore--left">
                <a href="news.html" class="btn-round">Все статьи</a>
            </div>
        </div>
    </section>

</div>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
