@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="projects projectsPage">
    <div class="container">
        <div class="category__title">
            <h1 class="h1">Проекты</h1>
        </div>


        @@include('../layouts/filters-projects.html')

        <div class="projects__list">

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-2.jpg" alt="">
                            <div class="projectItem__triggers">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="projectItem__content">
                                <img src="images/content/projects/project-2.jpg" class="active" alt="">
                                <img src="images/content/projects/project-1.jpg" alt="">
                                <img src="images/content/projects/project-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

        </div>

        @@include('../layouts/pagination.html')
    </div>
</div>


@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
