@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="project">
    <div class="container">

        <div class="breadcrumbs">
            <ul>
                <li><a href="">Главная</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Проекты</a></li>
            </ul>
        </div>

        <h1 class="h1">Barvikha Hotel&SPA</h1>

        <div class="projectHide">
            <a href="#">
                <div class="hide">Спрятать метки</div>
                <div class="open">Показать</div>
                <span>
                    <svg class="hide" width="20px" height="25px"><use xlink:href="images/sprite.svg#eye"></use></svg>
                    <svg class="open" width="20px" height="25px"><use xlink:href="images/sprite.svg#eye-open"></use></svg>
                </span>
            </a>
        </div>

        <div class="projectSlider">
            <div class="projectSlider__item">
                <div class="projectSlider__btns">
                    <button class="projectSlider__btn" style="top:20%;left:25%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:29%;left:5%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:80%;left:85%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:54%;left:65%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:80%;left:25%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                </div>
                <div class="projectSlider__image">
                    <img src="images/content/project/project-1.jpg" alt="">
                </div>
                <div class="projectSlider__tag" style="background:#416878;">
                    Малый бассейн
                </div>
            </div>
            <div class="projectSlider__item">
                <div class="projectSlider__btns">
                    <button class="projectSlider__btn" style="top:20%;left:25%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:29%;left:5%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:80%;left:85%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:50%;left:50%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:80%;left:25%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                </div>
                <div class="projectSlider__image">
                    <img src="images/content/project/project-2.jpg" alt="">
                </div>
                <div class="projectSlider__tag" style="background: #765238;">
                    Номер люкс
                </div>
            </div>
            <div class="projectSlider__item">
                <div class="projectSlider__btns">
                    <button class="projectSlider__btn" style="top:20%;left:25%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:29%;left:5%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:80%;left:85%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:50%;left:50%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                    <button class="projectSlider__btn" style="top:80%;left:25%;"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                </div>
                <div class="projectSlider__image">
                    <img src="images/content/project/project-3.jpg" alt="">
                </div>
                <div class="projectSlider__tag" style="background:#416878;">
                    Малый бассейн
                </div>
            </div>

        </div>
    </div>
    <div class="projectMaterials">
        <div class="projectMaterialsPopup projectMaterialsPopup1">
            <div class="projectMaterialsPopup__image">
                <a href="#">
                    <img src="images/content/project/material.jpg" alt="">
                </a>
                <button class="projectMaterialsPopup__close"><svg width="14px" height="14px"><use xlink:href="images/sprite.svg#star"></use></svg></button>
                <div class="projectMaterialsPopup__sale">-50%</div>
            </div>
            <div class="projectMaterialsPopup__content">
                Rosso Dolomiti<br>
                от 2 500 ₽/м<sup>2</sup><br>
                В наличии 240 м<sup>2</sup>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="projectContent">
            <div class="projectContent__left">
                <div class="projectContent__title">Общественная архитектура, места общего пользования</div>
                <div class="projectContent__text">Внутрення отделка и обустройство Международного мультимедийного пресс- центра РИА Новости — главного конференц-зала России. Российское агентство международной информации «РИА Новости» (бывшее ФГУП РАМИ «РИА Новости» ликвидировано 09.12.2013) — бывшая медиагруппа и одно из крупнейших информационных агентств мира со штаб-квартирой в Москве, ныне бренд МИА «Россия сегодня». </div>
            </div>
            <div class="projectContent__right">

                <div class="projectContent__item">
                    <div class="d-flex">
                        <div class="title">Вид работ</div>
                        <div class="text">Фасады, интерьеры, благоустройство</div>
                    </div>
                </div>

                <div class="projectContent__item">
                    <div class="d-flex">
                        <div class="title">Даты</div>
                        <div class="text">01.12.2010—31.05.2011</div>
                    </div>
                </div>

                <div class="projectContent__item">
                    <div class="d-flex">
                        <div class="title">Камень</div>
                        <div class="text">Мрамор, оникс, керамогранит, искусственные камни<br>Площадь — 1500 м<sup>2</sup></div>
                    </div>
                </div>

                <div class="projectContent__item">
                    <div class="d-flex">
                        <div class="title">Дизайнер</div>
                        <div class="text">Антон Мирный</div>
                    </div>
                </div>

                <div class="projectContent__item">
                    <div class="d-flex">
                        <div class="title">Архитектор</div>
                        <div class="text">Александр Василевский</div>
                    </div>
                </div>

                <div class="projectContent__item">
                    <div class="d-flex">
                        <div class="title">Подрядчик</div>
                        <div class="text">«АРХ 4»</div>
                    </div>
                </div>

            </div>
        </div>


        <div class="projectTags">
            <div class="projectTags__list">
                <div class="projectTags__item"><a href="#" class="btn-tag">Частная</a></div>
                <div class="projectTags__item"><a href="#" class="btn-tag">Натуральный</a></div>
                <div class="projectTags__item"><a href="#" class="btn-tag">Порфир</a></div>
                <div class="projectTags__item"><a href="#" class="btn-tag">Желтый</a></div>
                <div class="projectTags__item"><a href="#" class="btn-tag">Черный</a></div>
                <div class="projectTags__item"><a href="#" class="btn-tag">Мрамор</a></div>
                <div class="projectTags__item"><a href="#" class="btn-tag">Матовый</a></div>
            </div>
        </div>
    </div>

    <div class="projectProcess brownBg">
        <div class="container">
            <div class="innerTitle">Процесс работы</div>
            <div class="projectProcess__slider">
                <div class="projectProcess__item">
                    <img src="images/content/project/project-process-1.jpg" alt="">
                </div>
                <div class="projectProcess__item">
                    <img src="images/content/project/project-process-2.jpg" alt="">
                </div>
                <div class="projectProcess__item">
                    <img src="images/content/project/project-process-3.jpg" alt="">
                </div>
                <div class="projectProcess__item">
                    <img src="images/content/project/project-process-1.jpg" alt="">
                </div>
                <div class="projectProcess__item">
                    <img src="images/content/project/project-process-2.jpg" alt="">
                </div>
                <div class="projectProcess__item">
                    <img src="images/content/project/project-process-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="mainSpecial mainSpecial--inner mainSpecial--toparrows">
        <div class="container">
            <div class="mainSpecial__title innerTitle">Использованные материалы</div>
            <div class="mainSpecial__list">

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="productItem__content">
                            <div class="productItem__title">Rosso Dolomiti</div>
                            <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                            <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                        </div>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-1.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-1-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                    <span class="productItem__title">Rosso Dolomiti</span>
                    <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                    <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-2.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-2-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                    <span class="productItem__title">Rosso Dolomiti</span>
                    <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                    <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                </span>
                    </a>
                </div>

                <div class="productItem">
                    <a href="/">
                        <div class="productItem__images">
                            <div class="productItem__new">NEW</div>
                            <div class="productItem__example">
                                <img src="images/content/products/product-3.jpg" alt="">
                            </div>
                            <div class="productItem__material">
                                <img src="images/content/products/product-3-1.jpg" alt="">
                            </div>
                        </div>
                        <span class="productItem__content">
                    <span class="productItem__title">Rosso Dolomiti</span>
                    <span class="productItem__cost">от 2 500 ₽/м<sup>2</sup></span>
                    <span class="productItem__stock">В наличии 240 м<sup>2</sup></span>
                </span>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="addServices">
        <div class="container">
            <div class="addServices__title innerTitle">Дополнительные услуги,<br>использованные<br>на проекте</div>

            <div class="addServices__list">
                <div class="addServices__item"><a href="#">Монтаж</a></div>
                <div class="addServices__item"><a href="#">Гравировка</a></div>
                <div class="addServices__item"><a href="#">Полировка</a></div>
                <div class="addServices__item"><a href="#">Подъём на этаж</a></div>
            </div>
        </div>
    </div>

    <div class="projectReview lightBg">
        <div class="container">
            <div class="projectReview__wrapper">
                <div class="projectReview__quote"><svg width="40px" height="30px"><use xlink:href="images/sprite.svg#quote"></use></svg></div>

                <div class="projectReview__center">
                    <div class="projectReview__text">
                        Математический аппарат, описывающий поведение некоторых нелинейных динамических систем, подверженных при определённых условиях явлению, известному как хаос (динамический хаос, детерминированный хаос). Поведение такой системы кажется случайным, даже если модель, описывающая систему, является детерминированной.
                    </div>
                    <div class="projectReview__author">
                        Дмитрий Киселёв,<br>Генеральный директор РИА Новости
                    </div>
                </div>

                <div class="projectReview__quote"><svg width="40px" height="30px"><use xlink:href="images/sprite.svg#quote"></use></svg></div>
            </div>
        </div>
    </div>

    <div class="projectPagination">
        <div class="container">
            <div class="projectPagination__wrapper">

                <a href="#" class="projectPagination__prev">
                    <div class="projectPagination__image"><img src="images/content/project/project-prev.jpg" alt=""></div>
                    <div class="projectPagination__arrow"><div class="button"><svg width="70px" height="70px"><use xlink:href="images/sprite.svg#slider-arrow"></use></svg></div></div>
                    <div class="projectPagination__name">Пентхаус, Москва</div>
                </a>

                <a href="#" class="projectPagination__next">
                    <div class="projectPagination__image order-xl-3"><img src="images/content/project/project-next.jpg" alt=""></div>
                    <div class="projectPagination__arrow order-xl-2"><div class="button"><svg width="70px" height="70px"><use xlink:href="images/sprite.svg#slider-arrow"></use></svg></div></div>
                    <div class="projectPagination__name order-xl-1">Частный Дом, Горки 6</div>
                </a>

            </div>
        </div>
    </div>

    </div>
</div>


@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
