@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="category">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="">Главная</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Акция</a></li>
            </ul>
        </div>
        <div class="category__title">
            <h1 class="h1">Акция</h1> <a href="#">Скачать каталог <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#download"></use></svg></a>
        </div>


        <div class="category__mobileBtns">
            <button class="mobileTags">Теги <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#plus"></use></svg></button>
            <button class="mobileSort">Cортировка <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#plus"></use></svg></button>
            <button class="mobileFilters">Фильтры <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#plus"></use></svg></button>
        </div>

        <div class="category__btns">

            <div class="categoryTags">
                <button class="close"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></button>
                <div class="categoryTags__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Теги</div>
                <div class="categoryTags__list">
                    <ul>
                        <li><a href="" class="active">Идеально для ванной</a></li>
                        <li><a href="" class="active">Подходит для LOFT</a></li>
                        <li><a href="">Для тёмного интерьера</a></li>
                        <li><a href="">Для светлого интерьера</a></li>
                        <li><a href="">Коммерческий</a></li>
                        <li><a href="">Для полов</a></li>
                        <li><a href="">Для стен</a></li>
                    </ul>
                </div>
            </div>

            <form class="categoryFilter">

                <div class="categoryFilter__item categoryFilter__item--sort">
                    <button class="close"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></button>
                    <button class="categoryFilter__opener"><span>Cортировать</span> <span class="number">2</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                    <div class="categoryFilterPopup categoryFilterPopup--sort">
                        <div class="categoryFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Сортировка</div>
                        <div class="categoryFilterPopup__list">
                            <ul>
                                <li><label><input type="radio" name="sortby" checked><span class="radioTrigger"></span> <span class="text">Цена, по возрастанию</span></label></li>
                                <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">Цена, по убыванию</span></label></li>
                                <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">Популярное</span></label></li>
                                <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">По алфавиту</span></label></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="categoryFilter__filters">
                    <button class="close"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></button>
                    <div class="categoryFilter__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Фильтры</div>

                    <div class="categoryFilter__list">

                        <div class="categoryFilter__item categoryFilter__item--spacer">

                        </div>

                        <div class="categoryFilter__item">

                            <button class="categoryFilter__opener"><span>Цвет</span> <span class="number show">2</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                            <div class="categoryFilterPopup">
                                <div class="categoryFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> <div class="number show">2</div> Цвет</div>
                                <div class="categoryFilterPopup__list categoryFilterPopup__list--color">
                                    <ul>
                                        <li><label><input type="radio" name="type"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Белый</span></label> <div class="color color--white"></div></li>
                                        <li><label><input type="checkbox" name="color" checked><span class="checkboxTrigger"></span> <span class="text">Бирюзовый</span></label> <div class="color color--biruza"></div></li>
                                        <li><label><input type="checkbox" name="color" checked><span class="checkboxTrigger"></span> <span class="text">Бордовый</span></label> <div class="color color--bordo"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Голубой</span></label> <div class="color color--blue"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Жёлтый</span></label> <div class="color color--yellow"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Зелёный</span></label> <div class="color color--green"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Золотой</span></label> <div class="color color--gold"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Коралловый</span></label> <div class="color color--koral"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Коричневый</span></label> <div class="color color--brown"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Пурпурный</span></label> <div class="color color--purple"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Пурпурный</span></label> <div class="color color--purple"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Пурпурный</span></label> <div class="color color--purple"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Пурпурный</span></label> <div class="color color--purple"></div></li>
                                        <li><label><input type="checkbox" name="color"><span class="checkboxTrigger"></span> <span class="text">Пурпурный</span></label> <div class="color color--purple"></div></li>
                                    </ul>
                                </div>
                                <div class="categoryFilterPopup__submit"><button class="btn-round">Применить</button></div>
                            </div>

                        </div>

                        <div class="categoryFilter__item">

                            <button class="categoryFilter__opener"><span>Цена</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                            <div class="categoryFilterPopup categoryFilterPopup--cost">
                                <div class="categoryFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Цена</div>
                                <div class="categoryFilterPopup__cost">
                                    <input type="text" name="costFrom" value="75">
                                    <input type="text" name="costTo" value="30000">
                                    <div class="costSlider uiSlider">

                                    </div>
                                </div>
                                <div class="categoryFilterPopup__submit"><button class="btn-round">Применить</button></div>
                            </div>

                        </div>

                        <div class="categoryFilter__item">

                            <button class="categoryFilter__opener"><span>Тип камня</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                            <div class="categoryFilterPopup">
                                <div class="categoryFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Тип камня</div>
                                <div class="categoryFilterPopup__list">
                                    <ul>
                                        <li><label><input type="radio" name="type"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Порфир</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Оникс</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Известняк</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Аган</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Травертин</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                    </ul>
                                </div>
                                <div class="categoryFilterPopup__submit"><button class="btn-round">Применить</button></div>
                            </div>

                        </div>

                        <div class="categoryFilter__item">

                            <button class="categoryFilter__opener"><span>Тип изделия</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                            <div class="categoryFilterPopup">
                                <div class="categoryFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Тип изделия</div>
                                <div class="categoryFilterPopup__list">
                                    <ul>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Порфир</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Оникс</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Известняк</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Аган</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Травертин</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                    </ul>
                                </div>
                                <div class="categoryFilterPopup__submit"><button class="btn-round">Применить</button></div>
                            </div>

                        </div>

                        <div class="categoryFilter__item">

                            <button class="categoryFilter__opener"><span>Толщина</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                            <div class="categoryFilterPopup">
                                <div class="categoryFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Толщина</div>
                                <div class="categoryFilterPopup__list">
                                    <ul>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Порфир</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Оникс</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Известняк</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Аган</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Травертин</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                    </ul>
                                </div>
                                <div class="categoryFilterPopup__submit"><button class="btn-round">Применить</button></div>
                            </div>

                        </div>

                        <div class="categoryFilter__item">

                            <button class="categoryFilter__opener"><span>Страны</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                            <div class="categoryFilterPopup">
                                <div class="categoryFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Страны</div>
                                <div class="categoryFilterPopup__list">
                                    <ul>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Порфир</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Оникс</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Известняк</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Аган</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Травертин</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="radio" name="country"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                    </ul>
                                </div>
                                <div class="categoryFilterPopup__submit"><button class="btn-round">Применить</button></div>
                            </div>

                        </div>

                        <div class="categoryFilter__item">

                            <button class="categoryFilter__opener"><span>Фактура</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                            <div class="categoryFilterPopup">
                                <div class="categoryFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Фактура</div>
                                <div class="categoryFilterPopup__list">
                                    <ul>
                                        <li><label><input type="radio" name="facture"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Порфир</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Оникс</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Известняк</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Аган</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Травертин</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Мрамор</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                        <li><label><input type="checkbox" name="facture"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                    </ul>
                                </div>

                                <div class="categoryFilterPopup__submit"><button class="btn-round">Применить</button></div>
                            </div>

                        </div>

                        <div class="categoryFilter__item categoryFilter__item--inline">

                            <label><input type="checkbox" name="sale" checked> <span class="checkboxTrigger"></span> <span>Акция</span></label>

                        </div>

                        <div class="categoryFilter__item categoryFilter__item--inline">

                            <label><input type="checkbox" name="instock"> <span class="checkboxTrigger"></span> <span>Наличие</span></label>

                        </div>

                    </div>

                </div>

            </form>
        </div>


        <div class="category__list">

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            <div class="productInfo">
                <div class="productInfo__image">
                    <picture>
                        <source srcset="images/content/products/productInfo-mobile.png, images/content/products/productInfo-mobile@2x.png 2x" media="(max-width: 759px)">
                        <source srcset="images/content/products/productInfo.png, images/content/products/productInfo@2x.png 2x">
                        <img srcset="images/content/products/productInfo.png" alt="My default image">
                    </picture>
                </div>
                <div class="productInfo__text">Натуральный природный камень, наряду с деревом, является древнейшим строительным материалом. Природный камень имеет неоспоримые преимущества перед многими современными отделочными материалами. Натуральный камень долговечен, ему присуще великом множество фактур и расцветок. </div>
            </div>

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

            @@include('../layouts/productItem.html')

        </div>

        @@include('../layouts/pagination.html')

    </div>
</div>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
