@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="search category">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="">Главная</a></li>
                <li><svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> <a href="">Результат поиска</a></li>
            </ul>
        </div>

        <div class="searchForm">
            <a href="#" class="searchForm__search"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#search"></use></svg></a>
            <textarea type="text" name="" placeholder="" id="autosize" rows="1">мрамор Rosso Dolomiti</textarea>
            <a href="#" class="searchForm__clear"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#close-search"></use></svg></a>
        </div>

        <div class="searchCategories">
            <div class="searchCategories__list">
                <div class="searchCategories__item"><a href="#" class="btn-tag">Товары — 23</a></div>
                <div class="searchCategories__item"><a href="#" class="btn-tag">Статьи — 5</a></div>
                <div class="searchCategories__item"><a href="#" class="btn-tag">Проекты — 8</a></div>
            </div>
        </div>

        <div class="search__found">Товары — 23</div>

        @@include('../layouts/filters.html')

        <div class="category__list">

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-2.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-2-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-2.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-2-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-3.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-3-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-1.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-1-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-2.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-2-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-3.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-3-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-2.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-2-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-3.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-3-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-2.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-2-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-3.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-3-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-3.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-3-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="productItem">
                <a href="/">
                    <div class="productItem__images">
                        <div class="productItem__new">NEW</div>
                        <div class="productItem__example">
                            <img src="images/content/products/product-3.jpg" alt="">
                        </div>
                        <div class="productItem__material">
                            <img src="images/content/products/product-3-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="productItem__content">
                        <div class="productItem__title">Rosso Dolomiti</div>
                        <div class="productItem__cost">от 2 500 ₽/м<sup>2</sup></div>
                        <div class="productItem__stock">В наличии 240 м<sup>2</sup></div>
                    </div>
                </a>
            </div>

            <div class="category__showmore">
                <button class="btn-round">Показать еще</button>
            </div>
        </div>

    </div>
</div>

<section class="mainNews mainNews--inner lightBg">
    <div class="container">
        <div class="innerTitle">Статьи — 5</div>

        <div class="mainNews__row">

            <div class="blogItem">
                <a href="#">
                    <div class="blogItem__title">Как выбрать материал?</div>
                    <div class="blogItem__icon">
                        <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#material"></use></svg>
                    </div>
                    <div class="blogItem__text">Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов)</div>
                </a>
            </div>

            <div class="blogItem">
                <a href="#">
                    <div class="blogItem__title">Натуральный
                        или нет?</div>
                    <div class="blogItem__icon">
                        <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#natural"></use></svg>
                    </div>
                    <div class="blogItem__text">Очевидно, что постоянное информационно-пропагандистское обеспечение нашей деятельности способствует </div>
                </a>
            </div>

            <div class="blogItem blogItem--image">
                <a href="#">
                    <div class="blogItem__image">
                        <img src="images/content/news-image.jpg" alt="">
                    </div>

                    <div class="blogItem__text">Новый обрабатывающий центр "Tango"</div>
                    <div class="blogItem__date">12.02.2020</div>
                </a>
            </div>

            <div class="blogItem d-md-none d-xl-block">
                <a href="#">
                    <div class="blogItem__title">Нужна ли защита от огня?</div>
                    <div class="blogItem__icon">
                        <svg width="70px" height="70px"><use xlink:href="images/sprite.svg#fireproof"></use></svg>
                    </div>
                    <div class="blogItem__text">Новый обрабатывающий центр "Tango"</div>
                </a>
            </div>

        </div>
        <div class="mainNews__showmore">
            <a href="news.html" class="btn-round">Показать еще</a>
        </div>
    </div>
</section>

<section class="projects mainNews--inner">
    <div class="container">
        <div class="innerTitle">Проекты — 8</div>

        @@include('../layouts/filters-projects.html')

        <div class="projects__list">

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-3.jpg" alt="">
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-3.jpg" alt="">
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-3.jpg" alt="">
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-3.jpg" alt="">
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-3.jpg" alt="">
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="projectItem">
                <a href="project.html">
                    <div class="projectItem__top">
                        <div class="projectItem__image">
                            <img src="images/content/projects/project-3.jpg" alt="">
                        </div>
                        <div class="projectItem__title">Салон красоты «MOHE»</div>
                    </div>
                    <div class="projectItem__list">
                        <ul>
                            <li><div class="date">12.02.2020</div> Общественная архитектура.<br>Интерьер. благоустройство.</li>
                            <li>Мрамор, оникс, искусственные камни.</li>
                            <li>Дизайнер — Александр Василевский.</li>
                        </ul>
                    </div>
                </a>
            </div>

            <div class="category__showmore">
                <button class="btn-round">Показать еще</button>
            </div>
        </div>

    </div>
</section>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
