@@include('../layouts/head.html')

@@include('../layouts/header.html')

<div class="services">
    <div class="container">

        <div class="services__title">
            <h1 class="h1">Услуги</h1> <a href="#">Скачать прайс-лист <span><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#download"></use></svg></span></a>
        </div>

        <div class="servicesInfo">
            <div class="servicesInfo__list">

                <div class="servicesInfo__item">
                    <div class="servicesInfo__number">01</div>
                    <div class="servicesInfo__icon"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#service-1"></use></svg></div>
                    <div class="servicesInfo__text">Подбор материала в&nbsp;проект, консультация по&nbsp;техническим решениям и свойствам материала</div>
                </div>

                <div class="servicesInfo__item">
                    <div class="servicesInfo__number">02</div>
                    <div class="servicesInfo__icon"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#service-2"></use></svg></div>
                    <div class="servicesInfo__text">Изготовление изделий любой сложности</div>
                </div>

                <div class="servicesInfo__item">
                    <div class="servicesInfo__number">03</div>
                    <div class="servicesInfo__icon"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#service-3"></use></svg></div>
                    <div class="servicesInfo__text">Работа с широкой складской программой из 100 000 м2 камня</div>
                </div>

                <div class="servicesInfo__item">
                    <div class="servicesInfo__number">04</div>
                    <div class="servicesInfo__icon"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#service-4"></use></svg></div>
                    <div class="servicesInfo__text">Комплексное управление и сопровождение проекта — от сметы до монтажа</div>
                </div>

                <div class="servicesInfo__item">
                    <div class="servicesInfo__number">05</div>
                    <div class="servicesInfo__icon"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#service-5"></use></svg></div>
                    <div class="servicesInfo__text">Фабрика сертифицирована по международному стандарту ISO 9001</div>
                </div>

                <div class="servicesInfo__item">
                    <div class="servicesInfo__number">06</div>
                    <div class="servicesInfo__icon"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#service-6"></use></svg></div>
                    <div class="servicesInfo__text">Гарантийное и постгарантийное обслуживание</div>
                </div>

                <div class="servicesInfo__item">
                    <div class="servicesInfo__number">07</div>
                    <div class="servicesInfo__icon"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#service-7"></use></svg></div>
                    <div class="servicesInfo__text">Строительные монтажные работы</div>
                </div>

            </div>
        </div>

        <div class="servicesList">
            <div class="servicesList__list">

                <div class="servicesList__item">
                    <div class="servicesList__title">Замер</div>
                    <div class="servicesList__image">
                        <picture>
                            <source srcset="images/content/services/service-1.jpg, images/content/services/service-1@2x.jpg 2x">
                            <img srcset="images/content/services/service-1.jpg" alt="My default image">
                        </picture>
                    </div>
                    <div class="servicesList__text">Осуществляем замеры с помощью пролайнера. Повседневная практика показывает, что сложившаяся структура организации способствует подготовки и реализации позиций.</div>
                    <div class="servicesList__btn">
                        <a href="#" class="btn-round">Записаться на замер</a>
                    </div>
                </div>

                <div class="servicesList__item">
                    <div class="servicesList__title">Проектирование</div>
                    <div class="servicesList__image">
                        <picture>
                            <source srcset="images/content/services/service-2.jpg, images/content/services/service-2@2x.jpg 2x">
                            <img srcset="images/content/services/service-2.jpg" alt="My default image">
                        </picture>
                    </div>
                    <div class="servicesList__text">Задача организации, в особенности же постоянное информационно- пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения</div>
                    <div class="servicesList__btn">
                        <a href="#" class="btn-round">Записаться на проектирование</a>
                    </div>
                </div>

                <div class="servicesList__item">
                    <div class="servicesList__title">Монтаж</div>
                    <div class="servicesList__image">
                        <picture>
                            <source srcset="images/content/services/service-3.jpg, images/content/services/service-3@2x.jpg 2x">
                            <img srcset="images/content/services/service-3.jpg" alt="My default image">
                        </picture>
                    </div>
                    <div class="servicesList__text">Осуществляем монтаж сертифицированными, высококвалифицированными бригадами, прошедшими стажировку в Италии.</div>
                    <div class="servicesList__btn">
                        <a href="#" class="btn-round">Записаться на монтаж</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
