@@include('../layouts/head.html')

@@include('../layouts/header.html')

<section class="showroom">
    <div class="container">


        <h1 class="h1">Шоу-рум и&nbsp;салоны</h1>

        <div class="showroom__image">
            <picture>
                <source srcset="images/backgrounds/showroom/showroom-mobile.jpg, images/backgrounds/showroom/showroom-mobile@2x.jpg 2x" media="(max-width: 759px)">
                <source srcset="images/backgrounds/showroom/showroom-tablet.jpg, images/backgrounds/showroom/showroom-tablet@2x.jpg 2x" media="(min-width: 760px) and (max-width:1199px)">
                <source srcset="images/backgrounds/showroom/showroom.jpg, images/backgrounds/showroom/showroom@2x.jpg 2x" media="(min-width: 1200px)">
                <img srcset="images/backgrounds/showroom/showroom.jpg" alt="My default image">
            </picture>
        </div>


        @@include('../layouts/mainshowroom.html',{'title':''})
    </div>
</section>

@@include('../layouts/subscribe.html')
@@include('../layouts/footer.html')
