<div class="blogBanner">
    <div class="container">
        <div class="blogBanner__title">Предлагаем выгодные условия сотрудничес&shy;тва</div>
        <div class="blogBanner__text">Равным образом постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов)</div>
        <div class="blogBanner__btn">
            <a href="" class="btn-round white">О сотрудничестве</a>
        </div>
    </div>
</div>