<div class="clients lightBg">
    <div class="container">
        <div class="innerTitle">Нам доверяют</div>

        <div class="clients__list">

            <div class="clients__item">
                <img src="images/content/clients/client-1.png" alt="">
            </div>
            <div class="clients__item">
                <img src="images/content/clients/client-2.png" alt="">
            </div>
            <div class="clients__item">
                <img src="images/content/clients/client-3.png" alt="">
            </div>
            <div class="clients__item">
                <img src="images/content/clients/client-4.png" alt="">
            </div>
            <div class="clients__item">
                <img src="images/content/clients/client-5.png" alt="">
            </div>

        </div>

        <div class="clients__btn">
            <a href="" class="btn-round">Равернуть всё</a>
        </div>
    </div>
</div>