<div class="difficult">
    <div class="container">
        <div class="mainPageTitle">Изделия любой<br>сложности</div>

        <div class="difficult__wrapper">
            <div class="difficult__text">Выпускаем не только столешницы и подоконники, как это делают многие. Умеем делать малые архитектурные формы, мозаики и мозаичные панно.</div>

            <div class="difficult__slider">

                <a href="#" class="difficultItem type0">
                    <div class="difficultItem__title">Столы</div>
                    <div class="difficultItem__image">
                        <picture>
                            <source srcset="images/content/difficult/difficult-1.jpg, images/content/difficult/difficult-1@2x.jpg 2x">
                            <img srcset="images/content/difficult/difficult-1.jpg">
                        </picture>
                    </div>
                    <div class="difficultItem__text">Love me, love me not<br>Круглый обеденный стол из мрамора</div>
                </a>

                <a href="#" class="difficultItem type1">
                    <div class="difficultItem__title">Ванны</div>
                    <div class="difficultItem__image">
                        <picture>
                            <source srcset="images/content/difficult/difficult-2.jpg, images/content/difficult/difficult-2@2x.jpg 2x">
                            <img srcset="images/content/difficult/difficult-2.jpg">
                        </picture>
                    </div>
                    <div class="difficultItem__text">Grand Etabli Auge<br>Мраморная ванна</div>
                </a>

                <a href="#" class="difficultItem type2">
                    <div class="difficultItem__title">предметы интерьера</div>
                    <div class="difficultItem__image">
                        <picture>
                            <source srcset="images/content/difficult/difficult-3.jpg, images/content/difficult/difficult-3@2x.jpg 2x">
                            <img srcset="images/content/difficult/difficult-3.jpg">
                        </picture>
                    </div>
                    <div class="difficultItem__text">Urano<br>Торшер из каррарского мрамора</div>
                </a>

                <a href="#" class="difficultItem type1">
                    <div class="difficultItem__title">Столы</div>
                    <div class="difficultItem__image">
                        <picture>
                            <source srcset="images/content/difficult/difficult-1.jpg, images/content/difficult/difficult-1@2x.jpg 2x">
                            <img srcset="images/content/difficult/difficult-1.jpg">
                        </picture>
                    </div>
                    <div class="difficultItem__text">Love me, love me not<br>Круглый обеденный стол из мрамора</div>
                </a>

            </div>

            <div class="difficult__ikea">
                <svg width="112px" height="40px"><use xlink:href="images/sprite.svg#ikea"></use></svg>
                <p>C 2017 года Artishock является эксклюзивным поставщиком кухонных столешниц из кварцевого агломерата и акрилового камня для IKEA.</p>
            </div>
        </div>

    </div>
</div>