<div class="mainEquipment @@class">
    <div class="container">
        <div class="mainEquipment__title mainPageTitle">используем Лучшее<br>оборудова&shyние</div>

        <div class="mainEquipment__wrapper">
            <div class="mainEquipment__left">

                <div class="mainEquipment__video">
                    <div class="cover"></div>
                    <video width="440" height="600" poster="images/content/equipment/equipment-video.jpg">
                        <source src="video/artishock-main.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    </video>
                </div>

                <img src="images/content/equipment/equipment.jpg" alt="">
            </div>

            <div class="mainEquipment__content">
                <p>Изделия по вашим размерам произволдят роботы. В таком случае ошибка минимальна. Мы используем новое оборудование «TANGO» — автоматизированную линию раскроя и обработки изделия.</p>
                <p>Станок построен на энергоэффетивной архитектуре, что позволяет снизить цену итогового изделие без потери качества</p>

                <button class="mainEquipment__info">
                    <span></span>
                    Видео <br>с производства
                </button>
            </div>
        </div>

    </div>
</div>
