
<div class="projects__mobileBtns">
    <button class="mobileTags-projects">Теги <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#plus"></use></svg></button>
    <button class="mobileSort-projects">Cортировка <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#plus"></use></svg></button>
    <button class="mobileFilters-projects">Фильтры <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#plus"></use></svg></button>
</div>

<div class="projects__btns">

    <div class="projectsTags">
        <button class="close"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></button>
        <div class="categoryTags__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Теги</div>
        <div class="projectsTags__list">
            <ul>
                <li><a href="">Общественные</a></li>
                <li><a href="">Частные</a></li>
            </ul>
        </div>
    </div>

    <form class="projectsFilter">

        <div class="projectsFilter__item projectsFilter__item--sort">
            <button class="close"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></button>
            <button class="projectsFilter__opener"><span>Cортировать</span> <span class="number">2</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

            <div class="projectsFilterPopup projectsFilterPopup--sort">
                <div class="projectsFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Сортировка</div>
                <div class="projectsFilterPopup__list">
                    <ul>
                        <li><label><input type="radio" name="sortby" checked><span class="radioTrigger"></span> <span class="text">Цена, по возрастанию</span></label></li>
                        <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">Цена, по убыванию</span></label></li>
                        <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">Популярное</span></label></li>
                        <li><label><input type="radio" name="sortby"><span class="radioTrigger"></span> <span class="text">По алфавиту</span></label></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projectsFilter__filters">
            <button class="close"><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></button>
            <div class="projectsFilter__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Фильтры</div>

            <div class="projectsFilter__list">

                <div class="projectsFilter__item projectsFilter__item--spacer">

                </div>

                <div class="projectsFilter__item">

                    <button class="projectsFilter__opener"><span>Порода камня</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                    <div class="projectsFilterPopup">
                        <div class="projectsFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Порода камня</div>
                        <div class="projectsFilterPopup__list">
                            <ul>
                                <li><label><input type="radio" name="type"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Мрамор</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Порфир</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Оникс</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Известняк</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Аган</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Травертин</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Мрамор</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="checkbox" name="type"><span class="checkboxTrigger"></span> <span class="text">Гранит</span></label></li>
                            </ul>
                        </div>
                        <div class="projectsFilterPopup__submit"><button class="btn-round">Применить</button></div>
                    </div>

                </div>

                <div class="projectsFilter__item">

                    <button class="projectsFilter__opener"><span>Тип проекта</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                    <div class="projectsFilterPopup">
                        <div class="projectsFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Тип проекта</div>
                        <div class="projectsFilterPopup__list">
                            <ul>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Порфир</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Оникс</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Известняк</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Аган</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Травертин</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="itemtype"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                            </ul>
                        </div>
                        <div class="projectsFilterPopup__submit"><button class="btn-round">Применить</button></div>
                    </div>

                </div>

                <div class="projectsFilter__item">

                    <button class="projectsFilter__opener"><span>Тип изделия</span> <svg width="15px" height="25px"><use xlink:href="images/sprite.svg#arrow-bottom"></use></svg></button>

                    <div class="projectsFilterPopup">
                        <div class="projectsFilterPopup__title"><button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button> Тип изделия</div>
                        <div class="projectsFilterPopup__list">
                            <ul>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Все</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Порфир</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Оникс</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Известняк</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Аган</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Травертин</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Мрамор</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                                <li><label><input type="radio" name="thickness"><span class="radioTrigger"></span> <span class="text">Гранит</span></label></li>
                            </ul>
                        </div>
                        <div class="projectsFilterPopup__submit"><button class="btn-round">Применить</button></div>
                    </div>

                </div>

            </div>

        </div>

    </form>
</div>
