    @@include('../layouts/popups.html')

    <footer class="footer @@class">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-4">
                    <a href="/" class="footer__logo"><svg><use xlink:href="images/sprite.svg#logo"></use></svg></a>
                </div>

                <div class="col-12 col-md-3 col-xl-2">
                    <div class="footer__nav">
                        <div class="footer__title">Каталог</div>
                        <ul>
                            <li><a href=""><svg width="11px" height="11px"><use xlink:href="images/sprite.svg#sale"></use></svg> Sale</a></li>
                            <li><a href="">Новинки</a></li>
                            <li><a href="">По материалам</a></li>
                            <li><a href="">По изделиям</a></li>
                            <li><a href="">По объекту</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-xl-2">
                    <div class="footer__nav">
                        <div class="footer__title">Компания</div>
                        <ul>
                            <li><a href="">О компании</a></li>
                            <li><a href="">Проекты</a></li>
                            <li><a href="">Услуги</a></li>
                            <li><a href="">Сотрудничество</a></li>
                            <li><a href="">Блог</a></li>
                            <li><a href="">Полезные статьи</a></li>
                            <li><a href="">Новости</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-xl-2">
                    <div class="footer__nav">
                        <div class="footer__title">Шоу-рум и&nbsp;салоны</div>
                        <ul>
                            <li><a href="">Красногорск</a></li>
                            <li><a href="">The Dome</a></li>
                            <li><a href="">Гранд</a></li>
                            <li><a href="">TwinStore</a></li>
                            <li><a href="">Artplay</a></li>
                            <li><a href="">Экспострой</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-3 col-xl-2">
                    <div class="footer__nav">
                        <div class="footer__title">Контакты</div>
                        <ul>
                            <li><a href="">+7 (495) 739-38-80</a></li>
                            <li><a href="">hello@artishock.ru</a></li>
                            <li><a href="">Обратный звонок</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <div class="footer__social">
                        <a href="#"><svg width="30px" height="30px"><use xlink:href="images/sprite.svg#fb"></use></svg></a>
                        <a href="#"><svg width="30px" height="30px"><use xlink:href="images/sprite.svg#vk"></use></svg></a>
                        <a href="#"><svg width="30px" height="30px"><use xlink:href="images/sprite.svg#youtube"></use></svg></a>
                        <a href="#"><svg width="30px" height="30px"><use xlink:href="images/sprite.svg#instagramm"></use></svg></a>
                    </div>
                    <div class="footer__copyrights">
                        © 1998 —&nbsp;2020. Все права защищены<br>
                        <a href="">Политика обработки данных</a><br>
                        <a href="">Публичная оферта</a> &nbsp;&nbsp;&nbsp; <a href="">Реквизиты</a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-8">
                    <div class="footer__end">
                        <div class="footer__checkbox">
                            <label>
                                <input type="checkbox" name="theme">
                                <span class="trigger"></span>
                                <span class="text">Темная тема</span>
                            </label>
                        </div>
                        <div class="footer__dev"><a href="#">Сделано в ДзенДизайн</a></div>
                    </div>
                </div>

            </div>

        </div>
    </footer>

    </body>
</html>