
<!--<div class="cookiePopup">-->
<!--    <div class="cookiePopup__text">This website uses cookies to improve your experience</div>-->
<!--    <div class="cookiePopup__btn">-->
<!--        <button class="cookieBtn">Accept <img src="images/cookie.png" alt=""></button>-->
<!--    </div>-->
<!--</div>-->

<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="/" class="header__logo">
                <svg><use xlink:href="images/sprite.svg#logo"></use></svg>
            </a>
            <div class="header__catalog">
                <a href="javascript:;">Каталог <svg width="10px" height="11px"><use xlink:href="images/sprite.svg#catalog-arrow"></use></svg></a>
            </div>

            <span class="headerMobileWrapper">

                <div class="header__catalogNav">
                    <a href="javascript:;" class="close">Закрыть <span><svg width="15px" height="25px"><use xlink:href="images/sprite.svg#cross"></use></svg></span></a>
                    <ul>
                        <li class="all"><a href="catalog.html">Каталог</a></li>
                        <li>
                            <a href="">Камень</a>
                            <ul class="stone">
                                <li class="title">
                                    <div>Камень <span></span></div>
                                    <button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button>
                                </li>
                                <li><a href="">Гранит</a>
                                    <ul>
                                        <li><a href=""><img src="images/content/menu/menu1.png" alt=""> Белый/Серый гранит</a></li>
                                        <li><a href=""><img src="images/content/menu/menu2.png" alt=""> Жёлтый гранит</a></li>
                                        <li><a href=""><img src="images/content/menu/menu3.png" alt=""> Зелёный гранит</a></li>
                                        <li><a href=""><img src="images/content/menu/menu4.png" alt=""> Красный гранит</a></li>
                                        <li><a href=""><img src="images/content/menu/menu5.png" alt=""> Синий гранит</a></li>
                                        <li><a href=""><img src="images/content/menu/menu6.png" alt=""> Чёрный гранит</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Мрамор</a>
                                    <ul>
                                        <li><a href=""><img src="images/content/menu/menu7.png" alt=""> Белый мрамор</a></li>
                                        <li><a href=""><img src="images/content/menu/menu8.png" alt=""> Красный мрамор</a></li>
                                        <li><a href=""><img src="images/content/menu/menu9.png" alt=""> Многоцветный</a></li>
                                        <li><a href=""><img src="images/content/menu/menu10.png" alt=""> Синий/зелёный</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Порфир</a>
                                    <ul>
                                        <li><a href=""><img src="images/content/menu/menu11.png" alt=""> Grirgio Perla</a></li>
                                        <li><a href=""><img src="images/content/menu/menu12.png" alt=""> Porfido Argentino</a></li>
                                        <li><a href=""><img src="images/content/menu/menu13.png" alt=""> Porfido Grigo/Verde</a></li>
                                        <li><a href=""><img src="images/content/menu/menu14.png" alt=""> Porfido Marron</a></li>
                                        <li><a href=""><img src="images/content/menu/menu15.png" alt=""> Porfido Rosso Catinaccio</a></li>
                                        <li><a href=""><img src="images/content/menu/menu16.png" alt=""> Porfido Sarentino</a></li>
                                        <li><a href=""><img src="images/content/menu/menu17.png" alt=""> Porfido Verde</a></li>
                                        <li><a href=""><img src="images/content/menu/menu18.png" alt=""> Porfido Verde</a></li>
                                        <li><a href=""><img src="images/content/menu/menu18.png" alt=""> Porfido Viola</a></li>
                                        <li><a href=""><img src="images/content/menu/menu20.png" alt=""> Rosso Dolomiti</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Изделия</a>
                            <ul class="submenu">
                                <li class="title">
                                    <div>Изделия <span></span></div>
                                    <button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button>
                                </li>
                                <li class="all"><a href="">Все товары</a></li>
                                <li><a href="">слэбы</a></li>
                                <li><a href="">плитка</a></li>
                                <li><a href="">брусчатка</a></li>
                                <li><a href="">мозаика из камня</a></li>
                                <li><a href="">ступени</a></li>
                                <li><a href="">балясины</a></li>
                                <li><a href="">декор</a></li>
                                <li><a href="">столешницы</a></li>
                                <li><a href="">прочие изделия</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Сопутствующие<br>товары</a>
                            <ul class="submenu">
                                <li class="title">
                                    <div>Сопутствующие<br>товары <span></span></div>
                                    <button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button>
                                </li>
                                <li class="all"><a href="">Все товары</a></li>
                                <li><a href="">герметики<br>для камня</a></li>
                                <li><a href="">специальный<br>клей для камня</a></li>
                                <li><a href="">мастики</a></li>
                                <li><a href="">акриловый клей</a></li>
                                <li><a href="">средства по&nbsp;уходу</a></li>
                                <li><a href="">рестоврацион&shy;ные материалы</a></li>
                                <li><a href="">мелкий инструмент</a></li>
                                <li><a href="">абразивы</a></li>
                                <li><a href="">прочие изделия</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">SALE</a>
                            <ul class="submenu">
                                <li class="title">
                                    <div>SALE <span></span></div>
                                    <button class="back"><svg width="25px" height="25px"><use xlink:href="images/sprite.svg#arrow-small"></use></svg></button>
                                </li>
                                <li class="all"><a href="">Все товары</a></li>
                                <li><a href="">Камень</a></li>
                                <li><a href="">Изделия</a></li>
                                <li><a href="">Сопутствующие<br>товары</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="tocatalog">
                        <a href="catalog.html" class="btn-round">В каталог</a>
                    </div>
                </div>

                <div class="header__nav">
                    <ul>
                        <li><a href="projects.html">Проекты</a></li>
                        <li><a href="services.html">Услуги</a></li>
                        <li><a href="partnership.html">Сотрудничество</a></li>
                        <li class="sale"><a href="sale.html"><svg width="11px" height="11px"><use xlink:href="images/sprite.svg#sale"></use></svg> Sale</a></li>
                    </ul>
                    <ul>
                        <li><a href="showroom.html">Шоу-рум и салоны</a></li>
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="blog.html">Блог</a></li>
<!--                        <li><a href="contacts.html">Контакты</a></li>-->
                        <li class="d-md-none"><a href="tel:+7 (495) 739-38-80">+7 (495) 739-38-80</a></li>
                        <li class="d-md-none"><a href="javascript:;" class="openPopup" data-popup="callback">Обратный звонок</a></li>
                    </ul>
                </div>

            </span>

            <div class="header__right">
                <div class="header__icons">
                    <button class="header__menuBtn d-md-none">
                        <span>
                            <svg class="open"width="30px" height="20px"><use xlink:href="images/sprite.svg#burger"></use></svg>
                            <svg class="close" width="30px" height="20px"><use xlink:href="images/sprite.svg#close-search"></use></svg>
                        </span>
                    </button>
                    <button class="header__searchBtn">
                        <span>
                            <svg class="open" width="30px" height="20px"><use xlink:href="images/sprite.svg#search"></use></svg>
                            <svg class="close" width="30px" height="20px"><use xlink:href="images/sprite.svg#close-search"></use></svg>
                        </span>
                    </button>
                    <a href="#" class="header__compareBtn d-none d-md-block"><span><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#compare"></use></svg></span></a>
                    <a href="cart.html" class="header__cartBtn @@cart">
                        <span>
                            <span class="count">4</span>
                            <svg class="empty" width="30px" height="20px"><use xlink:href="images/sprite.svg#cart"></use></svg>
                            <svg class="filled" width="30px" height="20px"><use xlink:href="images/sprite.svg#cart-filled"></use></svg>
                        </span>
                    </a>
                </div>
                <a href="tel:+7 (495) 739-38-80" class="header__phone">+7 (495) 739-38-80</a>
                <a href="javascript:;" class="header__callback openPopup" data-popup="callback">Обратный звонок</a>
            </div>

        </div>

        <div class="searchPopup">
            <div class="searchPopup__top">
                <form action="">
                    <input type="text" name="search" placeholder="Найти">
                    <button class="clear"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#clear-search"></use></svg></button>
                </form>
            </div>
            <div class="searchPopup__bottom">

                <div class="searchPopup__preview">
                    <div class="searchPopupCategories">
                        <div class="searchPopupCategories__list">
                            <a href="#" class="btn-category">Товары</a>
                            <a href="#" class="btn-category">Статьи</a>
                            <a href="#" class="btn-category">Проекты</a>
                        </div>
                    </div>
                    <div class="searchPopupLinks">
                        <ul>
                            <li><a href="#">Изделия из мрамора</a></li>
                            <li><a href="#">Натуральный камень</a></li>
                            <li><a href="#">Частная архитектура</a></li>
                            <li><a href="#">Как выбрать камень?</a></li>
                            <li><a href="#">Столешницы</a></li>
                        </ul>
                    </div>
                </div>

                <div class="searchPopupResults">

                    <div class="searchPopupResults__category">
                        <a href="#" class="btn-category">Товары</a>
                    </div>
                    <div class="searchPopupResults__products">

                        <a href="#" class="searchPopupResults__item">
                            <span class="title">Rosso Dolomiti <span class="highlight">камень</span>, Бучардированная, 12 мм</span>
                            <img src="images/content/resultimage.jpg" alt="">
                        </a>

                        <a href="#" class="searchPopupResults__item">
                            <span class="title"><span class="highlight">Камень</span> Palissandro Classico </span>
                            <img src="images/content/resultimage.jpg" alt="">
                        </a>

                        <a href="#" class="searchPopupResults__item">
                            <span class="title"><span class="highlight">Камень</span> Bronze Amani</span>
                            <img src="images/content/resultimage.jpg" alt="">
                        </a>

                        <a href="#" class="searchPopupResults__item">
                            <span class="title"><span class="highlight">Камень</span> Statuarietto Extra</span>
                            <img src="images/content/resultimage.jpg" alt="">
                        </a>

                        <a href="#" class="searchPopupResults__item">
                            <span class="title"><span class="highlight">Камень</span> Fior Di Bosco</span>
                            <img src="images/content/resultimage.jpg" alt="">
                        </a>

                    </div>


                    <div class="searchPopupResults__category">
                        <a href="#" class="btn-category">Статьи</a>
                    </div>
                    <div class="searchPopupResults__products">
                        <a href="#" class="searchPopupResults__item">
                            <span class="title">Как выбрать <span class="highlight">камень</span>?</span>
                        </a>
                        <a href="#" class="searchPopupResults__item">
                            <span class="title">Натуральный <span class="highlight">камень</span> или нет?</span>
                        </a>
                    </div>


                    <div class="searchPopupResults__category">
                        <a href="#" class="btn-category">Проекты</a>
                    </div>
                    <div class="searchPopupResults__products">
                        <a href="#" class="searchPopupResults__item">
                            <span class="title">Интерьер коворкинга Work из <span class="highlight">камня</span> в ЦАО</span>
                            <img src="images/content/resultimage.jpg" alt="">
                        </a>
                        <a href="#" class="searchPopupResults__item">
                            <span class="title">Частный <span class="highlight">камен</span>ный дом на ярославском шоссе</span>
                            <img src="images/content/resultimage.jpg" alt="">
                        </a>
                    </div>

                    <div class="searchPopupResults__submit">
                        <a href="search.html" class="btn-round">Все результаты (39)</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>
