<div class="mainShowroom">
    @@title
    <div class="mainShowroom__top">
        <div class="mainShowroomCurrent">
            <div class="mainShowroomCurrent__icon">
                <svg width="50px" height="50px"><use xlink:href="images/sprite.svg#show-room-double"></use></svg>
            </div>
            <div class="mainShowroomCurrent__bottom">
                <div class="mainShowroomCurrent__title">Шоурум Artishock<br>в 4 км от МКАД</div>
                <div class="mainShowroomCurrent__text">
                    Красногорск, дер. Гольево, Мос. обл.,<br>
                    пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                    +7 (495) 739-38-80
                </div>
            </div>
        </div>
        <div class="mainShowroom__map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0fe36c3b0c03919a38150bb43c650d50c71f28da2eeb9c5de5add18eee2b1a0&amp;width=961&amp;height=518&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <div class="mainShowroom__list">

        <div class="mainShowroomItem active">
            <div class="mainShowroomItem__name">Салон The Dome</div>
            <div class="mainShowroomItem__text">
                Москва, Кутузовский пр-т 12, стр. 1<br>
                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                +7 (495) 739-38-80
            </div>
        </div>

        <div class="mainShowroomItem">
            <div class="mainShowroomItem__name">Салон TwinStore</div>
            <div class="mainShowroomItem__text">
                Москва, 1-й Щипковский пер.<br>
                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                +7 (495) 739-38-80
            </div>
        </div>

        <div class="mainShowroomItem">
            <div class="mainShowroomItem__name">Салон The Dome</div>
            <div class="mainShowroomItem__text">
                Москва, Кутузовский пр-т 12, стр. 1<br>
                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                +7 (495) 739-38-80
            </div>
        </div>

        <div class="mainShowroomItem">
            <div class="mainShowroomItem__name">Салон TwinStore</div>
            <div class="mainShowroomItem__text">
                Москва, 1-й Щипковский пер.<br>
                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                +7 (495) 739-38-80
            </div>
        </div>

        <div class="mainShowroomItem">
            <div class="mainShowroomItem__name">Салон The Dome</div>
            <div class="mainShowroomItem__text">
                Москва, Кутузовский пр-т 12, стр. 1<br>
                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                +7 (495) 739-38-80
            </div>
        </div>

        <div class="mainShowroomItem">
            <div class="mainShowroomItem__name">Салон TwinStore</div>
            <div class="mainShowroomItem__text">
                Москва, 1-й Щипковский пер.<br>
                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                +7 (495) 739-38-80
            </div>
        </div>

        <div class="mainShowroomItem">
            <div class="mainShowroomItem__name">Салон The Dome</div>
            <div class="mainShowroomItem__text">
                Москва, Кутузовский пр-т 12, стр. 1<br>
                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                +7 (495) 739-38-80
            </div>
        </div>

        <div class="mainShowroomItem">
            <div class="mainShowroomItem__name">Салон TwinStore</div>
            <div class="mainShowroomItem__text">
                Москва, 1-й Щипковский пер.<br>
                пн—пт: 10—20 <svg width="20px" height="25px"><use xlink:href="images/sprite.svg#slash"></use></svg> сб—вс: 10—16<br>
                +7 (495) 739-38-80
            </div>
        </div>

    </div>
</div>