<div class="pagination">
    <div class="pagination__btns">
        <button class="btn-round">Показать еще</button>
<!--        <div class="pagination__arrows">-->
<!--            <a href="#" class="prev"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#slider-arrow"></use></svg></a>-->
<!--            <a href="#" class="next"><svg width="50px" height="50px"><use xlink:href="images/sprite.svg#slider-arrow"></use></svg></a>-->
<!--        </div>-->
    </div>
    <div class="pagination__pages">
        <ul>
            <li><a href="#">1</a></li>
            <li><svg width="30px" height="25px"><use xlink:href="images/sprite.svg#pagination-separate"></use></svg></li>
            <li><a href="#">22</a></li>
            <li><a href="#" class="active">23</a></li>
            <li><a href="#">24</a></li>
            <li><svg width="30px" height="25px"><use xlink:href="images/sprite.svg#pagination-separate"></use></svg></li>
            <li><a href="#">30</a></li>
        </ul>
    </div>
</div>