
<div class="popup" id="callback">
    <div class="popup__container">
        <button class="popup__close"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#close"></use></svg></button>
        <div class="popup__title">Обратный звонок</div>
        <form action="" class="form">
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        <label>Номер телефона</label>
                        <input type="text">
                    </div>
                </div>
            </fieldset>

            <div class="popup__btn">
                <a href="order-success.html" class="btn-round">Заказать обратный звонок</a>
            </div>

            <div class="popup__agree">
                <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text">Подтверждаю согласие с&nbsp;политикой конфиденциальности</span></label>
            </div>

        </form>
    </div>
</div>

<div class="popup" id="question">
    <div class="popup__container">
        <button class="popup__close"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#close"></use></svg></button>
        <div class="popup__title">вопрос</div>
        <form action="" class="form">
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        <label>Ваше имя</label>
                        <input type="text">
                    </div>
                    <div class="col-12">
                        <label>Номер телефона</label>
                        <input type="text">
                    </div>
                    <div class="col-12 margin">
                        <label>Текст вопроса</label>
                        <textarea name="text" id="" cols="0" rows="0"></textarea>
                    </div>
                </div>
            </fieldset>

            <div class="popup__btn">
                <a href="order-success.html" class="btn-round">Задать вопрос</a>
            </div>

            <div class="popup__agree">
                <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text">Подтверждаю согласие с&nbsp;политикой конфиденциальности</span></label>
            </div>

        </form>
    </div>
</div>

<div class="popup" id="zamer">
    <div class="popup__container">
        <button class="popup__close"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#close"></use></svg></button>
        <div class="popup__title">Вызов замерщика</div>
        <div class="popup__text">После оформления заявки с вами свяжется менеджер для уточнения деталей</div>
        <form action="" class="form">
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        <label>Ваше имя</label>
                        <input type="text">
                    </div>
                    <div class="col-12">
                        <label>Номер телефона</label>
                        <input type="text">
                    </div>
                </div>
            </fieldset>

            <div class="popup__btn">
                <a href="order-success.html" class="btn-round">Вызвать замерщика</a>
            </div>

            <div class="popup__agree">
                <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text">Подтверждаю согласие с&nbsp;политикой конфиденциальности</span></label>
            </div>

        </form>
    </div>
</div>


<div class="popup" id="obrazec">
    <div class="popup__container">
        <button class="popup__close"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#close"></use></svg></button>
        <div class="popup__title">Заказ образца</div>
        <div class="popup__text">После оформления заявки с вами свяжется менеджер для уточнения деталей</div>
        <form action="" class="form">
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        <label>Ваше имя</label>
                        <input type="text">
                    </div>
                    <div class="col-12">
                        <label>Номер телефона</label>
                        <input type="text">
                    </div>
                </div>
            </fieldset>

            <div class="popup__btn">
                <a href="order-success.html" class="btn-round">Заказать образец</a>
            </div>

            <div class="popup__agree">
                <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text">Подтверждаю согласие с&nbsp;политикой конфиденциальности</span></label>
            </div>

        </form>
    </div>
</div>


<div class="popup" id="obrazec2">
    <div class="popup__container">
        <button class="popup__close"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#close"></use></svg></button>
        <div class="popup__title">Заказ образца</div>
        <div class="popup__text">После оформления заявки с вами свяжется менеджер для уточнения деталей</div>
        <form action="" class="form">
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        <label>Начните вводить название товара</label>
                        <input type="text">
                    </div>

                    <div class="col-12 margin">
                        <select name="">
                            <option value="0">Тип камня</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <select name="">
                            <option value="0">Порода камня</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <select name="">
                            <option value="0">Товар</option>
                        </select>
                    </div>

                    <div class="col-12 margin">
                        <label>Ваше имя</label>
                        <input type="text">
                    </div>
                    <div class="col-12">
                        <label>Номер телефона</label>
                        <input type="text">
                    </div>
                </div>
            </fieldset>

            <div class="popup__btn">
                <a href="order-success.html" class="btn-round">Заказать образец</a>
            </div>

            <div class="popup__agree">
                <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text">Подтверждаю согласие с&nbsp;политикой конфиденциальности</span></label>
            </div>

        </form>
    </div>
</div>

<div class="popup" id="lib">
    <div class="popup__container">
        <button class="popup__close"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#close"></use></svg></button>
        <div class="popup__title">Заказ библиотеки образцов</div>
        <div class="popup__text">После оформления заявки с вами свяжется менеджер для уточнения деталей</div>
        <form action="" class="form">
            <fieldset>
                <div class="row">
                    <div class="col-12">
                        <select name="">
                            <option value="0">Выбрать библиотеку образцов</option>
                            <option value="1">Выбрать библиотеку образцов</option>
                            <option value="2">Выбрать библиотеку образцов</option>
                        </select>
                    </div>

                    <div class="col-12 margin">
                        <label>Ваше имя</label>
                        <input type="text">
                    </div>
                    <div class="col-12">
                        <label>Номер телефона</label>
                        <input class="error" type="text">
                    </div>
                    <div class="errorText">некорректный формат</div>
                </div>
            </fieldset>

            <div class="popup__btn">
                <a href="order-success.html" class="btn-round">Заказать библиотеку образцов</a>
            </div>

            <div class="popup__agree">
                <label><input type="checkbox" name="consult"><span class="checkboxTrigger"></span> <span class="text">Подтверждаю согласие с&nbsp;политикой конфиденциальности</span></label>
            </div>

        </form>
    </div>
</div>

<div id="countryPopup" class="countryPopup">
    <div class="countryPopup__wrapper">
        <div class="countryPopup__image">
            <img src="images/content/countrypopup-img.jpg" alt="">
        </div>
        <div class="countryPopup__content">
            <div class="countryPopup__title">Испания</div>
            <div class="countryPopup__text">Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки форм развития.</div>
        </div>
    </div>
</div>


<div class="popup popupClear" id="clearCart">
    <div class="popup__container">
        <button class="popup__close"><svg width="30px" height="20px"><use xlink:href="images/sprite.svg#close"></use></svg></button>
        <div class="popup__title">Вы точно хотите удалить<br>выбранные товары?</div>
        <div class="popup__text">Отменить действие будет невозможно.</div>
        <div class="popupClear__btns">
            <button class="btn-filled">Удалить выбранное</button>
            <button class="btn-round">Отмена</button>
        </div>
    </div>
</div>