<div class="productItem">
    <a href="/">
        <div class="productItem__images">
            <div class="productItem__new">NEW</div>
            <div class="productItem__example">
                <img src="images/content/products/product-3.jpg" alt="">
            </div>
            <div class="productItem__material">
                <img src="images/content/products/product-3-1.jpg" alt="">
            </div>
        </div>
        <div class="productItem__content">
            <div class="productItem__info productItem__info--large">
                300x200x3 см<br>
                Цена — 23000 ₽<br>
                (от 2500 ₽/м<sup>2</sup>)<br>
                В наличии 240м<sup>2</sup><br>
            </div>
            <div class="productItem__info">
                Партия — 55696<br>
                № пачки — 565757<br>
                Количество слэбов в пачке — 7 шт<br>
                Сортность — Standart
            </div>
        </div>
    </a>
</div>