<div class="subscribe @@class">
    <div class="container">
        <div class="subscribe__title">Будьте в курсе событий</div>
        <div class="subscribe__text">Мы публикуем акционные предложения и новости из мира камня </div>
        <form action="">
            <input type="text" name="" placeholder="Эл. почта">
            <input type="submit" name="" value="Подписаться" class="btn-round">
            <div class="subscribe__subtext">
                Нажимая на кнопку вы подтверждаете согласие с&nbsp;политикой конфиденциальности
            </div>
        </form>
    </div>
</div>