<div class="partnershipTerms">
    <div class="container">
        <div class="innerTitle">Спецусловия сотрудничества</div>

        <div class="partnershipTerms__list">

            <div class="partnershipTerms__item">
                <div class="partnershipTerms__image">
                    <picture>
                        <source srcset="images/content/partnership/partnershipTerms-1.jpg, images/content/partnership/partnershipTerms-1@2x.jpg 2x">
                        <img srcset="images/content/partnership/partnershipTerms-1.jpg" alt="">
                    </picture>
                </div>
                <div class="partnershipTerms__text">Девелоперам<br>и&nbsp;строителям</div>
            </div>

            <div class="partnershipTerms__item">
                <div class="partnershipTerms__image">
                    <picture>
                        <source srcset="images/content/partnership/partnershipTerms-2.jpg, images/content/partnership/partnershipTerms-2@2x.jpg 2x">
                        <img srcset="images/content/partnership/partnershipTerms-2.jpg" alt="">
                    </picture>
                </div>
                <div class="partnershipTerms__text">Производителям<br>мебели</div>
            </div>

            <div class="partnershipTerms__item">
                <div class="partnershipTerms__image">
                    <picture>
                        <source srcset="images/content/partnership/partnershipTerms-3.jpg, images/content/partnership/partnershipTerms-3@2x.jpg 2x">
                        <img srcset="images/content/partnership/partnershipTerms-3.jpg" alt="">
                    </picture>
                </div>
                <div class="partnershipTerms__text">Архитекторам</div>
            </div>

            <div class="partnershipTerms__item">
                <div class="partnershipTerms__image">
                    <picture>
                        <source srcset="images/content/partnership/partnershipTerms-4.jpg, images/content/partnership/partnershipTerms-4@2x.jpg 2x">
                        <img srcset="images/content/partnership/partnershipTerms-4.jpg" alt="">
                    </picture>
                </div>
                <div class="partnershipTerms__text">Дизайнерам</div>
            </div>

        </div>

        <div class="partnershipTerms__btn">
            <a href="" class="btn-round">Связаться с нами</a>
        </div>
    </div>
</div>