.about{
  overflow: hidden;
  margin-top: 27px;

  @include screen-md{
    margin-top: 67px;
  }

  @include screen-xl{
    margin-top: 57px;
  }

  .blogBanner{
    margin-bottom: 0 !important;
  }

  &Slider{
    margin: 20px -15px 40px;

    @include screen-md{
      margin: 32px -20px 80px;
    }

    @include screen-xl{
      margin: 42px -40px 120px;
    }

    &__image{
      source{
        display: block;
      }
      picture,img{
        display: block;
        height: 280px;
        margin-right: 2px;

        @include screen-md{
          height: 490px;
        }

        @include screen-xl{
          height: 540px;
        }
      }
    }

    &__circle{
      width: 13px;
      height: 13px;
      background: #000;
      border-radius: 100%;
      margin: 12px 0 0 16px;

      @include screen-md{
        margin: 22px 0 0 20px;
      }

      @include screen-xl{
        margin: 22px 0 0 40px;
      }
    }

    &__content{
      position: relative;

      &::before{
        content:"";
        position: absolute;
        top: 5px;
        left: 39px;
        width: calc(100% - 34px);
        height: 1px;
        background: #000;

        @include screen-md{
          left: 43px;
          width: calc(100% - 30px);
        }

        @include screen-xl{
          left: 63px;
          width: calc(100% - 35px);
        }
      }
    }

    &__date{
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding: 9px 15px 0;

      @include screen-md{
        padding: 9px 20px 0;
      }

      @include screen-xl{
        padding: 9px 40px 0;
      }
    }

    &__text{
      padding: 11px 15px 0;
      font-size: 15px;
      line-height: 25px;
      max-width: 100vw;

      @include screen-md{
        padding: 11px 20px 0;
        max-width: 520px;
      }

      @include screen-xl{
        padding: 11px 0 0 40px;
      }
    }

    .slick-track{
      @include flex-block
    }

  }

}