.blogItem{
  border-bottom: 1px solid #000000;
  position: relative;

  @include screen-md{
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #000000;
  }

  &:last-child{
    border-bottom: none;
    border-right: none;
  }

  &--image{

    a{
      @include screen-md{
        padding: 0 20px 56px;
      }
    }

    .blogItem__text{
      margin-top: 20px;

      @include screen-md{
        padding-bottom: 49px;
      }

      @include screen-xl{
        padding-bottom: 80px;
        margin-top: 15px;
      }
    }
  }
  
  a{
    color: #000;
    display: block;
    //padding: 0 15px 34px;
    padding: 13px 0 40px;
    min-height: 100%;
    position: relative;

    @include screen-md{
      padding: 0 20px 0;
    }

    &>*{
      z-index: 5;
    }
    &::before{
      z-index: 1;
      content:"";
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: calc(100% + 40px);
      background: #D9C5BF;
      opacity: 0;
      transition: all 0.3s ease;
    }

    @include hover{
      &:hover{
        &::before{
          opacity: 1;
        }
      }
    }

  }

  &__title{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    min-height: 70px;
    position: relative;

    @include screen-md{
      min-height: 105px;
    }

    @include screen-xl{
      min-height: 163px;
    }
  }

  &__icon{
    position: relative;
  }

  &__text{
    font-size: 15px;
    line-height: 25px;
    margin-top: 11px;
    position: relative;

    @include screen-md{
      margin-top: 10px;
    }

    @include screen-xl{
      margin-top: 12px;
    }
  }

  &__arrow{
    position: absolute;
    bottom: 0;
    right: 15px;

    @include screen-md{
      bottom: 41px;
      right: 25px;
    }

    @include screen-xl{
      bottom: 1px;
      right: 20px;
    }
  }

  &__date{
    margin: 18px 0 0;
    position: relative;

    @include screen-md{
      position: absolute;
      bottom: 4px;
      left: 21px;
    }
  }

  &__image{
    height: 230px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;

    @include screen-md{
      height: 165px;
    }

    @include screen-xl{
      height: 230px;
    }

    img{
      display: block;
      width: 100%;
    }
  }
}

.blogSection{

}

.blog{
  margin: 26px 0 0;
  padding: 0;
  overflow: hidden;

  @include screen-md{
    margin: 148px 0 0;
  }

  @include screen-xl{
    margin: 57px 0 0;
  }

  &__top{
    margin: 49px 0 5px;

    @include screen-md{
      @include flex-block;
      @include justify-content(space-between);
      border-bottom: 1px solid #000000;
      margin: 102px 0 40px;
    }

    .projectsFilter__item--sort{
      @include screen-md{
        position: relative;
        border-bottom: none;
        margin: 0;
        padding: 6px 3px 0 0;
      }
    }
  }

  &Tags{
    @include flex-block;
    margin: 0 -6px 15px;

    @include screen-md{
      margin-bottom: 20px;
    }

    &__item{
      margin: 0 1px;

      a{
        //display: block;
        //background: #F2F2F2;
        //border-radius: 30px;
        //height: 35px;
        //text-decoration: none;
        //line-height: 35px;
        //text-align: center;
        //padding: 0 19px;
        //font-size: 15px;
        //color: #000000;
      }
    }
  }

  &Banner{
    background-size: cover;
    background-position: center center;
    background-image: url(../images/backgrounds/article-banner-mobile.jpg);
    color: #ffffff;
    margin: -1px -15px 0;
    padding: 12px 0 20px;
    position: relative;
    @media
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi){
      background-image: url(../images/backgrounds/article-banner-mobile@2x.jpg);
    }

    @include screen-md{
      margin: -1px -20px 20px;
      background-image: url(../images/backgrounds/article-banner-tablet.jpg);
      @media
      (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 120dpi){
        background-image: url(../images/backgrounds/article-banner-tablet@2x.jpg);
      }
    }

    @include screen-xl{
      margin: -1px -40px 20px;
      background-image: url(../images/backgrounds/article-banner-desktop.jpg);
      padding: 32px 0 40px;
    }

    .container{
      position: relative;
    }

    &__title{
      font-family: $font-steinbeck;
      font-size: 35px;
      line-height: 35px;
      letter-spacing: -0.01em;
      text-transform: uppercase;

      @include screen-xl{
        max-width: 680px;
      }
    }

    &__text{
      font-size: 15px;
      line-height: 25px;
      margin-top: 28px;

      @include screen-md{
        margin-top: 123px;
        max-width: 380px;
      }

      @include screen-xl{
        margin-top: 108px;
        max-width: 490px;
      }
    }

    &__btn{
      margin-top: 80px;

      @include screen-md{
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 290px;
      }

      @include screen-xl{
        right: 20px;
      }

      .btn-round{
        @include screen-md{
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }

  &__list{

    @include screen-md{
      @include flex-block;
      @include flex-wrap(wrap);
      margin: 0 -20px;
    }

    .blogItem{
      @include screen-md{
        width: 33.333332%;
        margin-bottom: 40px;
      }
      @include screen-md{
        width: 25%;
        margin-bottom: 80px;
      }

      &:nth-child(3n){
        @include screen-md{
          border-right: none;
        }
        @include screen-xl{
          border-right: 1px solid #000;
        }
      }

      &:nth-child(4n){
        @include screen-xl{
          border-right: none;
        }
      }
    }
  }
}

.article{
  overflow: hidden;

  @include screen-md{
    margin: 110px 0 0;
  }

  @include screen-xl{
    margin: 0;
  }

  .blogBanner{

    @include screen-md{
      margin: 120px -20px 40px;
    }

    @include screen-xl{
      margin: 0 -40px 60px;
    }
  }

  &Info{
    margin-top: 90px;
    border-top: 1px solid #000000;
    @include flex-block;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    padding: 10px 0 10px;
    font-size: 15px;
    line-height: 25px;

    @include screen-md{
      margin-top: 100px;
      padding: 19px 0 20px 20px;
    }

    @include screen-xl{
      margin: 100px -20px 0;
      padding-right: 20px;
    }

    &--under{
      margin: 121px 0 -9px;

      @include screen-xl{
        margin: 200px -20px -19px;
      }
    }

    a{
      color: #000;
    }

    &__author{

      @include screen-md{
        margin-left: 21px;
      }

      a{
        @include flex-block;
        @include align-items(center);

        svg{
          margin-right: 5px;
        }
      }
    }

    &__link{
      margin: 4px 0 0;
      width: 100%;

      @include screen-md{
        width: auto;
        margin: 0;
        flex: 1 auto;
        text-align: right;
      }
    }
  }

  &Block{
    border-top: 1px solid #000000;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 25px;

    @include screen-md{
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.01em;
      margin-bottom: 80px;
    }

    @include screen-xl{
      @include flex-block;
      margin: 0 -20px 80px;
      padding: 0 0 0 20px;
    }

    &--noborder{
      border-top: none;
    }

    &__left{
      padding-top: 19px;

      @include screen-xl{
        width: 440px;
        min-width: 440px;
      }
    }

    &__right{
      margin-top: 20px;

      &>*:first-child{
        margin-top: 0;
      }

      &>*:last-child{
        margin-bottom: 0;
      }

      picture{
        display: block;
        margin: 40px -15px;

        @include screen-md{
          margin: 80px -20px;
        }

        @include screen-xl{
          margin: 80px 0;
        }
      }

      img{
        display: block;
        max-width: 100%;
      }

      p{
        @include screen-xl{
          max-width: 730px;
        }
      }

      p.large{
        font-family: $font-steinbeck;
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        margin: 30px 0;

        @include screen-md{
          margin: 70px 0;
        }
      }

      blockquote{
        border: 1px solid #000000;
        padding: 75px 15px 18px;
        display: block;
        position: relative;
        margin: 40px 0;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0;

        @include screen-md{
          margin: 80px 0;
          padding: 119px 20px 19px;
        }

        @include screen-xl{
          max-width: 730px;
        }

        &::before{
          content:"";
          position: absolute;
          top: 20px;
          left: 15px;
          border-radius: 100%;
          background: #000000;
          width: 13px;
          height: 13px;

          @include screen-md{
            top: 21px;
            left: 20px;
          }
        }
      }
    }
  }

  &Slider{
    margin: 0 -15px;

    @include screen-md{
      margin: 0 -20px 40px;
    }

    @include screen-xl{
      margin: 0 0 60px;
    }

    .slick-track{
      @include flex-block;
    }

    img{
      height: 220px;
      display: block;
      margin-right: 1px;

      @include screen-md{
        height: 500px;
        margin-right: 2px;
      }
    }
  }

}

.privacy{
  margin: 27px 0 0;

  @include screen-md{
    margin-top: 67px;
  }

  @include screen-xl{
    margin-bottom: 57px;
  }

  .h1{
    margin-bottom: 78px;

    @include screen-md{
      margin-bottom: 102px;
    }
  }
}