.breadcrumbs{
  margin: 20px 0 0;

  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    @include flex-block;
    @include align-items(center);
    @include flex-wrap(wrap);
    
    li{
      margin: 15px 1px 0;
      @include flex-block;
      @include align-items(center);

      svg{
        margin-right: 2px;

        @include screen-md{
          margin-right: -1px;
        }
      }

      a{
        color: #000;
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}