.btn{
  transition: all 0.3s ease;

  &.disabled{
    border: 1px solid #A2A3A6 !important;
    color: #A2A3A6 !important;
    background: transparent !important;

    &::before,
    &::after{
      display: none !important;
    }
  }

  &-tag{
    display: block;
    padding: 5px 20px 6px;
    background: #f2f2f2;
    border-radius: 30px;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    @include hover{
      &:hover{
        background: #D9C5BF;
      }
    }


    &:active{
      background: #000000;
      color: #ffffff;
    }
  }

  &-round{
    font-size: 15px;
    border: 1.2px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    width: 100%;
    background: transparent;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    color: #000000;
    text-decoration: none;
    @include flex-block;
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
    position: relative;

    @include screen-md{
      max-width: 277px;
    }

    &.white{
      color: #ffffff;
      border-color: #ffffff;
    }

    &::before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 5px solid #D9C5BF;
      border-radius: 40px;
      opacity: 0;
    }

    @include hover{
      &:hover{
        background: #D9C5BF;
        border-color: #D9C5BF;

        &::before{
          opacity: 1;
          top: -4px;
          left: -4px;
          height: calc(100% + 8px);
          width: calc(100% + 8px);
          transition: all 0.3s ease;
        }
      }
    }

    &:active{
      background: #000;
      color: #ffffff;
      border-color: #000000;

      &::before{
        opacity: 0;
        transition: none;
      }
    }
  }

  &-filled{
    font-size: 15px;
    border: 1.2px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    width: 100%;
    background: #000000;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    color: #ffffff;
    text-decoration: none;
    @include flex-block;
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
    position: relative;

    @include screen-md{
      max-width: 277px;
    }

    &::before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 5px solid #D9C5BF;
      border-radius: 40px;
      opacity: 0;
    }

    @include hover {
      &:hover {
        background: #D9C5BF;
        border-color: #D9C5BF;

        &::before {
          opacity: 1;
          top: -4px;
          left: -4px;
          height: calc(100% + 8px);
          width: calc(100% + 8px);
          transition: all 0.3s ease;
        }
      }
    }

    &:active{
      background: #ffffff;
      color: #000000;
      border-color: #ffffff;

      &::before{
        opacity: 0;
        transition: none;
      }
    }
  }

  &-category{
    font-size: 15px;
    border: 1.2px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    background: transparent;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    color: #000000;
    text-decoration: none;
    @include flex-block;
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
    padding: 0 17px;
    position: relative;

    &::before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 5px solid #D9C5BF;
      border-radius: 40px;
      opacity: 0;
    }

    @include hover {
      &:hover {
        background: #D9C5BF;
        border-color: #D9C5BF;

        &::before {
          opacity: 1;
          top: -4px;
          left: -4px;
          height: calc(100% + 8px);
          width: calc(100% + 8px);
          transition: all 0.3s ease;
        }
      }
    }

    &:active{
      background: #000;
      color: #ffffff;
      border-color: #000000;

      &::before{
        opacity: 0;
        transition: none;
      }
    }
  }

}