.cart{
  margin: 27px 0 0;
  overflow: hidden;

  @include screen-md{
    margin: 148px 0 0;
  }

  @include screen-xl{
    margin: 57px 0 0;
  }

  h1{
    .count{
      display: inline-block;
      vertical-align: top;
      font-size: 15px;
      line-height: 25px;
      font-family: $font-suisse;
      margin: 3px 0 0 5px;

      @include screen-md{
        margin-top: 15px;
      }
    }
  }

  &Empty{
    &Tags{
      margin: 90px 0 25px;

      @include screen-md{
        margin: 100px 0 40px;
      }

      &__title{
        font-size: 15px;
        line-height: 25px;
      }

      &__list{
        @include flex-block;
        @include flex-wrap(wrap);
        margin: 0 -1px 0;
      }

      &__item{
        margin: 10px 1px 0;
      }
    }
  }

  &__clear{
    @include flex-block;
    @include justify-content(flex-end);
    margin-top: 46px;

    @include screen-md{
      margin-top: 68px;
    }

    @include screen-xl{
      margin-top: 57px;
    }

    a{
      @include flex-block;
      @include align-items(center);
      color: #000;
      font-size: 15px;
      line-height: 25px;

      span{
        width: 30px;
        min-width: 30px;
        border-radius: 100%;
        height: 30px;
        @include flex-block;
        @include align-items(center);
        @include justify-content(center);
        color: #000;
        margin: 0 -5px 0 5px;
      }

      @include hover {
        &:hover span {
          background: #D9C5BF;
        }
      }
    }
  }

  &List{
    margin-top: 20px;

    &__item{
      @include flex-block;
      @include flex-wrap(wrap);
      border-top: 1px solid #000000;
      padding: 9px 0 0;
      margin: 0;
      font-size: 15px;
      line-height: 25px;
      color: #000000;
      position: relative;
      transition: all 0.3s ease;

      @include screen-md{
        @include justify-content(space-between);
      }

      @include screen-xl{
        margin: 0 -20px;
        padding: 9px 20px 11px;
        @include justify-content(flex-start);
      }

      &>*{
        padding: 0;
        margin-bottom: 10px;
      }

      @include hover {
        &:hover {
          .cartList__remove {
            opacity: 1;
          }
        }
      }
    }

    &__images{
      @include flex-block;
      margin-bottom: 35px;

      @include screen-md{
        margin: 0 39px 10px 0;
      }

      @include screen-xl{
        margin: 0;
        width: 330px;
      }

      img{
        display: block;
        height: 55px;

        @include screen-md{
          height: 70px;
        }
      }

      .line{
        display: block;
        height: 100%;
        width: 1px;
        background: #000;
        margin: 0 2px;

        @include screen-md{
          margin: 0 5px;
        }

      }

      .sale{
        display: none;

        @include screen-xl{
          @include flex-block;
        }

        &Size{
          width: 70px;
          height: 70px;
          border: 1px solid #000000;
          border-radius: 100%;
          text-align: center;
          line-height: 68px;
          font-size: 13px;
        }
      }
    }

    &__info{
      @include screen-md{
        min-width: 190px;
      }
      @include screen-xl{
        width: 330px;
      }
    }

    &__title{
      @include screen-xl{
        font-size: 21px;
        line-height: 30px;
      }
    }

    &__stock{
      color: #A2A3A6;
    }

    &__count{
      position: relative;
      width: calc(50% - 38px);

      @include screen-md{
        width: auto;
      }

      .x{
        position: absolute;
        display: none;
        top: 12px;
        left: -25px;

        @include screen-xl{
          display: block;
        }
      }

      input{
        width: 100%;
        height: 50px;
        display: block;
        border: 1px solid #000000;
        padding: 0 16px;
        font-size: 15px;
        background: transparent;

        @include screen-md{
          width: 100px;
        }

        @include screen-xl{
          width: 120px;
        }

        &:focus{
          border-width: 2px;
        }

        &.error{
          border-color: #A22BDA;
        }
      }

      .info{
        position: absolute;
        top: 13px;
        right: 15px;
      }
    }

    &__cost,
    &__price{
      align-self: center;

      @include screen-md{
        align-self: flex-start;
      }

      @include screen-xl{
        font-size: 21px;
        line-height: 30px;
      }

      .old{
        color: #A2A3A6;
        text-decoration: line-through;

        @include screen-xl{
          font-size: 15px;
          line-height: 25px;
        }
      }
    }

    &__price{
      @include screen-md{
        margin-right: 39px;
      }
      @include screen-xl{
        margin: 0;
        width: 220px;
      }
    }

    &__cost{
      @include screen-md{
        margin-left: 33px;
      }
      @include screen-xl{
        margin: 0;
        flex: 1 auto;
        text-align: right;
      }
    }

    &__consult{
      margin-top: 24px;

      @include screen-md{
        width: 100%;
        margin: -5px 0 10px;
        padding-left: 53%;
      }

      @include screen-xl{
        margin: 4px 0 0;
        padding-left: 880px;
      }

      label{
        @include flex-block;
        @include align-items(center);
        .text{
          font-size: 15px;
          line-height: 25px;
          color: #000000;
        }

        input{
          display: none !important;

          &:checked ~ .checkboxTrigger{
            background: #000000;
            border-color: #000000;
          }
        }

        .checkboxTrigger{
          width: 14px;
          height: 14px;
          min-width: 13px;
          border: 1px solid #000000;
          margin-right: 8px;
        }

      }
    }

    &__remove{
      position: absolute;
      top: 98px;
      @include flex-block;
      @include align-items(center);
      @include justify-content(center);
      border:none;
      padding: 0;
      margin: 0;
      transition: all 0.3s ease;
      cursor: pointer;
      right: -10px;
      width: 40px;
      background: transparent;
      height: 50px;

      @include screen-md{
        right: 0;
        width: 15px;
        height: 25px;
        top: auto;
        bottom: 10px;
      }

      @include screen-xl{
        @include flex-block;
        right: 20px;
        width: auto;

        @include hover{
          opacity: 0;
        }
      }

      svg{
        min-width: 15px;

        @include screen-xl{
          margin-left: 5px;
        }
      }
    }

  }

  &__cost{
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.01em;
    border-top: 1px solid #000000;
    padding-top: 8px;

    @include screen-md{
      text-align: right;
    }

    @include screen-xl{
      padding: 13px 20px 0;
      margin: 0 -20px;
    }
  }

  &__bottom{
    font-size: 15px;
    line-height: 25px;
    margin-top: 41px;

    @include screen-md{
      @include flex-block;
      @include align-items(center);
      @include justify-content(flex-end);
      letter-spacing: 0.01em;
    }

    br{
      @include screen-md{
        display: none;
      }
    }
    svg{
      display: none;

      @include screen-md{
        display: block;
      }

      @include screen-xl{
        margin: 0 4px;
      }
    }
  }

  &__btn{
    margin: 10px 0 120px;

    @include screen-md{
      @include flex-block;
      @include justify-content(flex-end);
      margin-bottom: 80px;
    }

    .btn-filled{
      max-width: 400px;
    }
  }

}