.category{
  overflow: hidden;

  @include screen-md{
    margin: 90px 0 0;
  }

  @include screen-xl{
    margin: 0;
  }

  label{
    cursor: pointer;
  }

  &__title{
    @include flex-block;
    @include align-items(flex-end);
    @include justify-content(space-between);
    margin-bottom: 90px;

    @include screen-md{
      margin-bottom: 95px;
    }

    a{
      display: none;
      bottom: -12px;
      position: relative;

      @include screen-md{
        @include flex-block;
        @include align-items(center);
        font-size: 15px;
        line-height: 25px;
        color: #000;
      }

      svg{
        margin-left: 6px;
      }
    }
  }

  &__showmore{
    width: 100%;
    min-width: 100%;
    padding: 0 20px 20px;

    @include screen-md{
      padding-bottom: 20px;
    }


    button{
      margin: 0 auto;

      @include screen-md{
        max-width: 340px;
      }

      @include screen-xl{
        max-width: 400px;
      }
    }
  }

  &__mobileBtns{
    @include flex-block;
    @include align-items(center);
    @include justify-content(space-between);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 9px 0 10px;

    @include screen-md{
      display: none;
    }

    button{
      color: #000000;
      font-size: 15px;
      line-height: 25px;
      @include flex-block;
      @include align-items(center);
      cursor: pointer;
      padding: 0;
      border:none;
      background: transparent;
    }
  }

  &__list{
    @include flex-block;
    @include flex-wrap(wrap);
    margin: 19px -20px;

    @include screen-md{
      margin: 0 -30px 20px;
    }

    .productItem{
      width: 50%;
      margin: 0 0 40px;

      @include screen-xl{
        margin: 0 0 80px;
      }

      @include screen-mobile{
        .productItem__images {
          padding-bottom: 40px;
        }
        .productItem__material{
          height: 40px;
        }
        .productItem__content {
          padding: 10px 10px 0;
        }
      }

      @media (max-width: 1199px){
        &:nth-child(2n)::after{
          //display: none;
        }
      }

      @include screen-xl{
        width: 33.333332%;
        &:nth-child(3n)::after{
          display: none;
        }
      }

    }
  }

  &__btns{

  }

  .back{
    padding: 0;
    background: transparent;
    border:none;
    cursor: pointer;
    transform: rotate(180deg);
  }

}

.categoryMobileFilters{

  @include screen-md{
    display: none;
  }

  &__list{
    margin: -41px -15px 15px;
    overflow: auto;

    &::-webkit-scrollbar{
      display: none;
    }

    ul{
      padding: 0;
      list-style: none;
      @include flex-block;
      @include align-items(center);
      margin: 0;

      &::after,
      &::before{
        content:"";
        width: 15px;
        min-width: 15px;
        height: 20px;
      }

      li{
        border:none;
        padding: 0;
        margin: 0 2px;

        @include screen-xl{
          margin: 4px;
        }

        a{
          //font-size: 15px;
          //line-height: 25px;
          //color: #ffffff;
          //display: block;
          //padding: 5px 14px 5px;
          //background: #000000;
          //border-radius: 30px;
          //white-space: nowrap;
        }
      }
    }
  }
}

.projectsTags,
.categoryTags{
  padding: 0 15px;
  display: none;

  @include screen-md{
    display: block;
    padding: 0;
  }

  .close{
    position: fixed;
    top: 20px;
    right: 15px;
    cursor: pointer;
    color: #fff;
    border:none;
    padding: 0;
    background: transparent;
    
    @include screen-md{
      display: none;
    }
  }

  &.show{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 45px);
    height: 100%;
    overflow: auto;
    background: #ffffff;
    z-index: 99;
    display: block;

    &::before{
      content:"";
      width: 45px;
      background: #000000;
      opacity: 0.8;
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
    }
  }

  &__title{
    @include flex-block;
    @include align-items(center);
    padding: 20px 0 20px;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 1px solid #000000;

    .back{
      margin-right: 14px;
    }

    @include screen-md{
      display: none !important;
    }
  }

  &__list{
    ul{
      padding: 0;
      margin: 0;
      list-style: none;

      @include screen-md{
        @include flex-block;
        @include align-items(center);
        @include flex-wrap(wrap);
        margin: 0 -8px 0;
      }

      li{
        border-bottom: 1px solid #E0E0E0;
        padding: 9px 0 10px;

        @include screen-md{
          border:none;
          padding: 0;
          margin: 4px 2px;
        }

        @include screen-xl{
          margin: 4px;
        }

        a{
          font-size: 15px;
          line-height: 25px;
          color: #000000;

          @include screen-md{
            display: block;
            padding: 6px 17px 6px;
            background: #F2F2F2;
            border-radius: 30px;
          }

          @include hover {
            &:hover {
              background: #D9C5BF;
            }
          }

          &.active{
            &::before{
              content:"";
              margin-right: 7px;
              width: 7px;
              height: 7px;
              min-width: 7px;
              border-radius:100%;
              background: #000;
              display: inline-block;
              vertical-align: middle;

              @include screen-md{
                display: none;
              }
            }

            @include screen-md{
              background: #000000;
              color: #ffffff;
            }
          }
          @include hover {
            &:active {
              background: #000000;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

}

.projectsFilter,
.categoryFilter{

  @include screen-md{
    position: relative;
    margin: 8px -9px 6px -11px;
  }

  @include screen-xl{
    margin: 8px -20px 6px -20px;
  }

  &__item{

    @include screen-md{
      padding: 0 9px 9px 0;
      border-bottom: 1px solid #000000;
      margin-bottom: 13px;
      position: relative;
    }

    @include screen-xl{
      padding: 0 3px 14px 0;
    }

    &--spacer{
      display: none;

      @include screen-md{
        display: block;
        height: 5px;
        width: 134px;
        border: none;
      }

      @include screen-xl{
        width: 143px;
      }
    }

    &--sort{
      @include screen-md{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
      }
      @include screen-xl{
        left: 9px;
      }
    }
  }

  &__list{

    @include screen-md{
      @include flex-block;
      @include align-items(center);
      @include flex-wrap(wrap);
      position: relative;
    }

    &::before{
      @include screen-md{
        content:"";
        position: absolute;
        bottom: 13px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #000000;
      }
    }

  }

  &__opener{
    display: none;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;

    @include screen-md{
      @include flex-block;
      @include align-items(center);
      padding: 0 5px 0 10px;
      border: 1px solid #ffffff;
      border-radius: 20px;
      background: transparent;
    }

    .number{
      display: none;

      &.show{
        display: block;
        margin-left: 7px;
        padding-left: 7px;
        border-left: 1px solid #d2d2d2;
      }
    }

    &.active{
      color: #ffffff;
      background: #000;
      border-color: #000000;

      .number.show{
        border-left: 1px solid #424242;
      }

      svg{
        opacity: 0;
      }
    }

    svg{
      @include screen-xl{
        width: 19px;
      }
    }

    @include hover {
      &:hover {
        border-color: #000000;
      }
    }
  }

  &Popup{
    padding: 0 15px;

    @include screen-md{
      display: none;
    }

    &--cost{
      @include screen-md{
        width: 360px !important;
        padding: 0 40px 70px !important;
      }
    }

    &.show{
      position: fixed;
      top: 0;
      left: 0;
      width: calc(100% - 45px);
      height: 100%;
      overflow: auto;
      background: #ffffff;
      z-index: 99;
      display: block;

      @include screen-md{
        position: absolute;
        width: 275px;
        background: #FFFFFF;
        box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        max-height: 100vh;
        height: auto;
        overflow: visible;
        padding: 0 40px 5px;
        top: 40px;
      }

      .projectsFilterPopup__title .number,
      .categoryFilterPopup__title .number{
        display: none;
      }

    }

    &__submit{
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 15px;
      background: #fff;
      z-index: 1;
      display: block;
      width: calc(100% - 45px);

      @include screen-md{
        display: none;
      }
    }

    &__cost{
      margin-top: 19px;

      @include screen-md{
        margin-top: 0;
        @include flex-block;
        @include flex-wrap(wrap);
      }

      input{
        width: 100%;
        height: 50px;
        border: 1px solid #000000;
        border-radius: 0 !important;
        -webkit-appearance: none;
        padding: 0px 16px;
        font-size: 15px;
        line-height: 25px;
        color: #000;
        margin-top: -1px;

        @include screen-md{
          width: 50%;
          &:nth-child(2){
            margin-left: -1px;
            width: calc(50% + 1px);
          }
        }
      }

      .uiSlider{
        width: 100%;
        position: relative;
        margin-top: 29px;
        height: 2px;
        background: #E0E0E0;

        .ui-slider-range{
          position: absolute;
          background: #000000;
          height: 2px;
        }

        .ui-slider-handle{
          width: 20px;
          height: 20px;
          border-radius: 100%;
          position: absolute;
          cursor: pointer;
          background: #000;
          transform: translate3d(-9px, -9px, 0);
        }
      }
    }

    &__list{
      padding: 0 0 135px 30px;

      @include screen-md{
        max-height: 330px;
        overflow: auto;
        padding: 0 18px 0 0;
        margin: 10px -35px 10px -15px;

        &::-webkit-scrollbar {
          width: 5px;
          padding: 10px 0;
          margin: 10px 0;
        }
        &::-webkit-scrollbar-button{
          display: none;
        }
        &::-webkit-scrollbar-thumb{
          background: #E0E0E0;
          border-radius: 10px;
        }
      }

      &--color{
        ul li::before{
          @include screen-md{
            width: calc( 100% - 74px) !important;
          }
        }
      }

      ul{
        padding: 0;
        margin: 0;
        list-style: none;

        @include screen-md{
          padding-top: 1px;
        }

        li{
          position: relative;
          border-bottom: 1px solid #E0E0E0;
          padding: 9px 0 10px;

          @include screen-md{
            border-radius: 30px;
            height: 37px;
            padding: 5px 10px 7px 45px;
            border: 1px solid #ffffff;
            margin-top: -1px;
            position: relative;

            @include hover {
              &:hover {
                border: 1px solid #000000;
                z-index: 10;

                &::before {
                  display: none;
                }
              }
            }

            &::before{
              content:"";
              position: absolute;
              bottom: 0;
              left: 45px;
              width: calc( 100% - 55px);
              height: 1px;
              background: #E0E0E0;
            }

            &:last-child::before{
              display: none;
            }
          }

          .color{
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 0;
            width: 15px;
            height: 15px;
            border-radius: 100%;

            @include screen-md{
              right: 10px;
            }

            &--white{
              background: #ffffff;
              border: 1px solid #000000;
            }

            &--biruza{
              background: #3EDCD9;
            }
            &--bordo{
              background: #940620;
            }
            &--blue{
              background: #56CCF2;
            }
            &--yellow{
              background: #F2C94C;
            }
            &--green{
              background: #27AE60;
            }
            &--gold{
              background: #C7A53B;
            }
            &--koral{
              background: #F96573;
            }
            &--brown{
              background: #783F10;
            }
            &--purple{
              background: #BB6BD9;
            }
          }


          label{

            .text{
              font-size: 15px;
              line-height: 25px;
              color: #000000;
            }
            
            input{
              display: none !important;

              &:checked ~ .checkboxTrigger{
                background: #000000;
                border-color: #000000;
              }

              &:checked ~ .radioTrigger{
                background: #000000;
                border-color: #000000;
              }
            }

            .radioTrigger,
            .checkboxTrigger{
              width: 13px;
              height: 13px;
              border: 1px solid #E0E0E0;
              position: absolute;
              left: -29px;
              top: 16px;

              @include screen-md{
                left: 15px;
                top: 12px;
              }
            }

            .radioTrigger{
              border-radius: 100%;
            }
          }
        }
      }
    }

    &__title{
      @include flex-block;
      @include align-items(center);
      padding: 20px 0 20px;
      font-size: 15px;
      line-height: 25px;
      border-bottom: 1px solid #000000;

      @include screen-md{
        padding: 41px 0 20px;
      }

      .back{
        margin-right: 14px;

        @include screen-md{
          display: none;
        }
      }

    }
  }


  //Открытие попапов фильтров и сортировки

  &__filters{
    padding: 0 15px;

    @include screen-md{
      padding: 0;
    }

    .projectsFilterPopup:not(.show),
    .categoryFilterPopup:not(.show){
      padding: 0;

      .projectsFilterPopup__title,
      .categoryFilterPopup__title{
        padding: 9px 0 10px;
        border-color: #E0E0E0;
        cursor: pointer;
        background: url(../images/sprite-icons/plus.svg) no-repeat right center / 15px 25px;

        .number{
          display: none;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background: #000;
          color: #fff;
          font-size: 15px;
          line-height: 20px;
          text-align: center;
          margin-right: 10px;

          &.show{
            display: inline-block;
          }
        }

        .back{
          display: none;
        }
      }

      .projectsFilterPopup__cost,
      .projectsFilterPopup__list,
      .categoryFilterPopup__cost,
      .categoryFilterPopup__list{
        display: none;
      }

      .projectsFilterPopup__submit,
      .categoryFilterPopup__submit{
        display: none;
      }
    }

  }

  &__item--inline{
    padding: 13px 0 14px;
    margin-left: 30px;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0;
    position: relative;

    @include screen-md{
      border-bottom: 1px solid #000;
      margin: 0 0 13px 0;
      line-height: 27px;
      padding: 1px 3px 10px;
    }

    @include screen-xl{
      padding: 2px 3px 14px;
    }

    label{

      @include screen-md{
        cursor: pointer;
        display: block;
        margin: 0;
        border: 1px solid #ffffff;
        border-radius: 30px;
        padding: 0 11px 0 27px;
        line-height: 23px;
        height: 25px;

        @include hover{
          &:hover{
            border-color: #ffffff;
          }
        }
      }

      .text{
        font-size: 15px;
        line-height: 25px;
        color: #000000;
      }

      input{
        display: none !important;

        &:checked ~ .checkboxTrigger{
          background: #000000;
          border-color: #000000;
        }

        &:checked ~ .radioTrigger{
          background: #000000;
          border-color: #000000;
        }
      }

      .radioTrigger,
      .checkboxTrigger{
        width: 13px;
        height: 13px;
        border: 1px solid #E0E0E0;
        position: absolute;
        left: -29px;
        top: 16px;

        @include screen-md{
          border-color: #000000;
          left: 13px;
          top: 7px;
        }

        @include screen-xl{
          border-color: #000000;
          top: 8px;
        }
      }

      .radioTrigger{
        border-radius: 100%;
      }
    }

  }

  &__title{
    @include flex-block;
    @include align-items(center);
    padding: 20px 0 20px;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 1px solid #000000;

    .number{
      display: none;
    }

    .back{
      margin-right: 14px;
    }

    @include screen-md{
      display: none;
    }
  }

  &__item--sort,
  &__filters{
    display: none;

    @include screen-md{
      display: block;
    }

    .close{
      position: fixed;
      top: 20px;
      right: 15px;
      cursor: pointer;
      color: #fff;
      border:none;
      padding: 0;
      background: transparent;


      @include screen-md{
        display: none;
      }
    }

    &.show{
      position: fixed;
      top: 0;
      left: 0;
      width: calc(100% - 45px);
      height: 100%;
      overflow: auto;
      background: #ffffff;
      z-index: 99;
      display: block;

      &::before{
        content:"";
        width: 45px;
        background: #000000;
        opacity: 0.8;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
      }
    }

  }


}


.pagination{
  position: relative;
  padding: 15px 0 6px;

  @include screen-md{
    padding: 20px 0 0;
    margin: 20px 0 10px;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
  }

  &__btns{
    @include flex-block;
    @include align-items(center);
    @include justify-content(space-between);

    .btn-round{
      width: calc(100% - 120px);

      @include screen-md{
        margin: 0 auto;
        width: 340px;
        max-width: 340px;
      }

      @include screen-xl{
        width: 400px;
        max-width: 400px;
      }
    }
  }

  &__arrows{
    @include flex-block;
    @include align-items(center);

    @include screen-md{
      position: absolute;
      right: 0;
      top: 20px;
    }

    a{
      color: #000;
      position: relative;


      svg{
        z-index: 2;
        position: relative;
      }

      &:not(.disabled):active{
        color: #ffffff;
        &::after{
          border-color: #000000;
        }
        &::before{
          background: #000;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      @include hover {
        &:not(.disabled):hover::before,
        &:not(.disabled):hover::after {
          opacity: 1;
        }
      }

      &::after{
        opacity: 0;
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 4px solid #D9C5BF;
        border-radius: 100%;
        z-index: 3;
      }

      &::before{
        opacity: 0;
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background: #D9C5BF;
        border-radius: 100%;
        z-index: 1;
      }

      &:first-child{
        margin-right: 10px;
        transform: rotate(180deg);
      }
    }
  }

  &__pages{
    margin-top: 100px;

    @include screen-md{
      margin-top: 120px;
    }

    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      @include flex-block;
      @include align-items(center);
      @include justify-content(center);

      li{
        @include screen-md{
          margin: 0 5px;
        }
      }

      a{
        font-weight: 500;
        font-size: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #000000;
        border: 1px solid #ffffff;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        line-height: 48px;
        font-family: $font-druk;
        @include flex-block;
        @include align-items(center);
        @include justify-content(center);

        @include hover {
          &:hover {
            background: #D9C5BF;
          }
        }

        &:active{
          background: #000;
          color: #ffffff;
        }
        
        &.active{
          border-color: #000;
          color: #000;
          background: transparent;
          pointer-events: none;
        }
      }
    }
  }
}