.catalog{
  padding: 26px 0 0;
  overflow: hidden;

  @include screen-md{
    padding: 147px 0 0;
  }

  @include screen-xl{
    padding: 57px 0 0;
  }

  &__list{
    margin: 90px -15px;

    @include screen-md{
      @include flex-block;
      @include flex-wrap(wrap);
      margin: 190px -20px 180px;
    }

    @include screen-xl{
      margin: 327px -40px 180px;
    }
  }

}

.categoryItem{

  @include screen-md{
    width: 50%;
  }

  @include hover {
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &:nth-child(2n){
    @include screen-md{
      margin-top:-130px;
    }
    @include screen-xl{
      margin-top:-385px;
    }
  }

  img{
    display: block;
    width: 100%;
    transition: all 0.3s ease;
  }

  &__image{
    overflow: hidden;
  }

  &__title{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    padding: 20px 15px 40px;

    @include screen-md{
      padding: 20px 20px 40px;
    }

    @include screen-xl{
      padding: 20px 40px 40px;
    }
  }

}