
.checkout{
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  margin: 0 0 120px;

  @include screen-md{
    margin: 90px 0 120px;
  }

  @include screen-md{
    margin: 0 0 200px;
  }

  &__form{
    margin-top: 89px;

    @include screen-md{
      margin-top: 100px;
    }
  }

  &Block{
    border-top: 1px solid #000000;
    margin-bottom: 80px;

    @include screen-md{
      @include flex-block;
      margin-bottom: 60px;
    }

    @include screen-xl{
      @include justify-content(space-between);
      margin: 0 -20px 60px;
      padding: 0 20px;
    }

    &__left{
      padding: 9px 0 0;

      @include screen-md{
        width: 190px;
        min-width: 190px;
        padding: 9px 40px 0 0;
      }

      @include screen-xl{
        width: 550px;
        min-width: 550px;
      }

      .checkoutBlock__map{
        @include screen-md{
          display: none;
        }

        @include screen-xl{
          display: block;
        }
      }
    }

    &__right{
      padding: 20px 0 0;

      @include screen-md{
        padding: 9px 0 0;
        width: calc(100% - 190px);
      }

      @include screen-xl{
        width: 620px;
      }

      .checkoutBlock__map{
        display: none;

        @include screen-md{
          display: block;
        }

        @include screen-xl{
          display: none;
        }
      }
    }

    &__map{
      height: 100vw;
      margin: 20px -15px 0;

      @include screen-md{
        height: 400px;
        margin: 0 0;
      }

      @include screen-xl{
        margin: 20px 0 0;
      }

      &>ymaps{
        width: 100% !important;
        height: 100% !important;
      }
    }

    &__description{
      font-size: 15px;
      line-height: 25px;
      color: #A2A3A6;
      margin-top: 20px;

      @include screen-md{
        margin-top: 80px;
        width: 290px;
      }
    }

  }

  &Address{

    &__list{
      padding: 0 15px 0 0;
      position: relative;

      @include screen-md{
        margin: 10px 0 0;
        padding: 0;
      }

      @include screen-xl{
        margin: 0 0 0;
        padding-right: 0;
      }

      &:after{
        @include screen-xl{
          content:"";
          position: absolute;
          z-index: 50;
          right: 0;
          top: 0;
          width: 1px;
          background: #ffffff;
          height: 100%;
        }
      }

      .slick-track{
        @include flex-block;
      }

      .slick-list{
        overflow: visible !important;

        @include screen-xl{
          overflow: hidden !important;
        }
      }

      .slick-arrow{
        position: absolute;
        display: none !important;
        border:none;
        background: transparent;
        padding: 0;
        z-index: 9;

        @include screen-xl{
          display: block !important;
        }

        &.slick-disabled{
          opacity: 0.3;
          cursor: default;
        }
      }

      .slick-next{
        top: -90px;
        right: 20px;
      }

      .slick-prev{
        top: -90px;
        right: 90px;
        transform: rotate(180deg);
      }

    }

    &Item{
      padding: 0 15px;
      border-left: 1px solid #000000;
      position: relative;

      @include screen-md{
        border-left: none;
        border-top: 1px solid rgba(0,0,0,0.15);
        @include flex-block;
        padding: 14px 0 34px;
      }

      &:first-child{
        @include screen-xl{
          border: none;
        }
      }


      &.active{
        .checkoutAddressItem__name{
          padding-left: 19px;
          text-decoration: underline;

          @include screen-md{
            padding-left: 25px;
          }

          &::before{
            content:"";
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 100%;
            background: #000;
            top: 7px;
            left: 16px;

            @include screen-md{
              top: 23px;
              left: 1px;
            }
          }
        }
      }

      &:last-child{
        border-right: none;
      }

      &__name{
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.01em;
        //color: #000000;

        @include screen-md{
          width: 250px;
          font-size: 21px;
          line-height: 30px;
        }

        @include screen-xl{
          width: 330px;
        }
      }

      &__text{
        font-size: 15px;
        line-height: 25px;
        margin-top: 40px;

        @include screen-md{
          margin: 0;
        }

        svg{
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  &Switch{
    @include flex-block;
    @include align-items(center);

    &--hider{
      @include screen-mobile{
        .checkoutSwitch__text{
          display: block;
        }
        .checkoutSwitch__text.active{
          display: none;
        }
      }
    }

    &--oneside{
      .checkoutSwitch__text{
        @include screen-md{
          font-size: 15px;
          line-height: 25px;
        }
      }
    }

    &__trigger{
      width: 45px;
      height: 23px;
      border: 1px solid #000000;
      border-radius: 20px;
      position: relative;
      cursor: pointer;

      @include hover {
        &:hover {
          border-color: #D9C5BF;
          background: #D9C5BF;
        }
      }

      @include screen-md{
        width: 70px;
      }

      &.active::before{
        left: 27px;

        @include screen-md{
          left: 51px;
        }
      }

      &::before{
        content:"";
        position: absolute;
        top: 4px;
        left: 4px;
        background: #000;
        border-radius: 100%;
        width: 13px;
        height: 13px;
        transition: all 0.3s ease;
      }
    }

    &__text{
      cursor: pointer;
      @include screen-md{
        font-size: 21px;
        line-height: 30px;
        letter-spacing: 0.01em;
      }

      &:first-child{
        margin-right: 10px;
      }
      &:last-child{
        margin-left: 10px;
      }

      &.active{
        text-decoration: underline;
      }
    }
  }


  &Bottom{
    border-top: 1px solid #000;

    @include screen-md{
      @include flex-block;
      @include justify-content(space-between);
      padding-top: 7px;
    }

    @include screen-xl{
      margin: 0 -20px;
      padding: 0 20px;
    }

    &__info{
      margin-top: 9px;

      @include screen-md{
        @include flex-block;
        @include align-items(center);
        margin: 0;
      }

      br{
        @include screen-md{
          display: none;
        }
      }

      svg{
        display: none;

        @include screen-md{
          display: block;
          margin: 0 5px;
        }
      }
    }

    &__cost{
      margin-top: 40px;
      text-align: right;
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.01em;

      @include screen-md{
        margin: 0;
      }

      span{
        font-size: 15px;
        line-height: 25px;

        @include screen-md{
          margin: 0 7px 4px 0;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

  }

  &__btn{
    margin-top: 10px;

    @include screen-md{
      padding-left: calc(100% - 530px);
      margin-top: 80px;
    }

    @include screen-xl{
      padding-left: calc(100% - 620px);
    }

    .btn-filled{

      @include screen-md{
        width: 100%;
        max-width: 100%;
      }

    }
  }

  &__agree{
    margin-top: 10px;

    @include screen-md{
      padding-left: calc(100% - 530px);
      margin-top: 10px;
    }

    @include screen-xl{
      padding-left: calc(100% - 620px);
    }

    label{
      @include flex-block;
      .text{
        font-size: 15px;
        line-height: 25px;
        color: #000000;

      }

      input{
        display: none !important;

        &:checked ~ .checkboxTrigger{
          background: #000000;
          border-color: #000000;
        }
      }

      .checkboxTrigger{
        width: 14px;
        height: 14px;
        min-width: 14px;
        border: 1px solid #000000;
        margin: 7px 11px 0 0;
      }

    }
  }
}


fieldset{
  padding: 0 !important;
  border:none;
  margin: 20px 0;

  &:first-child{
    margin-top: 0;

    @include screen-md{
      margin-top: 10px;
    }
  }

  .row{
    margin: 0;
    &>*{
      padding: 0;
      position: relative;

      &.opened,
      &.open{
        label{

        }
        input{
          height: 75px;
          padding: 24px 20px 0 20px;
        }
      }
    }
  }

  label{
    font-size: 15px;
    line-height: 25px;
    color: #A2A3A6;
    pointer-events: none;
    position: absolute;
    top: 12px;
    left: 20px;
  }

  input{
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-bottom: 1px solid #E0E0E0;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    min-height: 100%;
  }

  select{
    background: url(../images/sprite-icons/drop.svg) #F2F2F2 no-repeat calc(100% - 11px) center / 19px 25px;
    border: 1px solid #F2F2F2;
    border-bottom: 1px solid #E0E0E0;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    min-height: 100%;
    -webkit-appearance: none;
  }

  textarea{
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-bottom: 1px solid #E0E0E0;
    height: 125px;
    padding: 40px 20px 0 20px;
    width: 100%;
    min-height: 100%;
  }

  input,textarea,select{

    @include hover {
      &:hover {
        border: 1px solid #000;
      }
    }

    &:focus{
      border: 1px solid #000;
      background: #ffffff;
    }

    &.error{
      border-bottom-color: #A22BDA;
      color: #A22BDA;
    }
  }

  .errorText{
    font-size: 15px;
    line-height: 25px;
    color: #A22BDA;
  }

}