.clients{
  padding: 15px 0 40px;

  @include screen-md{
    padding: 20px 0 40px;
  }

  &__list{
    @include screen-md{
      @include flex-block;
      @include flex-wrap(wrap);
      @include justify-content(center);
      padding-top: 30px;
    }

    @include screen-xl{
      padding-top: 70px;
    }
  }

  &__item{
    margin: 30px 0 45px;
    min-height: 60px;
    @include flex-block;
    @include align-items(center);
    @include justify-content(center);

    @include screen-md{
      margin: 30px 35px 0;
    }

    @include screen-xl{
      margin: 30px 50px 0;
    }

    img{
      display: block;
    }
  }

  &__btn{
    @include screen-md{
      margin-top: 80px;
    }
  }
}