.dancingSlider{
  padding: 20px 0 40px;

  @include screen-md{
    padding-bottom: 120px;
  }

  @include screen-xl{
    padding-top: 40px;
  }

  &__text{
    font-size: 15px;
    line-height: 25px;
  }

  &__wrapper{
    margin: 10px -15px 0;
    padding-right: 30px;

    @include screen-md{
      margin: 10px -20px 0;
      padding-right: 100px;
    }

    @include screen-xl{
      padding-right: 0;
    }

    .slick-track{
      @include flex-block;
    }

    .slick-list{
      overflow: visible !important;
    }
  }

  &Item{
    color: #000;

    @include hover {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    a{
      cursor: pointer;
      display: block;
      color: #000;

    }

    &.type1{
      margin-top: 40px;
    }

    &.type2{
      margin-top: 80px;
    }

    &__title{
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding: 0 15px 20px;

      @include screen-md{
        padding: 0 20px 20px;
      }
    }

    &__image{
      overflow: hidden;

      img{
        display: block;
        width: 100%;
        transition: all 0.3s ease;
      }
    }

    &__round{
      width: 100%;
      border:1px solid #000000;
      border-radius: 100%;
      position: relative;
    }

    &__other{
      padding: 0 20px;

      img{
        display: block;
        width: 100% !important;
      }

      span{
        position: absolute;
        @include flex-block;
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        height: 100%;
        font-family: $font-druk;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

}