.darkTheme{
  background: #000;
  color: #ffffff;



  fieldset{

    select{
      background: url(../images/sprite-icons/drop-white.svg) #1E1E1F no-repeat calc(100% - 11px) center/19px 25px;
      color: #ffffff;
      border-color: #1E1E1F;
      border-bottom-color: #424242;
    }

    textarea,
    input{
      background: #1E1E1F;
      color: #ffffff;
      border-color: #1E1E1F;
      border-bottom-color: #424242;
      @include hover {
        &:hover {
          border-color: #ffffff;
        }
      }
      &:focus{
        background: #000;
      }
    }
  }

  .popup{

    &__close{
      color: #ffffff;
    }

    &__container{
      background: #000;
    }

    input{
      &:checked ~ .checkboxTrigger{
        background: #ffffff;
        border-color: #ffffff;
      }
    }
    .checkboxTrigger{
      border-color: #ffffff;
    }
  }

  .header{
    &__logo{
      color: #ffffff;
    }
    &__catalog{
      &::before{
        background: #ffffff;
      }
      a{
        color: #ffffff;
      }
    }

    &__callback,
    &__phone{
      color: #ffffff;
    }

    &__menuBtn{
      color: #ffffff;
    }

    &__searchBtn{
      color: #ffffff;
    }

    &__compareBtn{
      color: #ffffff;
    }

    &__cartBtn{
      color: #ffffff;
      .count{
        color: #000;
      }
    }

    &__menuBtn,
    &__searchBtn,
    &__compareBtn,
    &__cartBtn{
      @include hover{
        &:hover{
          &>span{
            background: #473E3D;
          }
        }
      }
    }

    &MobileWrapper.show{
      background: #000000;
      color: #ffffff;
      a{
        color: #fff;
      }

      .header__nav{
        border-color: #ffffff;
      }
    }

    &__nav{
      a{
        color: #ffffff;
      }
    }
    
    &__catalogNav{
      .close{
        span{
          color: #ffffff;
        }
        @include hover {
          &:hover span {
            background: #473E3D;
          }
        }
      }
      ul ul li{
        border-color: #424242;
      }
      ul ul li.title{
        background: #000;
        color: #ffffff;

        .back{
          color: #ffffff;
        }
      }

      li.all{
        border-top-color: #ffffff;
      }
      
      ul ul.show{
        background: #000000;
      }

      &.show{
        &::before{
          background: #000000;
        }
        a{
          color: #ffffff;

        }
      }
    }
  }


  .searchPopup{
    background: #000;
    color: #ffffff;

    &__top{
      border-color: #ffffff;

      input{
        background: transparent;
        color: #ffffff;
        border-color: #ffffff;
      }
    }

    .clear{
      color: #ffffff;
    }

    &Links{
      a{
        color: #ffffff;
      }
    }

    &Results{
      &__products,
      &__category{
        border-color: #ffffff;
        a{
          color: #ffffff;
          .highlight{
            border-color: #ffffff;
          }
        }
      }

      &__submit{
        background: #000;
      }
    }
  }

  .search{
    &__found{
      color: #ffffff;
    }

    &Form{
      &__search{
        color: #ffffff;
      }
      &__clear{
        color: #ffffff;
      }
      textarea{
        border-color: #ffffff;
        background: transparent;
        color: #ffffff;
      }
    }

    &Categories{
      &__item{
        a{
          //color: #ffffff;
        }
      }
    }
  }

  .mainBenefits{
    &__item{
      &::before{
        background: #ffffff;
      }
    }
  }

  .slick-arrow{
    color: #ffffff;

    &::after{
      border-color: #473E3D;
    }
    &::before{
      background: #473E3D;
    }


    &:active{
      color: #000 !important;
      &::after{
        border-color: #ffffff;
      }
      &::before{
        background: #ffffff;
      }
    }
  }

  .product{
    &Item{
      &::after{
        background: #ffffff;
      }
      &__new{
        background: #ffffff;
        color: #000;
      }
      &__content{
        color: #ffffff;
      }
    }

    &Page{
      &Info{
        @include screen-md{
          background: #1E1E1F;
        }
        &__block{
          border-color: #ffffff;
        }

        &__videoBtn{
          span{
            background: #ffffff;
          }
        }
        &__count{
          input{
            border-color: #ffffff;
            color: #ffffff;
          }
        }
        &__preOrder{
         &::before{
           background: #fff;
         }
        }
      }
      &__content{
        background: #1E1E1F;
      }

    }
  }

  .mainEquipment{
    &__info{
      color: #ffffff;
      span{
        background: #ffffff;
      }
    }
  }

  .instagram{
    background: #473E3D;
    &__title{
      border-color: #ffffff;
      color: #ffffff;
    }
    &Item--last{
      color: #ffffff;
      a{
        color: #ffffff;
        @include hover {
          &:hover {
            color: #D9C5BF;
          }
        }
      }
    }
  }

  .blog{
    &Item{
      a{
        color: #ffffff;
        &::before{
          background: #473E3D;
        }
      }
    }
  }

  .breadcrumbs ul li a {
    color: #ffffff;
  }

  .category{

    &Item__title{
      color: #ffffff;
    }

    &MobileFilters__list ul li a{
      background: #fff;
      color: #000;
    }

    &__mobileBtns{
      border-color: #ffffff;

      button{
        color: #ffffff;
      }
    }
    
    &Tags{
      &.show{
        background: #1E1E1F;
      }

      &__title{
        border-color: #ffffff;

        .back{
          color: #ffffff;
        }
      }

      &__list ul li{
        border-color: #424242;
      }

      &__list ul li a{
        color: #ffffff;

        @include screen-md{
          color: #ffffff;
          background: #1E1E1F;
        }

        @include hover {
          &:hover {
            background: #473E3D;
          }
          &:active{
            background: #ffffff;
            color: #000000;
          }
        }

        &.active{
          @include screen-md{
            background: #ffffff;
            color: #000000;
          }
        }

        &::before{
          background: #ffffff;
        }
      }
    }

  }

  .category,
  .projects{

    &__title{
      a{
        color: #fff;
      }
    }

    &Filter__item--sort.show,
    &Filter__filters.show{
      background: #1E1E1F;
    }

    &Filter{
      &__title{
        border-color: #ffffff;
        .back{
          color: #ffffff;
        }
      }
      &__item{
        border-color: #424242;

        &--inline{

          .checkboxTrigger{
            border-color: #ffffff;
          }

          input:checked~.checkboxTrigger,
          input:checked~.checkboxTrigger {
            background: #ffffff;
            border-color: #ffffff;
          }
        }
      }

      &__filters{
        .projectsFilterPopup:not(.show),
        .categoryFilterPopup:not(.show){
          .categoryFilterPopup__title{
            border-color: #424242;
            background: url(../images/sprite-icons/plus-dark.svg) no-repeat right center/15px 25px;

            .number{
              color: #000;
              background: #ffffff;
            }
          }

        }
      }
    }

    &FilterPopup{

      &.show{
        background: #1E1E1F;
      }

      &__submit{
        background: #1E1E1F;
      }

      &__title{
        border-color: #ffffff;

        .back {
          color: #ffffff;
        }
      }

      &__cost{
        input{
          background: transparent;
          color: #ffffff;
          border-color: #ffffff;
        }
        .uiSlider{
          background: #424242;
          .ui-slider-range{
            background: #ffffff;
          }
          .ui-slider-handle{
            background: #ffffff;
          }
        }
      }

      &__list{

        &::-webkit-scrollbar-thumb{
          background: #424242;
        }

        ul li{
          border-color: #424242;

          @include screen-md{
            border-color: #1e1e1f;
          }

          &::before{
            @include screen-md{
              background: #424242;
            }
          }
          @include hover {
            &:hover {
              @include screen-md {
                border-color: #ffffff;
              }
            }
          }
        }

        label .text{
          color: #ffffff;
        }

        .checkboxTrigger,
        .radioTrigger{
          border-color: #ffffff;
        }

        input:checked{
          & ~ .checkboxTrigger,
          & ~ .radioTrigger{
            background: #ffffff;
            border-color: #ffffff;
          }
        }
      }
    }

  }



  @include screen-md{

    .categoryFilter__opener,
    .projectsFilter__opener{
      color: #fff;
      border-color: #000000;

      &.active{
        border-color: #ffffff;
        background: #ffffff;
        color: #000;
      }
      @include hover {
        &:hover {
          border-color: #ffffff;
        }
      }
    }

    .categoryFilter__item--inline label,
    .projectsFilter__item--inline label{
      border-color: #000000;

    }
  }


  .categoryFilter__item,
  .projectsFilter__item{
    border-color: #ffffff;
  }

  .project{

    &Pagination{
      *{
        color: #fff;
      }
    }

    &Review__quote{
      border-color: #ffffff;
    }

    &Hide{
      color: #ffffff;
      a{
        color: #ffffff;
        span{
          color: #ffffff;
        }
        @include hover {
          &:hover span {
            background: #473E3D;
          }
        }
      }
    }
    
    &Short{
      &::after{
        background: #ffffff;
      }
      &__title{
        color: #ffffff;
      }
      &__categories ul li a{
        color: #ffffff;
      }
    }

    &s__list::after{
      background: #ffffff;
    }

    &Item{
      &::after{
        background: #ffffff;
      }

      a{
        color: #ffffff;
      }
      &__list ul li{
        &::before{
          border-color: #ffffff;
        }
        .date{
          color: #ffffff;
        }
      }
    }

  }

  .mainClients {
    background: url(../images/backgrounds/clients-bg-dark.jpg) center center / cover;
    &__middle{
      background: #000;
    }

    &__item{
      img{
        filter: invert(1);
      }
    }

    &__warranty{
      background: url(../images/backgrounds/clients-bg-dark.jpg) center center / cover;
      &::before{
        background: #ffffff;
      }
    }
  }

  .mainYears__wrapper{
    &::before{
      background: #1E1E1F;
    }
  }

  .mainPageTitle{
    border-color: #ffffff;
  }

  .mainDifficulty a {
    color: #fff;
  }
  
  .difficultItem{
    color: #fff;
  }

  .mainDifficultyOrder{
    background: #473E3D;
    img{
      opacity: 0;
    }
  }

  .mainShowroom{
    &Current{
      background: #473E3D;
    }
    &Item{
      border-color: #ffffff;
    }
  }

  .subscribe{
    background: url(../images/backgrounds/subscribe-bg-dark.jpg) center 0 / cover;

    .container{
      &::before{
        background: #ffffff;
      }
    }

    form input{
      color: #ffffff;
      border-color: #ffffff;
      &::placeholder{
        color: #ffffff;
      }
    }
  }

  .lightBg{
    background: #1E1E1F;
  }

  .btn{
    &.disabled{
      border: 1px solid #6E6F73 !important;
      color: #6E6F73 !important;
      background: transparent !important;

      &::before,
      &::after{
        display: none !important;
      }
    }

    &-category{
      border-color: #ffffff;
      color: #ffffff;
    }

    &-category,
    &-round{
      border-color: #ffffff;
      color: #ffffff;

      &::before{
        border-color: #473E3D;
      }
      @include hover {
        &:hover {
          background: #473E3D;
          border-color: #473E3D;
        }
      }
      &:active{
        background: #ffffff;
        border-color: #ffffff;
        color: #000000;
      }
    }
    
    &-filled{
      background: #ffffff;
      color: #000;
      &::before{
        border-color: #473E3D;
      }
      @include hover {
        &:hover {
          background: #473E3D;
        }
      }
      &:active{
        color: #ffffff;
        background: #000;
        border-color: #000000;
      }
    }

    &-tag{
      color: #ffffff;
      background: #1E1E1F;
      @include hover {
        &:hover {
          background: #473E3D;
        }
      }
      &:active{
        background: #ffffff;
        color: #000000;
      }
    }
  }

  .article{
    &Info{
      border-color: #ffffff;
      a{
        color: #ffffff;
      }
    }
    &Block{
      border-color: #ffffff;
    }

    blockquote{
      border-color: #ffffff;
      &::before{
        background: #ffffff;
      }
    }
  }

  .addServices{

    &__item{
      border-color: #ffffff;
      &::before{
        background: #ffffff;
      }
    }

    a{
      color: #ffffff;
    }
  }

  .services{

    &__title{
      a{
        color: #ffffff;
        span{
          color: #ffffff;
        }
        @include hover {
          &:hover span {
            background: #473E3D;
          }
        }
      }
    }

    &List__list{
      &::before{
        background: #ffffff;
      }
    }
    &Info{
      border-color: #ffffff;
      &__item{
        border-color: #424242;
      }
      &__icon {
        color: #ffffff;
      }
    }
  }



  .pagination{
    a{
      color: #ffffff;
      border-color: #000;
      @include hover {
        &:hover {
          background: #473E3D;
        }
      }
      &:active{
        background: #ffffff;
        color: #000000;
      }

      &.active{
        border-color:#fff;
        color: #ffffff;
      }
    }
  }

  .dancingSliderItem__title{
    color: #ffffff;
  }

  .innerTitle{
    border-color: #ffffff;
  }

  .clients{
    &__item{
      img{
        filter: invert(1);
      }
    }
  }

  .warranty{
    background: url(../images/backgrounds/subscribe-bg-dark.jpg) no-repeat center center / cover;
    padding: 11px 0;
    &__circle{
      background: #000;
      color: #ffffff;
      &::before{
        background: #ffffff;
      }
    }
  }

  .dancingSliderPopup .fancybox-slide--html {
    background: rgba(0,0,0,.5)!important;
  }

  .countryPopup{
    background: #000;
  }

  .cart{

    &__clear{
      a{
        color: #ffffff;
        @include hover {
          &:hover span {
            background: #473E3D;
          }
        }
        span{
          color: #ffffff;
        }
      }
    }

    &List{
      &__item{
        border-color: #424242;
      }
      &__title, &__price, &__cost,.x{
        color: #ffffff;
      }
      &__remove{
        background: #473E3D;
        color: #fff;

        @include screen-md{
          color: #fff;
          background: transparent;
        }
      }

      &__consult{
        .text{
          color: #ffffff;
        }
        .checkboxTrigger{
          border-color: #ffffff;
        }
        input:checked ~ .checkboxTrigger{
          background: #ffffff;
          border-color: #ffffff;
        }
      }
    }

    input{
      border-color:#ffffff;
      color: #fff;
    }

    .info{
      color: #ffffff;
    }

    .line{
      background: #424242;
    }

    .sale{
      color: #ffffff;
      &Size{
        border-color: #ffffff;
      }
    }

  }

  .brownBg{
    background: #473E3D;
  }

  .projectPagination__prev,
  .projectPagination__next{

    .button::after{
      border-color: #473E3D;
    }
    .button::before{
      background: #473E3D;
    }

    &:active{

      .button{
        color: #000000 !important;
        *{
          color: #000;
        }
      }

      .button::after{
        border-color: #ffffff;
      }

      .button::before{
        background: #ffffff;
      }
    }
  }

  .checkout{

    label{
      color: #6E6F73;
    }

    input{
      &::-webkit-color-swatch{
        color: #ffffff;
      }
      &[type='date']::-webkit-calendar-picker-indicator{
        cursor: pointer;
        background: url(../images/sprite-icons/calendar.svg) no-repeat center center / 18px 18px;
      }
      &[type='time']::-webkit-calendar-picker-indicator{
        cursor: pointer;
        background: url(../images/sprite-icons/clock.svg) no-repeat center center / 20px 20px;
      }
    }

    &__agree{
      .text{
        color: #ffffff;
      }
      .checkboxTrigger{
        border-color: #ffffff;
      }
      input:checked ~ .checkboxTrigger{
        background: #ffffff;
        border-color: #ffffff;
      }
    }

    &AddressItem{
      border-color: #424242;
    }

    &Block{
      border-color: #ffffff;
    }

    &Bottom{
      border-color: #ffffff;
    }

    &Switch{
      &__trigger{
        border-color: #ffffff;
        @include hover {
          &:hover {
            border-color: #473E3D;
            background: #473E3D;
          }
        }
        &::before{
          background: #ffffff;
        }
      }
    }
  }

  .aboutSlider{
    &__circle{
      background: #ffffff;
    }
    &__content{
      &::before{
        background: #ffffff;
      }
    }
  }

  .errorPage{
    .line{
      background-image: url(../images/sprite-icons/404-white.svg);
    }
  }
}