.difficult{
  padding: 15px 0 80px;

  @include screen-md{
    padding: 20px 0 40px;
  }

  &__wrapper{
    position: relative;
  }

  &__slider{
    margin: 0 -15px;
    padding-top: 80px;

    @include screen-md{
      margin: 0 -20px;
      padding-top: 85px;
      width: 440px;
    }

    @include screen-xl{
      width: auto;
      padding-top: 142px;
    }

    .slick-track{
      @include flex-block;
    }
  }

  &__text{
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
    transition: all 0.3s ease;

    @include screen-md{
      position: absolute;
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.01em;
      max-width: 356px;
      top: 70px;
      left: 0;
      z-index: 60;
      pointer-events: none;
    }

    @include screen-xl{
      top: 126px;
    }

    &.hide{
      opacity: 0;
    }
  }

  &__ikea{
    margin-top: 80px;
    font-size: 15px;
    line-height: 25px;

    @include screen-md{
      width: 380px;
      margin-top: 40px;
    }

    @include screen-xl{
      width: 400px;
      margin-top: 40px;
      margin: 40px 0 0 auto;
    }

    p{
      margin: 20px 0 0;
    }
  }

  &Item{
    margin-bottom: 40px;
    color: #000;

    @include hover {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    &.type0{
      @include screen-md{
        margin-top: 230px;
      }
    }

    &.type2{
      @include screen-md{
        margin-top: 120px;
      }
    }

    &__title{
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding: 0 15px 20px;

      @include screen-md{
        padding: 0 20px 20px;
      }
    }

    &__image{
      overflow: hidden;

      picture,img{
        display: block;
        width: 100%;
        transition: all 0.3s ease;
      }
    }

    &__text{
      padding: 20px 15px 0;
      font-size: 15px;
      line-height: 25px;

      @include screen-md{
        padding: 20px 20px 0;
      }
    }
  }
}