.errorPage{
  padding: 35px 0 0;
  overflow: hidden;

  @include screen-md{
    padding: 87px 0 0;
  }

  @include screen-xl{
    padding: 77px 0 0;
  }

  &__bg{
    .line{
      width: calc(100% + 200px);
      height: 27px;
      background: url(../images/sprite-icons/404.svg) 0 0 / auto 27px;
      position: relative;

      @include screen-md{
        height: 67px;
        background-size: auto 67px;
      }

      @include screen-xl{
        width: calc(100% + 600px);
      }

      &:first-child{
        left: -71px;

        @include screen-md{
          left: -87px;
        }

        @include screen-xl{
          left: -271px;
        }
      }
      &:last-child{
        left: -71px;
        margin-top: 18px;

        @include screen-md{
          left: -166px;
          margin-top: 14px;
        }

        @include screen-xl{
          left: -183px;
        }
      }
    }
  }

  &__under{
    margin-top: 207px;
    font-size: 15px;
    line-height: 25px;

    @include screen-md{
      margin-top: 249px;
    }

    @include screen-xl{
      width: 620px;
      margin-left: auto;
    }

  }

  &__text{

  }

  &__btn{
    padding: 20px 0 12px;

    @include screen-md{
      ppadding-bottom: 31px;
    }

    @include screen-xl{
      padding-bottom: 21px;
    }

    .btn-round{
      width: 100%;
      max-width: 100%;
    }
  }
}