
.instagramSlider{
  padding: 15px 0 70px;

  @include screen-md{
    padding: 20px 0 120px;
  }

  .container {
    position: relative;
  }

  &__list{
    width: 230px;
    margin: 28px auto 0;

    @include screen-md{
      width: 580px;
      margin-top: 105px;
    }

    @include screen-xl{
      width: 586px;
      margin-top: 122px;
    }

    .slick-list{
      overflow: visible !important;
    }

    .slick-track{
      @include flex-block;
    }

    .slick-arrow{
      position: absolute;
      display: none !important;
      border:none;
      background: transparent;
      padding: 0;
      z-index: 9;
      top: 20px;

      @include screen-md{
        display: block !important;
      }

      &.slick-disabled{
        opacity: 0.3;
        cursor: default;
      }
    }

    .slick-next{
      right: 20px;

      @include screen-xl{
        right: 20px;
      }
    }

    .slick-prev{
      right: 90px;
      transform: rotate(180deg);

      @include screen-xl{
        right: 90px;
      }
    }
  }

  &__item{
    margin: 0 15px;

    @include screen-md{
      margin: 0 36px;
    }

    img{
      display: block;
      width: 100%;
    }
  }

  &__text{
    font-size: 15px;
    line-height: 25px;
    padding: 7px 4px;

    @include screen-md{
      padding: 20px 20px 0;
    }
  }
}