*{
  outline:none !important;
}

/*



- Header



*/


.header{
  padding: 5px 0 0;

  @include screen-md{
    padding: 15px 0 0;
  }

  @include screen-lg{
    padding: 25px 0 0;
  }

  &.searchToggle{
    @include screen-md{
      padding-top: 84px;
    }

    @include screen-xl{
      padding-top: 94px;
    }

    .header__icons{
      @include screen-md{
        transform: translateY(-59px);
      }
      @include screen-xl{
        transform: translateY(-69px);
      }
    }

    .header__icons{
      position: relative;
      z-index: 15;
    }

    .header__logo{
      @include screen-xl{
        position: relative;
        z-index: 15;
      }
    }
  }

  &__top{
    @include flex-block;
    @include justify-content(space-between);
    @include align-items(flex-start);
    //position: relative;

    @include screen-md{
      position: relative;
    }
  }

  &__nav{
    display: none;
    position: relative;
    z-index: 11;

    @include screen-md{
      display: flex;
      margin-top: -4px;
    }

    @include screen-xl{
      margin: -4px 0 0 377px;
    }

    ul{
      padding: 0;
      margin: 0;
      list-style: none;

      &:first-child{
        margin-right: 70px;

        @include screen-xl{
          margin-right: 100px;
        }
      }

      li{
        a{
          font-size: 15px;
          line-height: 25px;
          color: #000000;
          text-decoration: none;
          @include flex-block;
          @include align-items(center);
          transition: all 0.3s ease;

          svg{
            margin-right: 4px;
            width: 15px;
            min-width: 15px;
            height: 15px;
          }

          @include hover {
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  &__logo{
    display: block;
    width: 108px;
    height: 11px;
    margin-top: 12px;
    color: #000000;
    position: relative;
    z-index: 15;

    @include screen-md{
      width: 132px;
      height: 13px;
      margin-top: 3px;
    }

    @include screen-lg{
      width: 156px;
      height: 15px;
      z-index: 15;
    }

    @include screen-xl{
      margin-top: 0;
    }

    svg{
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__right{
    margin: 0 -5px 0 0;
    z-index: 15;
    position: relative;

    @include screen-md{
      margin: -10px -5px 0 0;
    }
  }

  &__icons{
    @include flex-block;
    @include justify-content(flex-end);
    position: relative;
    z-index: 11;

    a,
    button{
      padding: 0;
      margin: 0 0 0 17px;
      border:none;
      background: transparent;
      color: #000;
      text-decoration: none;
      cursor: pointer;

      @include screen-md{
        margin: 0 0 0 10px;
      }

      &:first-child{
        margin-left: 0;
      }
    }
  }

  &__menuBtn,
  &__searchBtn{
    .close{
      display: none;
    }

    &.opened{
      .close{
        display: block;
      }
      .open{
        display: none;
      }
    }
  }

  &__menuBtn,
  &__searchBtn,
  &__compareBtn,
  &__cartBtn{

    &>span{
      width: 40px;
      height: 40px;
      display: block;
      @include flex-block;
      @include align-items(center);
      @include justify-content(center);
      border-radius: 100% !important;
      transition: all 0.3s ease;
    }
    @include hover {
      &:hover {
        & > span {
          background: #D9C5BF;
          border-radius: 100%;
        }
      }
    }
  }

  &__phone{
    display: none;
    margin-right: 5px;

    @include screen-md{
      display: block;
      font-size: 15px;
      line-height: 25px;
      text-align: right;
      color: #000000;
      margin-top: 16px;
    }
  }

  &__callback{
    display: none;
    margin-right: 5px;
    transition: all 0.3s ease;

    @include screen-md{
      display: block;
      font-size: 15px;
      line-height: 25px;
      text-align: right;
      color: #000000;
    }

    @include hover {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__cartBtn{
    position: relative;

    &.filled{
      .empty{
        display: none;
      }
      .filled{
        display: block;
      }
      .count{
        display: block;
      }
    }
    
    .count{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 15px;
      line-height: 40px;
    }

    .filled{
      display: none;
    }
  }

  &__catalog{
    display: none;
    z-index: 15;

    @include screen-md{
      display: block;
      position: absolute;
      left: 0;
      top: 71px;
      font-size: 15px;
      line-height: 25px;
    }

    @include screen-xl{
      left: 220px;
      top: -4px;
    }

    &.opened{
      @include screen-md{
        &::before{
          content:"";
          position: absolute;
          top: 7px;
          right: -2px;
          width: 13px;
          height: 13px;
          border-radius: 100%;
          background: #000000;
        }
        svg{
          opacity: 0;
        }
      }
    }

    a{
      color: #000;
      @include flex-block;
      @include align-items(center);
      transition: all 0.3s ease;

      @include hover {
        &:hover {
          opacity: 0.8;
        }
      }

      svg{
        margin: 0 0 0 4px;
      }
    }
  }

  .headerMobileWrapper{

    @include screen-mobile{
      display: none;
    }
    
    &.show{
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background: #ffffff;
      z-index: 10;
      height: calc(100vh - 50px);
      overflow: auto;
      display: block;
      padding: 20px 15px 45px;

      .header__nav{
        @include flex-block;
        border-top: 1px solid #000000;
        padding-top: 5px;
        margin: 80px 0 0;

        ul{
          margin: 0 !important;
          width: 50%;

          li{
            margin-top: 10px;
            &.sale{
              display: none;
            }
          }
        }
      }

      .header__catalogNav{
        display: block;
      }
    }
  }

  &__catalogNav{

    a{
      transition: all 0.3s ease;

      @include hover {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    @include screen-md{
      display: none;
    }

    &::after{
      @include screen-md {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.8);
      }
    }

    &::before{
      @include screen-md {
        content: "";
        position: absolute;
        top: -230px;
        left: 0;
        width: 100%;
        height: calc(100% + 230px);
        background: #ffffff;
      }
    }

    .wrapper{
      position: relative;
    }

    &.show{
      display: block;
      position: fixed;
      top: 110px;
      left: 0;
      width: 100%;
      background: #fff;
      z-index: 10;
      height: calc(100vh - 110px);
      padding: 0 20px 0;
      max-height: 100%;

      @include screen-md{
        background: transparent;
        top: 230px;
        height: auto;
      }

      @include screen-xl{
        padding: 0 20px;
      }

      &>ul{
        border-top: 1px solid #000;
        padding: 8px 0 0;
        position: relative;

        @include screen-md{
          height: 740px;
        }

        @include screen-xl{
          max-width: 1320px;
          margin: 0 auto;
          padding: 9px 20px 0;
          border-top: none;
          height: 444px;
        }

        &::before{
          @include screen-xl{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 310px;
            background: #000;
            height: 1px;
          }
        }

        &>.all{
          display: none;
        }
      }
    }

    .close{
      display: none;

      @include screen-md{
        display: block;
        position: absolute;
        @include flex-block;
        font-size: 15px;
        line-height: 25px;
        color: #000;
        cursor: pointer;
        top: -40px;
        right: 20px;
        z-index: 20;
        @include align-items(center);
      }

      @media (min-width: 1360px){
        right: calc( (100% - 1263px) / 2 );
      }

      span{
        width: 30px;
        min-width: 30px;
        border-radius: 100%;
        height: 30px;
        @include flex-block;
        @include align-items(center);
        @include justify-content(center);
        color: #000;
        margin: 0 -5px 0 5px;
      }

      @include hover {
        &:hover span {
          background: #D9C5BF;
        }
      }
    }

    ul{
      padding: 0;
      margin: 0;
      list-style: none;

      li{
        margin-top: 10px;
      }

      ul{
        display: none;

        &.stone{

          &.show{
            @include screen-md{
              @include flex-block;
              padding: 0 20px;
            }

            @include screen-xl{
              padding: 0 20px;
            }
          }

          &>li{

            @include screen-md{
              width: 33.333332%;
              border:none;
            }

            &>ul{
              display: block;
              margin-top: 15px;

              li{
                border:none;

                @include screen-md{
                  padding: 0;
                  margin: 7px 0 0;
                }

                a{
                  font-size: 15px;
                  line-height: 25px;
                  font-family: $font-suisse;
                  text-transform: none;
                  letter-spacing: 0;
                  font-weight: 400;
                  @include flex-block;

                  img{
                    margin-right: 10px;
                    width: 25px;
                    height: 25px;
                    overflow: hidden;
                    border-radius: 100%;
                  }
                }
              }
            }
          }
        }

        &.show{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #ffffff;
          z-index: 12;
          overflow: auto;
          display: block;
          padding: 0 15px 55px;
          margin: 0;

          @include screen-md{
            top: 214px;
            padding: 0 0 55px 35%;
            height: calc(100vh - 510px);
            columns: 2;
            column-gap: 40px;
            border-top: 1px solid #000;
            overflow: auto;
            height: 100%;
          }

          @include screen-xl{
            top: 0;
            left: 330px;
            padding: 0 50px 25px 350px;
            width: calc(100% - 330px);
            column-gap: 70px;
            height: 100%;
          }
        }

        li{
          border-bottom: 1px solid #E0E0E0;
          padding: 0 0 11px;
          margin: 8px 0 0;

          @include screen-md{
            display: inline-block;
            width: 100%;
            padding: 11px 0 20px;
          }

          &.title{
            font-family: $font-druk;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #000000;
            padding: 9px 0 22px;
            border:none;
            background: #ffffff;
            top: 0;

            @include screen-md{
              display: none;
            }

            span{
              width: 13px;
              height: 13px;
              border-radius: 100%;
              background: #000000;
              vertical-align: middle;
              display: inline-block;
              margin: -2px 0 0 2px;
            }

            .back{
              border:none;
              cursor: pointer;
              padding: 0;
              margin-top: 6px;
              transform: rotate(180deg);
              background: transparent;
            }
          }
        }
      }

      a{
        font-family: $font-druk;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #000000;

        &.opened{
          @include screen-md{
            &::after{
              content:"";
              width: 13px;
              height: 13px;
              border-radius: 100%;
              background: #000000;
              vertical-align: middle;
              display: inline-block;
              margin: -2px 0 0 5px;
            }
          }
        }
      }
    }

    a{
      color: #000;
    }

    li.all{
      border-top: 1px solid #000;
      padding-top: 9px;

      @include screen-md{
        left: 3px;
        top: 18px;
        padding: 0;
        margin: 0;
        border:none;
        position: absolute;
        width: auto;
      }

      @include screen-xl{
        left: 20px;
        top: 19px;
      }

      a{
        font-size: 15px;
        line-height: 25px;
        font-family: $font-suisse;
        text-transform: none;
        letter-spacing: 0;
        font-weight: 400;
      }
    }

    .tocatalog{
      display: none;

      @include screen-md{
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 200px;
        display: block;
        z-index: 20;
      }

      @include screen-xl{
        bottom: 40px;
        left: calc( (100% - 1280px) /2);
      }
    }

  }

}

/*



- Footer



*/

.footer{
  background: #000;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  padding-bottom: 25px;

  @include screen-md{
    padding-bottom: 50px;
  }

  a{
    color: #ffffff;

  }

  &__logo{
    display: block;
    width: 108px;
    height: 11px;
    color: #ffffff;
    margin-top: 19px;
    margin-bottom: 45px;
    position: relative;
    z-index: 15;

    @include screen-md{
      width: 156px;
      height: 15px;
      margin: 36px 0 70px;
    }

    @include screen-lg{
      width: 156px;
      height: 15px;
    }

    @include screen-xl{
      margin-top: 44px;
    }

    svg{
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__nav{
    border-top: 1px solid #ffffff;
    margin-top: 40px;
    padding: 7px 0 0;
    line-height: 30px;
    @include flex-block;

    @include screen-md{
      display: block;
      border-top: none;
    }

    @include screen-xl{
      padding: 0;
      margin-top: 38px;
    }

    ul{
      padding: 0;
      margin: 0;
      list-style: none;

      li{

        a{
          @include flex-block;
          @include align-items(center);
          transition: all 0.3s ease;

          @include hover {
            &:hover {
              opacity: 0.8;
            }
          }

          svg{
            margin-right: 4px;
            width: 15px;
            min-width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  &__title{
    width: 50%;
    padding: 0 10px 0 0;

    @include screen-md{
      width: 100%;
      padding: 0 10px 35px 0;
    }
  }

  &__social{
    @include flex-block;
    margin-top: 77px;

    @include screen-md{
      margin-top: 117px;
    }

    @include screen-xl{
      margin-top: 112px;
    }

    @include hover {
      &:hover a {
        border: none;
      }
    }

    a{
      border: 1px solid #ffffff;
      display: block;
      margin-right: -1px;
      width: 62px;
      height: 62px;
      @include flex-block;
      @include justify-content(center);
      @include align-items(center);
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;

      svg{
        z-index: 2;
        position: relative;
      }

      &:before{
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0px;
        height: 0px;
        border-radius: 100%;
        background: #ffffff;
        opacity: 0;
        z-index: 1;
        transition: all 0.3s ease;
      }

      @include hover {
        &:hover {
          color: #000;

          &::before {
            opacity: 1;
            top: -5px;
            left: -5px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
          }
        }
      }
    }
  }

  &__copyrights{
    margin-top: 20px;

    @include screen-md{
      margin-top: 38px;
    }

    a{
      transition: all 0.3s ease;
      @include hover {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__end{
    @include screen-xl{
      @include flex-block;
      margin-top: 262px;
    }
  }

  &__dev{
    margin-top: 80px;

    @include screen-md{
      margin-top: 125px;
    }

    @include screen-xl{
      margin: 0 0 0 290px;
    }

    a{
      transition: all 0.3s ease;
      @include hover {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__checkbox{
    margin-top: 80px;
    cursor: pointer;

    @include screen-md{
      margin-top: 117px;
    }

    @include screen-xl{
      margin: 0;
    }

    label{
      @include flex-block;
      @include align-items(center);
      cursor: pointer;

      input{
        display: none;

        &:checked ~ .trigger{
          &::before{
            left: auto;
            right: 4px;
          }
        }
      }

      .trigger{
        width: 50px;
        height: 23px;
        border: 1px solid #ffffff;
        position: relative;
        border-radius: 50px;
        transition: all 0.3s ease;

        @include hover {
          &:hover {
            border-color: #473E3D;
            background: #473E3D;
          }
        }

        &::before{
          content:"";
          width: 13px;
          height: 13px;
          position: absolute;
          display: block;
          top: 4px;
          left: 4px;
          background: #ffffff;
          border-radius: 100%;
        }
      }


      .text{
        margin-left: 10px;
      }
    }
  }

}

h1.h1,.h1{
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-family: $font-steinbeck;
  margin: 0;

  @include screen-md{
    font-size: 90px;
    line-height: 80px;
  }
}

.innerTitle{
  font-size: 15px;
  line-height: 25px;
  letter-spacing: .08em;
  text-transform: uppercase;
  font-family: $font-druk;
  border-top: 1px solid #000000;
  padding: 13px 0;

  @include screen-md{
    padding: 17px 0;
  }

  @include screen-xl{
    padding: 17px 20px 0;
    margin: 0 -20px;
  }
}

.lightBg{
  background: #F2F2F2;
}

.brownBg{
  background: #D9C5BF;
}

.slick-arrow{
  cursor: pointer;
  background: transparent;
  border:none;
  padding: 0;

  svg{
    z-index: 2;
    position: relative;
  }

  &:not(.slick-disabled):active{
    color: #ffffff;
    &::after{
      border-color: #000000;
    }
    &::before{
      background: #000;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  @include hover {
    &:not(.slick-disabled):hover::before,
    &:not(.slick-disabled):hover::after {
      opacity: 1;
    }
  }

  &::after{
    opacity: 0;
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: 4px solid #D9C5BF;
    border-radius: 100%;
    z-index: 3;
  }

  &::before{
    opacity: 0;
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: #D9C5BF;
    border-radius: 100%;
    z-index: 1;
  }

}