.mainTitle{
  font-family: $font-steinbeck;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 16px 0 79px;

  @include screen-md{
    font-size: 90px;
    line-height: 80px;
    letter-spacing: -0.02em;
    margin: 147px 0 32px;
  }

  @include screen-xl{
    margin: 57px 0 37px;
  }

}

.mainSlider{
  position: relative;
  overflow: hidden;
  z-index: 1;

  .slick-track{
    @include flex-block;
  }

  .slick-arrow{
    position: absolute;
    display: none !important;
    z-index: 50;
    width: 50%;
    height: 100%;
    top: 0;
    opacity: 0;
    color: #fff;

    @include screen-xl{
      display: block !important;
    }

    @include hover {
      &:hover {
        opacity: 1;

        &::after,
        &::before {
          display: none !important;
        }
      }
    }

    svg{
      position: absolute;
      top: 50%;
      margin-top: -39px;
    }

    &.slick-disabled{
      opacity: 0 !important;
      cursor: default;
    }

    &.slick-prev{
      left: 0;
      transform: rotate(180deg);

      svg{
        left: 560px;
      }
    }

    &.slick-next{
      right: 0;

      svg{
        left: 560px;
      }
    }
  }

  .slick-dots{
    position: absolute;
    padding: 0 19px;
    margin: 0;
    bottom: 15px;
    @include flex-block;
    @include justify-content(center);
    @include align-items(center);
    list-style: none;
    left: 0;
    width: 100%;
    z-index: 9;

    li{
      margin: 0 1px;
      flex: 1 auto;

      @include screen-xl{
        max-width: 120px;
        margin: 0 3px;
      }

      &.slick-active button::before{
        animation: 3s linear filler;
      }

      @keyframes filler {
        from{
          width: 0;
        }
        to{
          width: 100%;
        }
      }

      button{
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        overflow: hidden;
        border:none;
        line-height: 30px;
        position: relative;

        @include screen-xl{
          height: 4px;
        }

        &::before{
          content:"";
          left: 0;
          position: absolute;
          width: 0;
          top: 0;
          height: 100%;
          background: #fff;
        }
      }
    }
  }

  &__item{
    position: relative;
    overflow: hidden;
    height: 280px;
    z-index: 5 !important;
    opacity: 1 !important;
    //background: #005eec;

    &.slick-active{
      z-index: 7 !important;
      //background: #ec0000;

      .mainSlider__title{
        transform: translateX(0px);
        opacity: 1;
        transition: all 0.5s ease 0.5s;
      }
    }

    &.beforeslide{
      //Делаем чтобы анимация была именно поверхслайда с которого уходим
      z-index: 6 !important;
    }

    &.animated{
      .mainSlider__image{
        clip-path: polygon(0% 0%, 25% 0, 25% 100%, 25% 100%, 25% 0%, 50% 0, 50% 100%, 50% 100%, 50% 0%, 75% 0%, 75% 100%, 75% 100%, 75% 0%, 100% 0%, 100% 100%,0% 100%);
      }
    }

    &.animated-fromleft{
      .mainSlider__image{
        clip-path: polygon(0% 0%, 25% 0, 25% 100%, 25% 100%, 25% 0%, 50% 0, 50% 100%, 50% 100%, 50% 0%, 75% 0%, 75% 100%, 75% 100%, 75% 0%, 100% 0%, 100% 100%,0% 100%);
      }
    }

    &.prepared{
      z-index: 8 !important;

      .mainSlider__image {
        clip-path: polygon(0% 0%, 0% 0, 0% 100%, 25% 100%, 25% 0%, 25% 0, 25% 100%, 50% 100%, 50% 0%, 50% 0, 50% 100%, 75% 100%, 75% 0%, 75% 0%, 75% 100%, 0% 100%);
        transition: none;
      }
    }

    @include screen-md{
      height: 490px;
    }

    @include screen-xl{
      height: 375px;
    }

  }

  &__image{
    @include flex-block;
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
    transition: clip-path 1s ease;

    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title{
    position: absolute;
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 14px 0 0;
    z-index: 5;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 0.5s ease;

    @include screen-md{
      margin: 19px 0 0;
      max-width: 440px;
    }

    @include screen-xl{
      margin: 39px 0 0;
      max-width: 420px;
    }
  }

}

.mainBenefits{
  margin-bottom: 55px;

  @include screen-md{
    padding-top: 20px;
    margin-bottom: 80px;
  }

  @include screen-xl{
    margin-bottom: 120px;
  }

  &__item{
    width: 50%;
    padding: 25px 15px 0;
    font-size: 15px;
    line-height: 25px;
    position: relative;
    margin: 15px 0 25px;

    @include screen-md{
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.01em;
      margin: 20px 0 0;
      padding: 30px 15px 0;
    }

    @include screen-xl{
      padding: 30px 20px 0;
    }

    &::before{
      content:"";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #000;
      top: 0;
      left: 15px;

      @include screen-xl{
        left: 20px;
      }
    }
  }
}

.mainPageTitle{
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-family: $font-steinbeck;
  border-top: 1px solid #000000;
  padding: 5px 0;

  @include screen-md{
    font-size: 90px;
    line-height: 80px;
    letter-spacing: -0.02em;
    padding: 17px 0;
  }

  @include screen-xl{
    padding: 17px 20px 0;
    margin: 0 -20px;
  }
}

/*

17 лет работы

*/

.mainYears{
  //background: #F2F2F2;
  padding: 15px 0 70px;
  overflow: hidden;

  @include screen-md{
    padding: 20px 0 120px;
  }

  &__title{

  }

  &__wrapper{
    position: relative;

    &::before{
      @include screen-xl{
        content:"";
        right: calc(100% - 420px);
        top: -50px;
        position: absolute;
        width: 50vw;
        height: 200%;
        background: #F2F2F2;
        z-index: 1;
      }

    }
  }

  &__text1{
    font-size: 15px;
    line-height: 25px;
    margin: 25px 0 38px;
    z-index: 2;

    @include screen-md{
      font-size: 21px;
      line-height: 30px;
    }

    @include screen-xl{
      position: absolute;
      top: 0px;
      width: 330px;
      left: 0;
      font-size: 21px;
      line-height: 30px;
      margin: 0;
    }
  }

  &__text2{
    margin: 21px 0 0;
    font-size: 15px;
    line-height: 25px;
    z-index: 2;

    @include screen-md{
      margin: 81px 0 0;
      max-width: 540px;
    }

    @include screen-xl{
      position: absolute;
      top: 201px;
      width: 320px;
      left: 0;
      margin: 0;
    }

    svg{
      display: block;
      width: 85px;
      height: 31px;

      @include screen-md{
        width: 112px;
        height: 40px;
      }
    }

    p{
      margin: 20px 0 19px;
    }
  }

  &Slider{
    margin: 0 15px 0 -15px;

    @include screen-md{
      margin: 0;
    }

    @include screen-xl{
      margin: 142px -20px 0 0;
      padding: 0 0 0 420px;
    }

    .slick-arrow{
      position: absolute;
      display: none !important;

      @include screen-xl{
        display: block !important;
        top: -70px;
      }

      &.slick-disabled{
        opacity: .3;
        cursor: default;
      }

      &.slick-prev{
        right: 70px;
        transform: rotate(180deg);
      }

      &.slick-next{
        right: 0;
      }
    }

    .slick-track{
      @include flex-block;
    }

    &__title{
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding-left: 15px;

      @include screen-md{
        padding-left: 18px;
      }
    }

    &__animate{
      inset: auto !important;
    }

    &__image{
      margin: 11px 0 9px;

      @include screen-md{
        margin: 21px 0 19px;
      }

      img{
        display: block;
        width: 100%;
      }
    }

    &__item{
      &--under{
        transform: translateY(35px);

        @include screen-xl{
          transform: translateY(90px);
        }
      }
    }

  }

}

.mainDifficulty{
  padding: 15px 0 70px;
  overflow: hidden;

  @include screen-md{
    padding: 20px 0 120px;
  }

  @include screen-xl{
    padding-bottom: 31px;
  }

  &__title{

  }

  a{
    text-decoration: none;
    color: #000;
    display: block;
  }

  &__list{
    margin: 0 -15px;

    @include screen-md{
      margin: 65px -20px 0;
      columns:2;
      column-gap: 0;
    }

    @include screen-xl{
      @include flex-block;
      @include flex-direction(column);
      @include flex-wrap(wrap);
      height: 900px;
      margin: 84px -20px 0;
    }
  }

  &__text{
    font-size: 15px;
    line-height: 25px;
    padding: 45px 15px 0;
    width: 100%;

    @include screen-md{
      display: inline-block;
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.04em;
      padding: 20px 20px 15px 20px;
    }

    @include screen-xl{
      width: 33.333332%;
      padding: 41px 50px 15px 20px;
    }
  }

  &Item{
    margin-top: 20px;
    width: 100%;

    @include screen-md{
      margin-top: 41px;
      display: inline-block;
    }

    @include screen-xl{
      width: 33.333333332%;
    }

    @include hover {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    &--mt{
      @include screen-md{
        margin-top: 100px;
      }
      @include screen-xl{
        margin-top: 41px;
      }
    }

    &--xlmt{
      @include screen-xl{
        margin-top: 201px;
      }
    }

    img{
      display: block;
      width: 100%;
      transition: all 0.3s ease;
    }

    &__image{
      overflow: hidden;
    }

    &__title{
      padding: 10px 15px 0;
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;

      @include screen-md{
        padding: 18px 20px 0;
      }
    }
  }

  &Order{
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    display: block;

    @include screen-md{
      display: inline-block;
      margin-top: 41px;
    }

    @include screen-xl{
      width: 33.333332%;
      margin-top: 155px;
    }

    img{
      display: block;
      width: 100%;
    }

    &__title{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 9px 15px 0;
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;

      @include screen-md{
        padding: 19px 20px 0;
      }

    }

    &__text{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 15px;
      line-height: 25px;
      padding: 0 15px 9px;

      @include screen-md{
        padding: 0 20px 19px;
        max-width: 250px;
      }

    }

  }

  &__btn{
    margin: 21px 0 0;
    padding: 0 15px;

    @include screen-md{
      margin: 105px 0 0;
      padding: 0 20px;
      text-align: right;
    }

    @include screen-xl{
      margin-top: 197px;
    }
  }

}

.mainEquipment{
  padding: 15px 0 70px;
  overflow: hidden;
  //background: #F2F2F2;

  @include screen-md{
    padding: 20px 0 120px;
  }

  &__title{

  }

  &__wrapper{
    @include screen-xl{
      @include flex-block;
      @include justify-content(space-between);
    }
  }

  &__left{
    position: relative;
    margin: 44px -15px 0;

    @include screen-md{
      margin: 85px -20px 0;
      height: 690px;
    }

    @include screen-xl{
      width: 660px;
      margin-top: 125px;
      height: 600px;
    }

    img{
      width: 105px;
      right: 0;
      top: 0;
      position: absolute;

      @include screen-md{
        width: 253px;
      }

      @include screen-xl{
        width: 220px;
      }
    }
  }

  &__video{
    width: calc(100% - 105px);
    height: 290px;
    transition: all 0.3s ease;
    z-index: 5;
    position: relative;

    @include screen-md{
      width: calc(100% - 253px);
      height: 690px;
    }

    @include screen-xl{
      width: calc(100% - 220px);
      height: 600px;
    }

    @include hover {
      &:hover {
        @include screen-xl {
          width: 1080px;
          z-index: 5;
        }
      }
    }

    .cover{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    video{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      cursor: pointer;
      z-index: 1;
    }
  }

  &__content{
    font-size: 15px;
    line-height: 25px;
    transition: all 0.3s ease;

    @include screen-md{
      font-size: 21px;
      line-height: 30px;
      padding: 8px 20px 0 190px;
    }

    @include screen-xl{
      padding: 93px 20px 0 0px;
      width: 400px;
    }

    &.slide{
      @include hover{
        transform: translateX(280px);
      }
    }

    p{
      margin: 1.5em 0;
    }
  }

  &__info{
    @include flex-block;
    @include align-items(center);
    font-size: 15px;
    line-height: 25px;
    margin-top: 39px;
    padding: 0;
    background: transparent !important;
    border:none;
    cursor: pointer;
    text-align: left;
    border:none !important;

    @include screen-xl{
      margin-top: 179px;
    }

    span{
      width: 50px;
      height: 50px;
      min-width: 50px;
      background: #000;
      border-radius: 100%;
      margin-right: 10px;

      @include screen-md{
        width: 70px;
        height: 70px;
        margin-right: 21px;
      }
    }
  }

}

.mainSpecial{
  padding: 15px 0 70px;
  overflow: hidden;

  @include screen-md{
    padding: 20px 0 120px;
  }

  &--toparrows{

    .mainSpecial__list{
      position: initial;

      .slick-prev{
        top: 20px;
        right: 90px;
        bottom: unset;
      }
      .slick-next{
        top: 20px;
        right: 20px;
        bottom: unset;
      }
    }

    .container{
      position: relative;
    }

  }

  &--inner{

    @include screen-md{
      //padding-bottom: 191px;
      padding-bottom: 80px;
    }

    .mainSpecial__list{
      margin: 28px -15px 0 -21px;

      @include screen-md{
        margin: 65px -20px 0 -31px;
      }

      @include screen-xl{
        margin: 81px -20px 0 -31px;
      }
    }

    .searchCategories{
      margin-top: 0;

      @include screen-xl{
        margin: 12px -15px -41px;
      }

    }
  }

  &__title{

  }

  &__list{
    overflow: visible;
    margin: 44px -15px 0 -21px;
    position: relative;

    @include screen-md{
      margin: 85px -20px 0 -31px;
    }

    @include screen-xl{
      margin: 125px -30px 0 -31px;
    }

    .slick-list{
      padding-right: 30px;
      overflow: visible !important;

      @include screen-md{
        padding-right: 100px;
      }

      @include screen-xl{
        padding: 0;
      }
    }

    .slick-track{
      @include flex-block;
    }

    .slick-arrow{
      position: absolute;
      display: none !important;
      border:none;
      background: transparent;
      padding: 0;
      z-index: 9;

      @include screen-md{
        display: block !important;
      }

      &.slick-disabled{
        opacity: 0.3;
        cursor: default;
      }
    }

    .slick-next{
      bottom: -69px;
      right: 20px;

      @include screen-xl{
        right: 30px;
      }
    }

    .slick-prev{
      bottom: -69px;
      right: 90px;
      transform: rotate(180deg);

      @include screen-xl{
        right: 100px;
      }
    }
  }

  &__btn{
    margin-top: 20px;
  }


}

.instagram{
  padding: 15px 0 79px;
  overflow: hidden;
  background: #D9C5BF;

  @include screen-md{
    padding: 20px 0 120px;
  }

  &__title{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 13px;
    border-top: 1px solid #000000;

    @include screen-md{
      @include flex-block;
      @include justify-content(space-between);
      padding-top: 18px;
    }
  }

  &__list{
    margin: 41px -15px 0;

    @include screen-md{
      @include flex-block;
      margin: 62px -20px 0;
    }

    @include screen-xl{
      margin: 102px -20px 0;
    }
  }

  &Item{
    margin-top: 19px;

    &:nth-child(2){
      @include screen-md{
        margin-top: 59px;
      }
    }


    &--last{
      @include flex-block;
      color: #000000;
    }

    &__image{
      overflow: hidden;
      display: block;

      @include hover {
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
    }

    &__link{
      color: #000000;
      position: relative;
      display: block;
      text-decoration: none;
      transition: all 0.3s ease;

      @include hover {
        &:hover {
          color: #ffffff;
        }
      }

      img{
        width: 100%;
        display: block;
      }

      svg{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -35px 0 0 -35px;
      }
    }

    &__title{
      font-size: 15px;
      line-height: 25px;
      padding: 11px 15px 0;

      @include screen-md{
        padding: 20px 10px 0 20px;
      }
    }

    img{
      display: block;
      width: 100%;
      transition: all 0.3s ease;
    }
  }

}


.mainProjects{
  padding: 15px 0 0;
  overflow: hidden;

  @include screen-md{
    padding: 20px 0;
  }

  &__list{
    @include screen-md{
      margin: 0 -30px 0 -31px;
      margin-top: 44px;
    }

    @include screen-xl{
      margin-top: 84px;
    }
  }

}

.mainClients{
  background: url(../images/backgrounds/clients-bg.jpg)  center 0px / cover;

  &__wrapper{
    padding: 40px 0;

    @include screen-md{
      padding: 80px 23px;
    }

    @include screen-xl{
      padding: 80px 30px;
    }
  }

  &__middle{
    background: #ffffff;
    padding: 10px 15px 19px;
    position: relative;

    @include screen-md{
      padding: 17px 40px 40px;
    }

    @include screen-xl{
      padding: 57px 60px 80px 80px;
    }
  }

  &__top{

  }

  &__title{
    font-family: $font-steinbeck;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    @include screen-md{
      font-size: 90px;
      line-height: 80px;
    }

    div{
      &:nth-child(1){
        //text-indent: 10px;
      }
      &:nth-child(2){
        text-indent: 22px;
        @include screen-md{
          text-indent: 56px;
        }
      }
      &:nth-child(3){
        text-indent: 67px;
        @include screen-md{
          text-indent: 112px;
        }
        @include screen-xl{
          text-indent: 168px;
        }
      }
    }
  }

  &__warranty{
    width: 260px;
    height: 260px;
    background: url(../images/backgrounds/clients-bg.jpg) no-repeat center center / cover;
    border-radius: 100%;
    margin: 30px auto;
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    @include screen-md{
      width: 340px;
      height: 340px;
      margin: 63px auto;
    }

    @include screen-xl{
      position: absolute;
      margin: 0;
      top: 60px;
      right: 60px;
    }

    &::before{
      content:"";
      position: absolute;
      width: 240px;
      height: 1px;
      background: #000;
      transform: rotate(-10deg);
      left: 10px;
      top: 50%;

      @include screen-md{
        left: 45px;
        width: 250px;
        margin: -3px 0 0;
      }
    }

    div{
      &:nth-child(1){
        padding: 42px 10px 0;
        @include screen-md{
          padding: 77px 10px 0;
        }
      }
      &:nth-child(2){
        padding: 62px 10px 0;
        @include screen-md{
          padding: 82px 10px 0;
        }
      }
    }
  }

  &__list{
    overflow: hidden;
    margin: 38px -15px;
    padding: 0 74px 0 33px;
    position: relative;

    @include screen-md{
      padding: 0 74px 0 10px;
    }

    @include screen-xl{
      margin: 82px 0 25px;
      overflow: visible;
    }

    .slick-list{
      overflow: visible !important;
      height: auto !important;

      @include screen-xl{
        overflow: hidden !important;
      }
    }

    .slick-track{
      @include flex-block;
      @include align-items(center);
    }

    .slick-arrow{
      position: absolute;
      display: none !important;
      border:none;
      background: transparent;
      padding: 0;
      z-index: 9;
      cursor: pointer;

      @include screen-xl{
        display: block !important;
      }

      &.slick-disabled{
        opacity: 0.3;
        cursor: default;
      }

    }

    .slick-next{
      bottom: -75px;
      right: 20px;
    }

    .slick-prev{
      bottom: -75px;
      right: 90px;
      transform: rotate(180deg);

    }

  }

  &__item{

    img{
      display: block;
      margin-right: 50px;

      @include screen-mobile{
        zoom: 0.7;
      }

      @include screen-md{
        margin-right: 70px;
      }

      @include screen-xl{
        margin-right: 70px;
      }
    }
  }

  &__btn{
    margin-top: 20px;

    @include screen-md{
      margin-top: 30px;
    }

    @include screen-xl{
      margin-top: 25px;
    }
  }

}

.mainServices{
  padding: 79px 0;

  @include screen-md{
    padding: 119px 0;
  }

  @include screen-xl{
    padding-bottom: 130px;
  }

  &__wrapper{
    @include screen-md{
      padding: 0 63px;
    }
    @include screen-xl{
      padding: 0 115px;
    }
  }

  &__title{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  &__number{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @include screen-md{
      margin-right: 48px;
      padding: 12px 0 0 0px;
      text-align: center;
      width: 17px;
    }

    @include screen-xl{
      margin-right: 90px;
    }
  }

  &__text{
    font-family: $font-steinbeck;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding-top: 6px;

    @include screen-md{
      padding: 0;
    }
  }

  &__list{
    margin-top: 11px;

    @include screen-md{
      margin-top: 22px;
    }

    ul{
      padding: 0;
      margin: 0;
      list-style: none;

      li{
        border-top: 1px solid #A2A3A6;
        padding: 14px 0 19px;

        @include screen-md{
          @include flex-block;
          padding: 0 0 49px;
        }

        @include screen-xl{
          height: 120px;
        }
      }
    }
  }

  &__btn{
    margin-top: 10px;

    @include screen-xl{
      margin-top: 0;
    }
  }
}

.mainNews {
  padding: 15px 0 80px;
  overflow: hidden;

  @include screen-md {
    padding: 20px 0 120px;
  }

  &--inner{
    padding-bottom: 40px;

    @include screen-md{

    }
  }

  .slick-arrow {
    position: absolute;
    display: none !important;
  }

  &--toparrows{

    .mainNews__list {

      @include screen-md {
        margin-top: 65px;
      }

      @include screen-xl {
        margin: 81px -20px 0;
      }

    }

    .container{
      position: relative;
    }

    .slick-arrow{
      position: absolute;
      display: none !important;
      border:none;
      background: transparent;
      padding: 0;
      z-index: 9;
      top: 20px;

      @include screen-md{
        display: block !important;
      }

      &.slick-disabled{
        opacity: 0.3;
        cursor: default;
      }
    }

    .slick-next{
      right: 20px;

    }

    .slick-prev{
      right: 90px;
      transform: rotate(180deg);

    }
  }

  &__row{
    margin-top: 55px;

    @include screen-md{
      @include flex-block;
      margin: 65px -20px 0;
    }

    @include screen-xl{
      margin-top: 80px;
    }

    .blogItem{
      @include screen-md{
        width: 33.333332%;
        &:nth-child(3n){
          border-right: none;
        }
      }
      @include screen-xl{
        &:nth-child(3n){
          border-right: 1px solid #000000;
        }
        &:nth-child(4n){
          border-right: none;
        }
      }
    }
  }

  &__list{
    margin: 44px 0 0 0;
    padding-right: 15px;

    @include screen-md{
      margin: 80px -20px 0;
      padding-right: 100px;
    }

    @include screen-xl{
      margin: 125px -20px 0;
      padding: 0;
    }

    .blogItem{
      border-bottom: none !important;

      @include screen-mobile{
        border-left: 1px solid #000000;
      }

      &--image{
        .blogItem__text{
          margin-top: 15px;
        }
      }

      a{
        @include screen-mobile{
          padding: 0 15px 34px;
        }
        @include screen-md{
          padding: 0 20px 56px;
        }
      }

      &__title{
        @include screen-mobile{
          min-height: 90px;
        }

        @include screen-md{
          min-height: 123px;
        }
      }

      &__text{

        @include screen-md{
          margin-top: 52px;
        }
      }

      &__image {
        @include screen-md {
          height: 230px;
        }
      }

      &__date{
        @include screen-mobile{
          position: absolute;
          bottom: 0;
          left: 15px;
          margin: 0;
        }
      }
    }

    .slick-track{
      @include flex-block;
    }
  }

  &__item{
    padding: 0 15px;

  }

  &__btn{
    margin-top: 20px;

    @include screen-xl{
      margin-top: 40px;
    }
  }

  &__showmore{
    margin-top: 20px;

    @include screen-md{
      margin-top: 40px;
    }

    @include screen-xl{
      margin-top: 80px;
    }

    a,button{
      margin: 0 auto;
      max-width: 340px;
    }

    &--left{

      margin-top: 20px !important;

      a,button{
        margin: 0;
        max-width: 277px;
      }
    }

  }

}


.mainShowroom {
  padding: 15px 0 80px;
  overflow: hidden;
  position: relative;

  @include screen-md {
    padding: 20px 0 140px;
  }

  @include screen-xl{
    overflow: visible;
    margin-bottom: 80px;
  }

  &__top{
    @include screen-xl{
      @include flex-block;
      @include align-items(flex-start);
      margin: 85px -20px 0;
    }
  }

  &Current{
    background: #D9C5BF;
    margin: 44px 0 20px;
    padding: 20px 15px 20px;

    @include screen-md{
      margin: 84px 0 20px;
      padding: 20px 20px 20px;
    }

    @include screen-xl{
      margin: 0;
      width: 330px;
      order: 1;
    }

    &__icon{
      color: #000;
    }

    &__bottom{
      @include screen-md{
        @include flex-block;
        @include justify-content(space-between);
      }

      @include screen-xl{
        display: block;
      }
    }

    &__title{
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.01em;
      margin-top: 10px;

      @include screen-md{
        margin-top: 20px;
      }
    }

    &__text{
      margin-top: 40px;
      font-size: 15px;
      line-height: 25px;

      @include screen-md{
        margin-top: 5px;
        width: 320px;
      }

      @include screen-xl{
        width: 100%;
        margin-top: 180px;
      }

      svg{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  &__map{
    margin: 20px -15px;
    height: 100vw;

    @include screen-md{
      height: 500px;
    }

    @include screen-xl{
      order:0;
      margin: 40px 0 0;
      width: calc(100% - 330px);
    }

    &>ymaps{
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__list{
    padding: 0 65px 0 0;
    position: relative;

    @include screen-md{
      margin: 0 0 0 -20px;
      padding-right: 80px;
    }

    @include screen-xl{
      margin: 40px -20px 0 -20px;
      padding-right: 0;
    }

    &:after{
      @include screen-xl{
        content:"";
        position: absolute;
        z-index: 50;
        right: 0;
        top: 0;
        width: 1px;
        background: #ffffff;
        height: 100%;
      }
    }

    .slick-track{
      @include flex-block;
    }

    .slick-list{
      overflow: visible !important;

      @include screen-xl{
        overflow: hidden !important;
      }
    }

    .slick-arrow{
      position: absolute;
      display: none !important;
      border:none;
      background: transparent;
      padding: 0;
      z-index: 9;

      @include screen-xl{
        display: block !important;
      }

      &.slick-disabled{
        opacity: 0.3;
        cursor: default;
      }
    }

    .slick-next{
      top: -90px;
      right: 20px;
    }

    .slick-prev{
      top: -90px;
      right: 90px;
      transform: rotate(180deg);
    }

  }

  &Item{
    padding: 0 15px;
    border-left: 1px solid #000000;

    @include screen-md{
      padding: 0 20px;
      border-left: none;
      border-right: 1px solid #000000;
    }

    &.active{
      .mainShowroomItem__name::before{
        content:"";
        width: 13px;
        height: 13px;
        display: inline-block;
        margin: -4px 11px 0 0;
        vertical-align: middle;
        background: #000;
        border-radius: 100%;
      }
    }

    &:last-child{
      border-right: none;
    }

    &__name{
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.01em;
    }

    &__text{
      font-size: 15px;
      line-height: 25px;
      margin-top: 40px;

      svg{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}