
.orderSuccess{
  margin: 27px 0 40px;

  @include screen-md{
    margin: 148px 0 0;
  }

  @include screen-xl{
    margin: 58px 0 0;
  }

  h1{
    svg{
      display: block;
      margin-bottom: 10px;

      @include screen-md{
        float: left;
        margin: 18px 12px -18px 0;
      }
    }
  }

  &__text{
    font-size: 15px;
    line-height: 25px;
    margin: 20px 0 120px;

    @include screen-md{
      margin: 25px 0 240px;
    }

    @include screen-xl{
      margin: 25px 0 266px;
    }
  }
}