.partnership{
  overflow: hidden;
  margin: 27px 0 0;

  @include screen-md{
    margin-top: 147px;
  }

  @include screen-xl{
    margin-top: 57px;
  }

  .h1{
    max-width: 1010px;
  }

  &Main{
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 80px;

    @include screen-md{
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.01em;
      padding-bottom: 150px;
    }

    @include screen-xl{
      @include flex-block;
      margin-top: 102px;
      padding-bottom: 120px;
    }

    &__left{
      @include screen-xl{
        width: 50%;
      }
    }

    &__text{
      margin-top: 18px;

      @include screen-md{
        margin-top: 32px;
      }

      @include screen-xl{
        margin-top: 0;
        max-width: 510px;
      }
    }

    &__btn{
      margin-top: 20px;

      @include screen-md{
        margin-top: 40px;
      }
    }

    &__right{
      margin-top: 40px;

      @include screen-md{
        margin-top: 80px;
        padding-left: 44%;
        position: relative;
      }

      @include screen-xl{
        width: 50%;
        padding-left: 60px;
        margin-top: 0;
      }

      img{
        display: block;
        width: calc(100% + 30px);
        margin: 0 -15px;

        @include screen-md{
          width: calc(100% + 40px);
          margin: 0 -20px;
        }

        @include screen-xl{
          width: calc(100% + 80px);
          margin: 0 -40px;
        }
      }
    }

    &__ikea{
      margin-top: 40px;

      @include screen-md{
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 277px;
      }

      @include screen-xl{
        left: -310px;
      }

      svg{
        @include screen-md{
          width: 140px;
          height: 50px;
        }
      }

      p{
        margin: 20px 0 0;
      }
    }
  }

  &Terms{
    padding: 15px 0 40px;
    font-size: 15px;
    line-height: 25px;

    @include screen-md{
      padding: 20px 0 40px;
    }

    &__list{
      margin: 0 -20px;
      padding-top: 28px;
      @include flex-block;
      @include flex-wrap(wrap);
      @include justify-content(center);

      @include screen-xl{
        padding-top: 81px;
      }
    }

    &__item{
      padding: 0 5px;
      width: 50%;
      margin-top: 40px;

      @include screen-md{
        width: 230px;
        margin: 40px 32px 0;
      }
    }

    &__image{
      img,picture{
        display: block;
        width: 100%;
      }
    }

    &__text{
      padding: 20px 0 0 15px;

      @include screen-md{
        padding-left: 20px;
      }
    }

    &__btn{
      margin-top: 80px;
    }
  }

}