.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  background: rgba(0,0,0,0.8);

  &__container{
    width: 100%;
    max-width: 680px;
    height: 100%;
    overflow: auto;
    position: relative;
    background: #fff;
    padding: 30px 15px;

    @include screen-md{
      padding: 30px 40px;
    }

    @include screen-xl{

    }
  }

  &__close{
    padding: 0;
    border:none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;

    @include screen-xl{
      top: 21px;
      right: 11px;
    }
  }

  &__title{
    font-family: $font-steinbeck;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    max-width: 400px;
  }

  &__text{
    font-size: 15px;
    line-height: 25px;
    max-width: 374px;
    margin-top: 20px;

    @include screen-md{
      margin-top: 15px;
    }
  }

  &__agree{
    margin-top: 10px;

    @include screen-md{
      padding-left: calc(100% - 530px);
      margin-top: 10px;
    }

    @include screen-xl{
      padding-left: calc(100% - 620px);
    }

    label{
      @include flex-block;
      .text{
        font-size: 15px;
        line-height: 25px;
      }

      input{
        display: none !important;

        &:checked ~ .checkboxTrigger{
          background: #000000;
          border-color: #000000;
        }
      }

      .checkboxTrigger{
        width: 14px;
        height: 14px;
        min-width: 14px;
        border: 1px solid #000000;
        margin: 7px 11px 0 0;
      }

    }
  }

  .form{
    margin-top: 50px;
    max-width: 400px;

    @include screen-md{
      margin-top: 120px;
    }

    .btn-round{
      width: 100%;
      max-width: 100%;
    }

    .margin{
      margin-top: 10px;
    }

  }

  &Clear{
    padding: 15px;

    .popup__container{
      height: auto;
      padding: 20px 30px 35px;
      margin: 100px auto 0;
      max-width: 290px;

      @include screen-md{
        max-width: 440px;
        top: 50%;
        margin-top: -183px;
        padding-top: 30px;
        padding-bottom: 40px;
      }
    }

    .popup__title{
      font-size: 15px;
      line-height: 25px;
      text-transform: none;
      font-weight: 400;
      font-family: $font-suisse;

      @include screen-md{
        font-size: 21px;
        line-height: 30px;
        letter-spacing: 0.01em;
      }
    }

    .popup__text{
      font-size: 15px;
      line-height: 25px;
      opacity: 0.6;
      margin-top: 10px;
      font-family: $font-suisse;

      @include screen-md{
        opacity: 1;
      }
    }

    &__btns{
      padding-top: 10px;

      @include screen-md{
        @include flex-block;
        @include align-items(center);
        @include justify-content(space-between);
        padding-top: 28px;
      }


      .btn-round{
        @include screen-md{
          width: 122px;
        }
      }

      .btn-filled{
        @include screen-md{
          order: 2;
          width: 240px;
        }
      }

      button{
        width: 100%;
        margin-top: 10px;
      }
    }

  }

}


.galleryWithThumbs{
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }
  &.fancybox-show-thumbs .fancybox-inner{
    right: 0;
    bottom: 212px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }
  .fancybox-button--thumbs{
    display: none;
  }
  .fancybox-thumbs__list a{
    transition: all 0.3s ease;
  }
  .fancybox-thumbs__list a.fancybox-thumbs-active{
    transform: translateY(-12px);
  }
  .fancybox-thumbs__list a:before{
    display: none !important;
  }
  .fancybox-thumbs__list{
    padding-top: 12px;
  }
}


.fancybox-button--close{
  background: url(../images/sprite-icons/fancy-close-small.svg) no-repeat center center / 20px 20px;
  top: 5px;
  right: 5px;

  @include screen-md{
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: url(../images/sprite-icons/fancy-close.svg) no-repeat center center / 40px 40px;
  }

  svg{
    opacity: 0 !important;
  }
}

.dancingSliderPopup{
  .fancybox-slide--html{
    padding: 0 !important;
    background: rgba(255,255,255,0.9) !important;
  }
}

.countryPopup{
  padding: 0 !important;
  display: none;

  @include screen-md{
    padding: 120px 20px 120px !important;
  }

  .fancybox-button svg{
    opacity: 0;
  }

  .fancybox-close-small{
    width: 40px;
    height: 40px;
    background: url(../images/sprite-icons/fancy-country-close.svg) no-repeat center center / 40px 40px;
    top: 5px;
    right: 5px;

    @include screen-md{

    }
  }

  &__wrapper{
    @include screen-md{
      @include flex-block;
      max-width: 840px;
    }
  }

  &__image{

    @include screen-md{
      width: 467px;
      max-width: 467px;
    }

    img{
      display: block;
      width: 100%;
    }
  }

  &__content{
    padding: 20px 15px;

    @include screen-md{
      padding: 0 0 0 40px;
      width: calc(100% - 467px);
    }
  }

  &__title{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  &__text{
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
  }
}