@keyframes rightSlided {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  80% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100%{
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
}

@keyframes leftSlided {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  80% {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  100%{
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
}


//Проекты на главной
.projectShort{
  margin-top: 40px;
  padding: 0 10px 0 11px;

  @include screen-mobile{
    padding: 0 !important;
  }

  &:after{
    @include screen-md{
      content:"";
      position: absolute;
      top: 0;
      right: -1px;
      width: 1px;
      height: 100%;
      background: #000;
    }
  }

  &:last-child{
    &::after{
      display: none;
    }
  }

  a{
    display: block;
    cursor: pointer;
    text-decoration: none;
  }

  &__title{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    padding: 0 15px;

    @include screen-md{
      min-height: 50px;
      padding: 0 20px;
    }
  }

  &__categories{
    margin: 3px 0 8px;
    padding: 0 15px;

    @include screen-md{
      padding: 0 20px;
      margin: 3px 0 18px;
    }

    ul{
      @include flex-block;
      @include align-items(center);
      @include flex-wrap(wrap);
      list-style:none;
      padding: 0;
      margin: 0;
      font-size: 15px;
      line-height: 25px;

      li{
        margin: 0;
        @include flex-block;
        @include align-items(center);

        a{
          font-size: 15px;
          line-height: 25px;
          text-decoration: none;
          color: #000000;
          transition: all 0.3s ease;

          @include hover {
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  &__image{
    position: relative;
    overflow: hidden;

    img{
      display: block;
      width: 100%;
    }
    &>img{
      opacity: 0;
    }
  }

  &__triggers{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    @include flex-block;
    top: 0;
    left: 0;

    div{
      width: 33.333332%;
      height: 100%;
      cursor: pointer;
    }
  }

  &__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      opacity: 0;

      &.active{
        z-index: 6;
        opacity: 1;
      }

      &.prepared{
        z-index: 4;
        opacity: 1;
      }

      &.rightSlided,
      &.leftSlided{
        z-index: 5;
        opacity: 1;
      }

      &.leftSlided{
        animation: 0.5s ease leftSlided;
      }

      &.rightSlided{
        animation: 0.5s ease rightSlided;
      }

    }
  }
}

//Плитка оформления проекта
.projectItem{
  position: relative;

  a{
    display: block;
    cursor: pointer;
    color: #000000;
  }

  &__top{
    position: relative;
    padding-bottom: 65px;
  }

  &__title{
    color: #fff;
    background: #000;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px;
    font-size: 15px;
    line-height: 25px;

    @include screen-md{
      padding: 20px;
    }
  }

  //&__image{
  //  z-index: 1;
  //  position: relative;
  //  img{
  //    display: block;
  //    width: 100%;
  //  }
  //}

  &__image{
    position: relative;
    overflow: hidden;

    img{
      display: block;
      width: 100%;
    }
    &>img{
      opacity: 0;
    }
  }

  &__triggers{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    @include flex-block;
    top: 0;
    left: 0;

    div{
      width: 33.333332%;
      height: 100%;
      cursor: pointer;
    }
  }

  &__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      opacity: 0;

      &.active{
        z-index: 6;
        opacity: 1;
      }

      &.prepared{
        z-index: 4;
        opacity: 1;
      }

      &.rightSlided,
      &.leftSlided{
        z-index: 5;
        opacity: 1;
      }

      &.leftSlided{
        animation: 0.5s ease leftSlided;
      }

      &.rightSlided{
        animation: 0.5s ease rightSlided;
      }

    }
  }

  &__list{
    font-size: 15px;
    line-height: 25px;
    padding: 20px 15px 0 35px;

    @include screen-md{
      padding-right: 20px;
    }

    ul{
      padding: 0;
      margin: 0;
      list-style: none;

      li{
        position: relative;

        &::before{
          content:"";
          position: absolute;
          left: -15px;
          top: 10px;
          border-radius: 100%;
          width: 6px;
          height: 6px;
          border:2px solid #000000;
        }

        .date{
          float: right;
          white-space: nowrap;
          margin-left: 20px;
          font-size: 15px;
          line-height: 25px;
          color: #000000;
        }

      }
    }
  }

  &:after{
    @include screen-md{
      content:"";
      position: absolute;
      top: 0;
      right: -1px;
      width: 1px;
      height: 100%;
      background: #000;
    }
  }
}

//Список проектов
.projects{
  overflow: hidden;

  label{
    cursor: pointer;
  }

  &__title{
    @include flex-block;
    @include align-items(flex-end);
    @include justify-content(space-between);
    margin-bottom: 90px;

    @include screen-md{
      margin-bottom: 95px;
    }

    a{
      display: none;
      bottom: -12px;
      position: relative;

      @include screen-md{
        @include flex-block;
        @include align-items(center);
        font-size: 15px;
        line-height: 25px;
        color: #000;
      }

      svg{
        margin-left: 6px;
      }
    }
  }

  &__showmore{
    width: 100%;
    min-width: 100%;
    padding: 0 20px 20px;

    @include screen-md{
      padding-bottom: 20px;
    }

    button{
      margin: 0 auto;

      @include screen-md{
        max-width: 340px;
      }

      @include screen-xl{
        max-width: 400px;
      }
    }
  }

  &__mobileBtns{
    @include flex-block;
    @include align-items(center);
    @include justify-content(space-between);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 9px 0 10px;

    @include screen-md{
      display: none;
    }

    button{
      color: #000000;
      font-size: 15px;
      line-height: 25px;
      @include flex-block;
      @include align-items(center);
      cursor: pointer;
      padding: 0;
      border:none;
      background: transparent;
    }
  }

  &__btns{

  }

  .back{
    padding: 0;
    background: transparent;
    border:none;
    cursor: pointer;
    transform: rotate(180deg);
  }


  &__list{
    margin: 20px -15px 0;

    @include screen-md{
      @include flex-block;
      @include flex-wrap(wrap);
      margin: 6px -30px 0 -31px;
    }

    .projectItem {
      margin-bottom: 40px;

      @include screen-md {
        padding: 0 10px 0 11px;
        width: 50%;
        margin-bottom: 80px;
      }

      @media (min-width: 1340px){
        &:nth-child(3n)::after{
          display: none;
        }
      }

      @include screen-xl {
        width: 33.3333332%;

      }
    }
  }
}

//Слайдер проектов
.projectsSlider{
  padding: 15px 0 70px;

  @include screen-md{
    padding: 20px 0 121px;
  }

  @include screen-xl{
    padding-bottom: 80px;
  }

  .container{
    position: relative;
  }

  &__list{
    max-width: 260px;
    margin: 28px auto 0;

    @include screen-md{
      max-width: 440px;
      margin-top: 65px;
    }

    @include screen-lg{
      max-width: 880px;
      margin-top: 82px;
    }

    .slick-list{
      overflow: visible !important;
    }

    .slick-track{
      @include flex-block;
    }

    .projectItem{
      margin: 0 15px;
      overflow: hidden;

      @include screen-md{
        margin: 0 55px;
      }
    }

    .slick-arrow{
      position: absolute;
      display: none !important;
      border:none;
      background: transparent;
      padding: 0;
      z-index: 9;
      top: 20px;

      @include screen-md{
        display: block !important;
      }

      &.slick-disabled{
        opacity: 0.3;
        cursor: default;
      }
    }

    .slick-next{
      right: 20px;

      @include screen-xl{
        right: 20px;
      }
    }

    .slick-prev{
      right: 90px;
      transform: rotate(180deg);

      @include screen-xl{
        right: 90px;
      }
    }
  }
}

//Страница списка проектов
.projectsPage{
  padding: 0;
  margin: 27px 0 0;

  @include screen-md{
    margin: 148px 0 0;
  }

  @include screen-xl{
    margin-top: 57px;
  }

  .projects__btns{
    margin-top: 29px;

    @include screen-md{
      margin-top: 81px;
    }

    @include screen-xl{
      @include flex-block;
      @include justify-content(space-between);
      @include align-items(flex-end);
      margin-top: 97px;
      margin-bottom: 15px;
    }
  }

  //.projectsTags{
  //  @include screen-xl{
  //    padding: 0;
  //  }
  //}

  .projectsFilter {
    @include screen-md{
      margin: 8px -9px 0 -11px;
    }
  }

  .projectsFilter__item{
    @include screen-xl{
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }
  }
  .projectsFilter__list::before {
    @include screen-xl{
      display: none;
    }
  }

  .projects__list{
    @include screen-xl{
      padding-top: 20px;
      position: relative;
      &::after{
        content:"";
        position: absolute;
        left: 10px;
        width: calc(100% - 20px);
        height: 1px;
        background: #000;
        top: 0;
      }

    }
  }
}

//Тэги на странице со списом проектов, дизайн фильтров описан в категории category.scss т.к. имеет общий дизайн
//.projectsTags{
//  padding: 15px 0 10px;
//  display: block;
//  overflow: auto;
//  margin: 0 -15px;
//
//  @include screen-md{
//    margin: 0 -20px;
//  }
//
//  &::-webkit-scrollbar{
//    display: none;
//  }
//
//  &__list{
//    ul{
//      padding: 0;
//      margin: 0;
//      list-style: none;
//      @include flex-block;
//      @include align-items(center);
//
//      &:before,&:after{
//        content:"";
//        display: block;
//        width: 7px;
//        height: 20px;
//        min-width: 7px;
//
//        @include screen-md{
//          width: 15px;
//          min-width: 15px;
//        }
//      }
//
//      li{
//        padding: 0;
//        margin: 4px 2px;
//
//        @include screen-xl{
//          margin: 4px;
//        }
//
//        //a{
//        //  font-size: 15px;
//        //  line-height: 25px;
//        //  color: #000000;
//        //  display: block;
//        //  padding: 6px 17px 6px;
//        //  background: #F2F2F2;
//        //  border-radius: 30px;
//        //  white-space: nowrap;
//        //}
//      }
//    }
//  }
//}

//Страница проекта
.project{
  overflow: hidden;

  @include screen-md{
    margin-top: 87px;
  }

  @include screen-xl{
    margin-top: 0;
  }

  &Hide{
    @include flex-block;
    @include justify-content(flex-end);
    margin-top: 47px;

    @include screen-md{
      margin-top: 52px;
    }

    &.hidden{
      .hide{
        display: none;
      }
      .open{
        display: block;
      }
    }

    .open{
      display: none;
    }


    a{
      @include flex-block;
      @include align-items(center);
      font-size: 15px;
      line-height: 25px;
      color: #000;

      span{
        width: 30px;
        min-width: 30px;
        border-radius: 100%;
        height: 30px;
        @include flex-block;
        @include align-items(center);
        @include justify-content(center);
        color: #000;
        margin: 0 -5px 0 5px;
      }

      @include hover {
        &:hover span {
          background: #D9C5BF;
        }
      }
    }
  }

  &Slider{
    margin: 0 -15px;
    padding-bottom: 45px;
    position: relative;

    @include screen-md{
      margin: 0 -20px;
      padding: 0;
    }

    @include screen-xl{
      margin: 17px -40px 0;
    }

    .slick-track{
      @include flex-block;
    }

    .slick-list{
      overflow: visible !important;
    }

    .slick-arrow{
      position: absolute;
      top: 28%;
      z-index: 9;
      color: #fff;

      @include hover{
        &:hover{
          color: #D9C5BF;

          &::after,
          &::before{
            display: none !important;
          }
        }
      }

      &:active{
        &::after,
        &::before{
          display: none !important;
        }
      }

      &.slick-disabled{
        display: none !important;
      }
    }

    .slick-prev{
      left: 20px;
      transform: rotate(180deg);
    }

    .slick-next{
      right: 20px;
    }

    .slick-dots{
      position: absolute;
      padding: 0 3px;
      margin: 0;
      bottom: -6px;
      @include flex-block;
      @include justify-content(center);
      @include align-items(center);
      list-style: none;
      left: 0;
      width: 100%;
      background: #000;
      height: 6px;

      li{
        margin: 0 1px;
        flex: 1 auto;

        @include screen-xl{
          max-width: 120px;
          margin: 0 3px;
        }

        &.slick-active button{
          background: #ffffff;
        }

        button{
          padding: 0;
          margin: 0;
          display: block;
          width: 100%;
          height: 2px;
          background: #000;
          overflow: hidden;
          border:none;
          line-height: 30px;

          @include screen-xl{
            height: 4px;
          }
        }
      }
    }

    &::-webkit-scrollbar{
      background: #000;
      padding: 2px;
    }

    &::-webkit-scrollbar-thumb{
      background: #ffffff;
      height: 2px;
    }

    &__item{
      position: relative;
    }

    &__image{
      img{
        display: block;
        height: 310px;
        margin-right: 2px;

        @include screen-md{
          height: 600px;
        }
      }
    }

    &__tag{
      height: 45px;
      width: calc(100% - 2px);
      padding: 0 15px;
      font-size: 15px;
      line-height: 25px;
      color: #FFFFFF;
      @include flex-block;
      @include align-items(center);
      position: absolute;
      bottom: -45px;

      @include screen-md{
        width: auto;
        border-radius: 30px;
        padding: 0 23px;
        bottom: 20px;
        left: 40px;
        height: 35px;
        line-height: 35px;
      }
    }

    &__btns{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__btn{
      position: absolute;
      margin: -10px 0 0 -10px;
      width: 20px;
      height: 20px;
      background: #ffffff;
      @include flex-block;
      @include align-items(center);
      @include justify-content(center);
      padding: 0;
      border:none;
      border-radius: 100%;
      cursor: pointer;
      transition: all 0.3s ease;

      @include hover{
        &:hover{
          width: 40px;
          height: 40px;
          margin: -20px 0 0 -20px;
        }
      }

      &.active{
        border: 3px solid #ffffff;
        color: #ffffff;
        background: #000;
        width: 40px;
        height: 40px;
        margin: -20px 0 0 -20px;
      }
    }

  }

  &Tags{
    margin: 70px -6px 25px;

    @include screen-md{
      margin: 70px -6px 40px;
    }

    &__title{
      font-size: 15px;
      line-height: 25px;
    }

    &__list{
      @include flex-block;
      @include flex-wrap(wrap);
      margin: 0 -1px 0;
    }

    &__item{
      margin: 10px 1px 0;
    }
  }

  &Materials{

    &Popup{
      display: none;
      position: absolute;
      width: 446px;
      max-width: 100%;
      background: #000;
      padding: 10px;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
      color: #fff;
      z-index: 30;

      &.show{
        display: block;
      }

      &__close{
        padding: 0;
        border:none;
        background: #ffffff;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transform: rotate(45deg);
        border-radius: 100%;
        @include flex-block;
        @include align-items(center);
        @include justify-content(center);
        width: 26px;
        height: 26px;
      }

      &__image{
        position: relative;
        overflow: hidden;

        @include hover{
          &:hover img{
            transform: scale(1.05);
          }
        }

        img{
          transition: all 0.3s ease;
          display: block;
          width: 100%;
        }
      }

      &__sale{
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        @include flex-block;
        @include align-items(center);
        @include justify-content(center);
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #000;
      }

      &__content{
        font-size: 15px;
        line-height: 25px;
        padding: 20px 20px 10px;
      }
    }
  }

  &Content{
    font-size: 15px;
    line-height: 25px;

    @include screen-md{
      @include flex-block;
      padding: 40px 0;
    }

    &__left{
      @include screen-md{
        width: 50%;
        padding-right: 20px;
      }
    }

    &__title{
      padding: 26px 0 0;

      @include screen-md{
        padding: 0;
        font-size: 21px;
        line-height: 30px;
        letter-spacing: 0.01em;
        max-width: 510px;
      }
    }

    &__text{
      padding: 20px 0 0;
      max-width: 510px;
    }

    &__right{
      border-top: 1px solid #000000;
      margin-top: 20px;
      position: relative;

      @include screen-md{
        width: 50%;
        border-top: none;
        border-left: 1px solid #000000;
        margin: 0;
        padding-left: 20px;
      }

      @include screen-xl{
        columns: 2;
        column-gap: 40px;
      }

      &::before{
        @include screen-xl{
          content:"";
          position: absolute;
          left: calc(50% + 9px);
          top: 0;
          height: 100%;
          border-left: 1px solid #000000;
        }
      }
    }

    &__item{
      margin-top: 20px;

      @include screen-xl{
        display: inline-block;
      }

      @include screen-xl{
        margin-top: 0;
        margin-bottom: 20px;
      }

      &:first-child{
        @include screen-md{
          margin-top: 0;
        }
      }

      .title{
        min-width: 105px;

        @include screen-md{
          min-width: 125px;
        }

        @include screen-xl{
          min-width: 108px;
        }
      }

      .text{

      }
    }
  }

  &Process{
    padding: 15px 0 80px;

    @include screen-md{
      padding: 20px 0 80px;
    }

    &__slider{
      margin: 28px -15px 0;
      position: relative;

      @include screen-md{
        margin: 65px 0 0;
      }

      @include screen-xl{
        margin-top: 82px;
      }

      .slick-list{
        overflow: visible !important;
      }

      .slick-track{
        @include flex-block;
      }

      .slick-disabled{
        display: none !important;
      }

      .slick-arrow{
        color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        z-index: 20;
      }

      .slick-prev{
        transform: rotate(180deg);
        left: 20px;
      }

      .slick-next{
        right: 20px;
      }

      img{
        display: block;
        margin-right: 2px;
        height: 310px;

        @include screen-md{
          height: 420px;
        }
      }
    }
  }

  &Review{
    padding: 15px 0 20px;

    @include screen-md{
      padding: 20px 0 40px;
    }

    &__quote{
      &:first-child{
        border-top: 1px solid #000000;
        padding: 14px 0 40px;

        @include screen-md{
          padding: 39px 0 50px;
        }
      }
      &:last-child{
        @include flex-block;
        @include justify-content(flex-end);
        padding-top: 80px;

        @include screen-md{
          padding-top: 50px;
        }

        svg{
          transform: rotate(180deg);
        }
      }
    }

    &__center{
      max-width: 593px;
      margin-left: auto;

      @include screen-xl{
        max-width: 618px;
        margin: 0 auto;
      }
    }

    &__text{
      font-size: 21px;
      line-height: 30px;
    }

    &__author{
      margin-top: 40px;
      font-size: 15px;
      line-height: 25px;
    }
  }

  &Pagination{
    padding: 15px 0 31px;

    @include screen-md{
      padding: 20px 0 40px;
    }

    @include screen-xl{
      padding-bottom: 20px;
    }

    &__wrapper{
      border-top: 1px solid #000000;
      padding: 14px 0 0;
      @include flex-block;
      @include justify-content(space-between);

      @include screen-md{
        padding-top: 20px;
      }

      @include screen-xl{
        padding-top: 39px;
      }
    }

    &__prev,
    &__next {
      width: 140px;
      color: #000;
      text-decoration: none;

      @include screen-md {
        width: 250px;
      }

      @include screen-xl {
        @include flex-block;
        width: 50%;
      }

      &:active {

        .button {
          color: #ffffff;
        }

        .button::after {
          border-color: #000000;
        }

        .button::before {
          background: #000;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      @include hover{

        &:hover .button::before,
        &:hover .button::after {
          opacity: 1;
        }

        &:hover img {
          transform: scale(1.05);
        }
      }

      svg{
        width: 50px;
        height: 50px;

        @include screen-md{

        }
      }
    }

    &__prev{

      .projectPagination__arrow{

        svg{
          transform: rotate(180deg);
        }
      }
    }

    &__next{

      @include screen-xl{
        @include justify-content(flex-end);
      }

      .projectPagination__arrow{
        @include flex-block;
        @include justify-content(flex-end);

        svg{

        }
      }

      .projectPagination__name{
        text-align: right;
      }

      .projectPagination__image img{
        margin-left: auto;
      }
    }

    &__image{
      overflow: hidden;
      width: 140px;
      min-width: 140px;

      @include screen-md{
        width: 220px;
        min-width: 220px;
      }

      img{
        display: block;
        width: 100%;
        transition: all 0.3s ease;
      }
    }

    &__arrow{
      margin-top: 20px;

      @include screen-xl{
        margin: 0 20px;
      }

      .button{
        position: relative;
        width: 50px;
        height: 50px;

        svg{
          z-index: 2;
          position: relative;
        }

        &::after{
          opacity: 0;
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          width: calc(100% + 2px);
          height: calc(100% + 2px);
          border: 4px solid #D9C5BF;
          border-radius: 100%;
          z-index: 3;
        }

        &::before{
          opacity: 0;
          content: "";
          position: absolute;
          top: -5px;
          left: -5px;
          width: calc(100% + 10px);
          height: calc(100% + 10px);
          background: #D9C5BF;
          border-radius: 100%;
          z-index: 1;
        }

      }
    }

    &__name{
      margin-top: 20px;
      font-size: 15px;
      line-height: 25px;

      @include screen-md{
        font-size: 35px;
        line-height: 35px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        font-family: $font-steinbeck;
        margin-top: 11px;
      }

      @include screen-xl{
        margin: -9px 20px 0;
      }
    }

  }

}