
.productItem{
  padding: 0 5px;
  margin-left: 1px;
  position: relative;

  @include screen-md{
    padding: 0 10px;
  }

  &:after{
    content:"";
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background: #000;
  }

  &:last-child{
    &::after{
      display: none;
    }
  }

  a{
    display: block;
    cursor: pointer;
    text-decoration: none;

    @include hover {
      &:hover {
        .productItem__material {
          height: calc(100% - 70px);

          @include screen-xl {
            height: calc(100% - 100px);
          }
        }

        .productItem__example {
          img {
            transform: translateY(-50px);
          }
        }
      }
    }

  }

  &__info{
    font-size: 10px;
    line-height: 18px;

    @include screen-md{
      font-size: 15px;
      line-height: 25px;
    }

    &--large{
      font-size: 15px;
      line-height: 25px;
      margin: 0 0 10px;

      @include screen-md{
        margin: 0;
      }
    }

  }

  &__images{
    position: relative;
    padding-bottom: 70px;
    overflow: hidden;

    @include screen-xl{
      padding-bottom: 100px;
    }
  }

  &__new{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.2em;
    text-indent: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background: #000;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
    z-index: 5;

    @include screen-md{
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
  }

  &__example{
    z-index: 1;

    img{
      display: block;
      width: 100%;
      transition: all 0.3s ease;
    }
  }

  &__material{
    z-index: 2;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    @include flex-block;
    @include align-items(center);
    @include justify-content(center);
    transition: all 0.3s ease;

    @include screen-xl{
      height: 100px;
    }

    img{
      display: block;
      min-height: 100%;
      width: 100%;
      transition: all 0.3s ease;
    }
  }

  &__content{
    padding: 11px 15px 0;
    font-size: 15px;
    line-height: 25px;
    color: #000;

    @include screen-md{
      padding: 15px 12px 0 20px;
    }
  }

  &__cost{

    @include screen-md{
      @include flex-block;
      @include align-items(center);
    }

    .old{
      color: #A2A3A6;
      font-size: 15px;
      line-height: 25px;
      text-decoration: line-through;

      @include screen-md{
        margin: 0 0 0 13px;
      }
    }
  }

}

.productInfo{
  padding: 0 25px;
  margin-bottom: 40px;

  @include screen-md{
    @include flex-block;
    @include align-items(center);
    margin: 40px 0 80px;
  }

  @include screen-xl{
    width: 33.3333332%;
    display: block;
    margin: 0 0 80px;
    padding: 0 20px 0 32px;
  }

  &__image{
    @include screen-md{
      min-width: 321px;
      padding-left: 65px;
    }

    @include screen-xl{
      min-width: auto;
    }

    picture,img{
      display: block;
    }
  }


  &__text{
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;

    @include screen-md{
      margin: 0;
      padding: 0 10px 0 0;
    }

    @include screen-xl{
      padding: 57px 35px 20px 74px;
    }
  }
}

.productPage{
  overflow: hidden;

  @include screen-md{
    margin: 90px 0 0;
  }

  @include screen-xl{
    margin: 0;
  }

  .packInfo{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 100;

    @include screen-lg{
      position: absolute;
      width: 370px;
      top: 170px;
      left: auto;
      right: -1px;
    }

    @include screen-xl{
      right: -21px;
    }

    &__container{
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 18px 60px 27px 16px;

      @include screen-md{
        padding: 18px 150px 18px 19px;
      }

      @include screen-lg{
        filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.1));
        border: 1px solid #000000;
        padding: 10px 18px 9px 15px;
      }
    }

    &__close{
      position: absolute;
      top: 5px;
      right: 5px;
      border:none;
      padding: 0;
      background: transparent;

      @include screen-md{
        right: 15px;
      }

      @include screen-lg{
        display: none;
      }
    }
  }

  &Switch{
    @include flex-block;
    @include align-items(center);
    @include justify-content(space-between);
    font-size: 15px;
    line-height: 1;
    width: 234px;

    @include screen-md{
      width: 306px;
    }

    &__container{
      @include flex-block;
      @include align-items(center);
      @include justify-content(flex-start);
      margin: 5px 0 31px;

      @include screen-md{
        margin: 7px 0 24px;
      }

      @include screen-lg{
        position: relative;
      }
    }

    &__question{
      width: 17px;
      height: 17px;
      border-radius: 100%;
      background: #E0E0E0;
      font-size: 12px;
      line-height: 17px;
      text-align: center;
      padding: 0;
      border:none;
      cursor: pointer;
      margin-left: 10px;
    }

    &--hider{
      @include screen-mobile{
        .checkoutSwitch__text{
          display: block;
        }
        .checkoutSwitch__text.active{
          display: none;
        }
      }
    }

    &--oneside{
      .checkoutSwitch__text{
        @include screen-md{
          font-size: 15px;
          line-height: 25px;
        }
      }
    }

    &__trigger{
      width: 70px;
      min-width: 70px;
      height: 23px;
      border: 1px solid #000000;
      border-radius: 20px;
      position: relative;
      cursor: pointer;

      @include hover {
        &:hover {
          border-color: #D9C5BF;
          background: #D9C5BF;
        }
      }

      @include screen-md{
        width: 70px;
      }

      &.active::before{
        left: 50px;

        @include screen-md{
          left: 51px;
        }
      }

      &::before{
        content:"";
        position: absolute;
        top: 4px;
        left: 4px;
        background: #000;
        border-radius: 100%;
        width: 13px;
        height: 13px;
        transition: all 0.3s ease;
      }
    }

    &__text{
      cursor: pointer;
      width: 64px;

      @include screen-md{
        letter-spacing: 0.01em;
        white-space: nowrap;
        width: auto;
      }

      &:first-child{
        margin-right: 10px;
      }
      &:last-child{
        margin-left: 10px;
      }

      &.active{
        text-decoration: underline;
      }
    }
  }


  &__content{
    background: #F2F2F2;
    margin: 0 -5px;

    @include screen-md{
      @include flex-block;
      @include align-items(flex-start);
      margin: 31px -20px 0;
    }

    @include screen-xl{
      margin: 101px -40px 0;
    }
  }

  &Images{

    @include screen-md{
      width: 50%;
      overflow: hidden;
      position: relative;
    }

    @include screen-xl{
      width: calc(50% - 20px);
    }

    &__list{
      margin: 20px -15px 0;
      overflow: hidden;
      position: relative;

      @include screen-md{
        @include flex-block;
        @include flex-wrap(wrap);
        margin: 0 -1px;
      }

      .slick-track{
        @include flex-block;
      }

      .slick-dots{
        position: absolute;
        padding: 0 19px;
        margin: 0;
        bottom: 15px;
        @include flex-block;
        @include justify-content(center);
        @include align-items(center);
        list-style: none;
        left: 0;
        width: 100%;

        li{
          margin: 0 1px;
          flex: 1 auto;

          @include screen-xl{
            max-width: 120px;
            margin: 0 3px;
          }

          &.slick-active button{
            background: #ffffff;
          }

          button{
            padding: 0;
            margin: 0;
            display: block;
            width: 100%;
            height: 2px;
            background: #000;
            overflow: hidden;
            border:none;
            line-height: 30px;

            @include screen-xl{
              height: 4px;
            }
          }
        }
      }


    }

    .hidden{
      display: block !important;

      @include screen-md{
        display: none !important;
      }
    }

    img{
      @include screen-md{
        width: calc(50% - 2px);
        margin: 1px;
      }
    }

    .large{
      @include screen-md{
        width: calc(100% - 2px);
      }
    }

    .trigger{
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 50%;
      cursor: pointer;

      img{
        display: block;
        width: 100%;
      }

      @include hover{
        &:hover{
          span{
            width: 160px;
            height: 160px;
            margin: -80px 0 0 -80px;
            line-height: 155px;
          }
        }
      }

      span{
        width: 70px;
        height: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -35px 0 0 -35px;
        text-align: center;
        line-height: 70px;
        font-family: $font-druk;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #000;
        border-radius: 100%;
        transition: all 0.3s ease;

        @include screen-md{
          width: 120px;
          height: 120px;
          margin: -60px 0 0 -60px;
          line-height: 115px;
        }
      }
    }

  }

  &Info{
    background: #F2F2F2;
    margin: 0 -15px;
    font-size: 15px;
    line-height: 25px;
    position: relative;
    padding-bottom: 172px;

    @include screen-md{
      width: 50%;
      margin: 0;
      padding-top: 21px;
      min-height: 100%;
    }

    @include screen-xl{
      width: calc(50% + 20px);
    }

    &__preOrder{
      margin-top: 15px;
      &::before{
        content:"";
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        width: 13px;
        height: 13px;
        min-width: 13px;
        border-radius: 100%;
        background: #000;
      }
    }

    &__fullwidth{
      width: 100%;

      &:last-child{
        margin-top: 30px;
      }
    }

    &__block{
      border-bottom: 1px solid #000000;
      padding: 19px 0;
      margin: 0 20px;

      @include screen-md{
        border-bottom: none;
        border-top: 1px solid #000000;
      }

      @include screen-xl{
        @include flex-block;
        @include flex-wrap(wrap);
      }

      &--last{
        border-bottom: none;
      }
    }

    &__left{
      @include screen-xl{
        padding: 0 20px;
        width: 240px;
        min-width: 240px;
      }
    }

    &__right{
      padding: 19px 0 0;

      @include screen-xl{
        padding: 0 20px 0 0;
        width: calc(100% - 240px);
      }

      .btn-calc{
        max-width: 184px;
      }
    }

    &__btn{
      @include screen-md{
        @include flex-block;
      }

      .btn-filled{
        max-width: 100%;
        margin-top: 15px;

        @include screen-md{
          margin-top: 0;
          width: calc(100% - 130px);
        }
      }
    }

    &__count{
      position: relative;
      margin-right: 5px;
      width: 146px;

      @include screen-md{
        width: 117px;
        margin-right: 10px;
      }

      input{
        width: 100%;
        height: 50px;
        display: block;
        border: 1px solid #000000;
        padding: 0 16px;
        font-size: 15px;
        background: transparent;

        &:focus{
          border-width: 2px;
        }
      }

      .info{
        position: absolute;
        top: 13px;
        right: 15px;
      }
    }

    &__prices{
      margin-top: 40px;
    }

    svg{
      display: inline-block;
      vertical-align: middle;
    }

    &__cost{
      @include flex-block;
      @include align-items(center);
      @include flex-wrap(wrap);

      large{
        font-size: 21px;
        line-height: 30px;
      }

      .old{
        color: #A2A3A6;
        font-size: 15px;
        line-height: 25px;
        width: 100%;
        margin-top: 12px;

        @include screen-xl{
          margin: 2px 0 0 0;
        }

        svg{
          margin: -3px -2px 0 -6px;
        }
      }
    }

    &__videoBtn{
      @include flex-block;
      @include align-items(center);
      font-size: 15px;
      line-height: 25px;
      padding: 0;
      background: transparent;
      border:none;
      cursor: pointer;
      text-align: left;
      position: absolute;
      bottom: 80px;
      left: 15px;

      @include screen-md{
        bottom: 40px;
        left: 20px;
      }

      @include screen-xl{
        left: 260px;
      }

      span{
        width: 70px;
        height: 70px;
        min-width: 70px;
        background: #000;
        border-radius: 100%;
        margin-right: 21px;
      }
    }
  }

  &Tags{
    @include flex-block;
    @include align-items(center);
    @include flex-wrap(wrap);
    margin: 35px -1px 0;

    @include screen-xl{
      margin-top: 50px;
    }

    .btn-category{
      margin: 5px 1px 0;
    }
  }

  &List{
    &__item{
      margin-bottom: 20px;

      &:nth-child(2n){
        @include screen-lg{
          width: calc(100% - 240px);
        }
      }
      &:nth-child(2n-1){
        @include screen-lg{
          width: 240px;
        }
      }
    }
  }
}

.slab{
  margin: 50px 0 10px;

  @include screen-md{
    margin: 71px 0 0;
  }

  @include screen-xl{
    margin: 71px 0 -82px;
  }

  &__text{
    font-size: 15px;
    line-height: 25px;

    &--first{

    }

    &--last{
      margin-top: 40px;

      @include screen-md{
        margin-top: 50px;
      }
    }
  }

  &Slider{
    margin: 20px 0;
    position: relative;

    .slick-track{
      @include flex-block;
    }

    .slick-arrow{
      position: absolute;
      top: -40px;

      &::before,&::after{
        display: none !important;
      }

      &:hover{
        background: transparent;
        color: inherit;
      }

      svg{
        width: 24px !important;
        height: 14px !important;
      }

      &.slick-next{
        right: -2px;
      }

      &.slick-prev{
        right: 38px;
        transform: rotate(180deg);
      }
    }

    .slick-list{
      margin: 0 -20px;
      padding-right: 30px;

      @include screen-md{
        margin: 0 -10px;
      }

      @include screen-xl{
        margin: 0 -20px;
      }
    }
  }

  &Item{
    position: relative;
    padding: 0 5px;
    width: 150px;

    @include screen-md{
      padding: 0 10px;
      width: 170px;
    }

    @include screen-xl{
      padding: 0 20px;
      width: 220px;
    }

    &__image{
      position: relative;

      img{
        display: block;
        width: 100%;
      }
    }

    &__number{
      position: absolute;
      top: 6px;
      right: 6px;
      z-index: 10;
      background: #FFFFFF;
      text-align: center;
      line-height: 28px;
      width: 28px;
      height: 28px;
      font-size: 15px;
      border-radius: 100%;
    }
  }
}