
.searchPopup{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  height: 100%;
  width: 100%;
  display: none;

  @include screen-md{
    height: auto;
    max-height: 100%;
  }

  &.show{
    display: block;
  }

  &__top{
    padding: 0 15px;
    margin-top: 56px;
    position: relative;

    @include screen-md{
      padding: 0 20px;
      margin-top: 11px;
    }

    @include screen-xl{
      padding: 0 20px;
      max-width: 1320px;
      margin: 11px auto 0;
      border-bottom: 1px solid #000000;
      @include flex-block;
      @include justify-content(flex-end);
    }

    input{
      height: 50px;
      border:none;
      border-bottom: 1px solid #000000;
      font-size: 15px;
      padding: 0;
      background: #fff;
      width: 100%;

      @include screen-md{
        height: 60px;
        padding-bottom: 8px;
      }

      @include screen-xl{
        border: none;
        width: 625px;
      }

      &::placeholder{
        color: #A2A3A6;
      }
    }

    .clear{
      border: none;
      background: transparent;
      padding: 0;
      position: absolute;
      top: 9px;
      right: 15px;
      cursor: pointer;
      color: #000000;
      display: none;

      @include screen-md{
        right: 170px;
      }

      svg{
        display: block;
        height: 30px;
        width: 30px;
      }
    }
  }

  &Categories{
    overflow: auto;
    margin: 0 -15px;

    &::-webkit-scrollbar{
      display: none;
    }

    a{
      margin: 0 1px;
    }

    &__list{
      @include flex-block;

      &::before,
      &::after{
        content:"";
        display: block;
        width: 9px;
        min-width: 9px;
        height: 10px;
      }
    }
  }

  &Links{
    ul{
      padding: 0;
      margin: 40px 0 0;
      list-style: none;

      li{
        margin-top: 20px;
        a{
          font-size: 15px;
          line-height: 25px;
          color: #000;
        }
      }
    }
  }

  &__bottom{
    height: calc(100% - 106px);
    overflow: auto;

    @include screen-md{
      height: 0;
    }

    @include screen-xl{
      max-width: 1320px;
      margin: 0 auto;
    }
    
    &.results{

      @include screen-md{
        height: calc(100vh - 71px);
      }

      .searchPopup__preview{
        display: none;
      }
      .searchPopupResults{
        display: block;

        @include screen-md{
          @include flex-block;
          @include flex-wrap(wrap);
        }
      }
    }

  }

  &__preview{
    padding: 19px 15px 20px;

    @include screen-md{
      display: none;
    }
  }

  &Results{
    display: none;
    padding: 15px 15px 45px;

    @include screen-md{
      padding: 35px 20px 45px;
    }

    @include screen-xl{
      width: 660px;
      float: right;
      padding: 18px 20px 45px;
    }

    &__category{
      @include flex-block;
      margin-top: 4px;
      padding-bottom: 10px;
      border-bottom: 1px solid #000000;

      @include screen-md{
        width: 107px;
        min-width: 107px;
        border: none;
        margin: 0;
        padding: 5px 0;
      }
    }

    &__submit{
      position: absolute;
      bottom: 0;
      left: 0;
      background: #fff;
      width: 100%;
      padding: 5px 15px 5px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

      @include screen-md{
        padding: 15px 20px 20px;
      }

      @include screen-xl{
        width: 660px;
        right: calc( (100% - 1320px) /2 );
        left: auto;
        box-shadow: none;
      }

      .btn-round{
        height: 40px;
        width: 100%;
        max-width: 100%;

        @include screen-md{
          height: 50px;
        }
      }
    }

    &__products{
      margin-bottom: 20px;

      @include screen-md{
        width: calc(100% - 177px);
        border-top: 1px solid #000;
        margin: 0 70px 0 0;
      }

      a{
        @include flex-block;
        @include justify-content(space-between);
        color: #000;
        font-size: 15px;
        line-height: 25px;
        border-bottom: 1px solid #E0E0E0;

        &:last-child{
          border-bottom: none;
        }

        img{
          display: block;
          width: 50px;
          height: 50px;
          margin: 2px 0;

          @include screen-md{
            margin: 0;
            transform: translate3D(70px, -1px, 0);
          }
        }

        .title{
          margin: 9px 6px 20px 0;

          .highlight{
            border-bottom: 1px solid #000000;
          }
        }
      }
    }
  }

}

.search{
  overflow: hidden;

  @include screen-md{
    margin: 90px 0 0;
  }

  @include screen-xl{
    margin: 0;
  }

  .categoryMobileFilters__list{
    margin-top: 0;
  }

  &__found{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    margin: 78px 0 16px;

    @include screen-xl{
      margin-top: 98px;
    }
  }

  &Form{
    margin: 5px -10px;
    position: relative;

    @include screen-md{
      margin: 20px -10px;
    }

    @include screen-xl{
      margin: 20px -5px;
    }

    &__search{
      display: none;

      @include screen-md{
        position: absolute;
        top: 30px;
        left: 20px;
        display: block;
        z-index: 2;
        color: #000;
      }
    }

    &__clear{
      display: none;

      &.show{

        @include screen-md{
          position: absolute;
          top: 30px;
          right: 20px;
          display: block;
          z-index: 2;
          color: #000;
        }
      }
    }

    textarea{
      padding: 4px 10px 14px 10px;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 15px;
      width: 100%;
      display: block;
      font-size: 35px;
      line-height: 35px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #000000;
      font-family: $font-steinbeck;
      resize: none;

      @include screen-md{
        font-size: 90px;
        line-height: 80px;
        letter-spacing: -0.02em;
        border-radius: 40px;
        padding: 0px 60px 24px 60px;
      }
    }
  }

  &Categories{
    margin: 15px -15px 0 -15px;
    overflow: auto;

    &::-webkit-scrollbar{
      display: none;
    }

    &__list{
      @include flex-block;
      @include align-items(center);

      &:before{
        content:"";
        display: block;
        width: 10px;
        height: 20px;
        min-width: 10px;
      }

      &:after{
        content:"";
        display: block;
        width: 10px;
        height: 20px;
        min-width: 10px;
      }
    }

    &__item{
      margin-right: 2px;
      //
      //a{
      //  background: #F2F2F2;
      //  border-radius: 30px;
      //  font-size: 15px;
      //  line-height: 25px;
      //  text-align: center;
      //  color: #000000;
      //  display: block;
      //  white-space: nowrap;
      //  padding: 5px 18px 6px;
      //}
    }
  }

}