
.services{
  overflow: hidden;
  margin-top: 27px;

  @include screen-md{
    margin: 147px 0 0;
  }

  @include screen-xl{
    margin: 57px 0 0;
  }

  &__title{
    @include screen-md{
      @include flex-block;
      @include align-items(flex-end);
      @include justify-content(space-between);
    }

    a{
      margin-top: 50px;
      font-size: 15px;
      line-height: 25px;
      color: #000;
      position: relative;
      @include flex-block;
      @include align-items(center);

      @include screen-md{
        bottom: -12px;
      }

      span{
        width: 30px;
        min-width: 30px;
        border-radius: 100%;
        height: 30px;
        @include flex-block;
        @include align-items(center);
        @include justify-content(center);
        color: #000;
        margin: 0 -5px 0 5px;
      }

      @include hover{
        &:hover span{
          background: #D9C5BF;
        }
      }
    }
  }

  &Info{
    border-top: 1px solid #000000;
    margin: 19px 0 59px;

    @include screen-md{
      margin: 102px 0 79px;
    }

    @include screen-xl{
      margin: 102px -20px 59px;
      padding: 0 20px;
    }

    &__list{
      @include screen-xl{
        @include flex-block;
        @include flex-wrap(wrap);
        margin: 0 -20px;
      }
    }

    &__item{
      border-bottom: 1px solid #E0E0E0;
      @include flex-block;
      padding: 9px 0 10px;
      min-height: 120px;

      @include screen-md{
        min-height: 100px;
        padding-right: 50px;
      }

      @include screen-xl{
        width: 50%;
        padding: 9px 140px 20px 20px;
        min-height: 120px;
      }

      &:last-child{
        border-bottom: none;
      }
    }

    &__number{
      width: 25px;
      min-width: 25px;
      font-size: 15px;
      line-height: 25px;

      @include screen-md{
        width: 35px;
        min-width: 35px;
      }
    }

    &__icon{
      width: 65px;
      min-width: 65px;
      color: #000;
      padding: 3px 0 0;

      @include screen-md{
        width: 67px;
        min-width: 67px;
        padding: 0;
      }
    }

    &__text{
      font-size: 15px;
      line-height: 25px;

      @include screen-md{
        font-size: 21px;
        line-height: 30px;
        letter-spacing: 0.01em;
      }
    }
  }

  &List{

    @include screen-md{
      margin: 0 0 150px;
    }

    @include screen-xl{
      margin-bottom: 140px;
    }

    &__list{
      margin: 0 -15px;
      position: relative;

      @include screen-md{
        @include flex-block;
        @include flex-wrap(wrap);
        margin: 0 -30px;
      }

      &::before{
        @include screen-md{
          content:"";
          position: absolute;
          top: 0;
          left: 25px;
          width: calc(100% - 50px);
          height: 1px;
          background: #000;
        }

        @include screen-xl{
          left: 10px;
          width: calc(100% - 20px);
        }
      }
    }

    &__item{
      position: relative;
      padding: 19px 0 40px;

      @include screen-md{
        width: 50%;
        padding: 0 10px;
        margin: 40px 0 40px;
      }

      @include screen-xl{
        width: 33.333332%;
      }

      &:last-child::before{
        @include screen-xl{
          display: none;
        }
      }

      &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 15px;
        width: calc(100% - 30px);
        height: 1px;
        background: #000;

        @include screen-md{
          right: 0;
          left: auto;
          width: 1px;
          height: 100%;
        }
      }
    }

    &__title{
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #000000;
      padding: 0 20px 21px;
    }

    &__image{
      img{
        display: block;
        width: 100%;
      }
    }

    &__text{
      font-size: 15px;
      line-height: 25px;
      padding: 20px 15px 0;

      @include screen-md{
        padding: 17px 20px 0;
      }

      @include screen-xl{
        padding-bottom: 85px;
      }
    }

    &__btn{
      padding: 20px 15px 0;

      @include screen-md{
        padding: 20px 20px 0;
      }

      @include screen-xl{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-left: 30px;
      }
    }
  }


}

.addServices{

  padding: 15px 0 20px;

  @include screen-md{
    padding: 20px 0 0;
  }

  @include screen-xl{
    padding: 20px 0 20px;
  }

  &--order{
    padding: 0;
    .addServices__item{
      @include screen-mobile{
        padding-left: 15px;
        border-left: 1px solid #000000;
      }
      &::before{
        @include screen-mobile{
          left: 15px;
        }
      }
    }
  }

  &__title{
    margin-bottom: 67px;

    @include screen-md{
      margin-bottom: 64px;
    }

    @include screen-xl{
      margin-bottom: 82px;
    }
  }

  &__list{
    @include screen-md{
      @include flex-block;
      @include flex-wrap(wrap);
      margin: 0 -20px;
    }
  }
  
  &__item{
    position: relative;
    padding: 30px 0 20px;

    @include screen-md{
      width: 50%;
      padding: 30px 20px 20px;
    }

    @include screen-xl{
      width: 25%;
      padding: 30px 20px 0;
      border-left: 1px solid #000000;
    }

    &:first-child{
      @include screen-xl{
        border-left: none;
      }
    }

    &:last-child{
      padding-bottom: 0;
    }

    &::before{
      content:"";
      position: absolute;
      top: 0;
      left: 0px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #000000;

      @include screen-md{
        left: 20px;
      }
    }

    a{
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      display: flex;
      align-items: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #000000;
    }
  }
}