.showroom{
  margin-top: 27px;
  overflow: hidden;

  @include screen-md{
    margin-top: 147px;
  }

  @include screen-xl{
    margin-top: 57px;
  }

  &__image{
    margin: 88px -15px -20px;

    @include screen-md{
      margin: 102px -20px -64px;
    }

    @include screen-xl{
      margin: 102px -40px -64px;
    }

    img{
      display: block;
      width: 100%;
    }
  }

}