
.subscribe{
  background: url(../images/backgrounds/subscribe-bg.jpg) center 0 / cover;
  padding: 0 0 40px;
  margin-top: 30px;

  @include screen-md{
    padding-bottom: 120px;
  }

  @include screen-xl{
    padding-bottom: 155px;
    margin-top: 40px;
  }

  &--noborder{
    .container::before{
      display: none;
    }
  }

  .container{
    position: relative;
  }

  .container::before{
    content:"";
    position: absolute;
    top: -21px;
    left: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background: #000;

    @include screen-md{
      left: 20px;
      width: calc(100% - 40px);
    }

    @include screen-xl{
      left: 0;
      width: 100%;
    }
  }

  &__title{
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    max-width: 230px;
    padding-top: 38px;
  }

  &__text{
    font-size: 15px;
    line-height: 25px;

    @include screen-md{
      margin: 10px 0 0;
      max-width: 290px;
    }
  }

  form{
    margin-top: 68px;

    @include screen-md{
      @include flex-block;
      @include align-items(center);
      @include flex-wrap(wrap);
      margin: 120px auto 0;
      width: 597px;
    }

    @include screen-xl{
      margin: 40px 0 0 34.3%;
      width: 730px;
    }

    input[type='text']{
      width: 100%;
      height: 48px;
      border: none;
      background: transparent;
      border-bottom: 1px solid #000000;
      font-family: $font-druk;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #000000;

      @include screen-md{
        width: calc(100% - 220px);
      }

      @include screen-xl{
        width: calc(100% - 310px);
      }

      &::placeholder{
        color: #000000;
      }
    }

    input[type='submit']{
      margin-top: 20px;

      @include screen-md{
        width: 214px;
        margin-left: 5px;
        margin-top: 0;
      }

      @include screen-xl{
        width: 290px;
        min-width: 290px;
        margin-left: 20px;
      }
    }
  }

  &__subtext{
    font-size: 15px;
    line-height: 25px;
    margin-top: 80px;
    width: 100%;

    @include screen-md{
      margin-top: 20px;
      max-width: 380px;
    }

    @include screen-xl{
      max-width: 100%;
    }
  }

}