.warranty{
  background: url(../images/backgrounds/warranty-bg-mobile.jpg) no-repeat center center / cover;
  padding: 11px 0;

  @include screen-md{
    background: url(../images/backgrounds/warranty-bg-desktop.jpg) no-repeat center center / cover;
  }

  .container{
    position: relative;

    @include screen-md{
      height: 320px;
    }
  }

  &__title{
    font-family: $font-steinbeck;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    @include screen-md{
    }

    @include screen-xl{
      padding-top: 20px;
    }

    div{
      white-space: nowrap;
      &:nth-child(1){

      }
      &:nth-child(2){
        text-indent: 33px;
      }
      &:nth-child(3){
        text-indent: 100px;
      }
      &:nth-child(4){

      }
    }
  }

  &__circle{
    width: 290px;
    height: 290px;
    background: #ffffff;
    border-radius: 100%;
    margin: 60px auto 20px;
    font-family: $font-druk;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    position: relative;

    @include screen-md{
      margin: 0;
      position: absolute;
      top: 10px;
      right: 20px;
      width: 300px;
      height: 300px;
    }

    @include screen-xl{
      left: 50%;
      margin-left: -150px;
    }

    &::before{
      content: "";
      position: absolute;
      width: 260px;
      height: 1px;
      background: #000;
      left: 15px;
      top: 46%;
      transform: rotate(-8deg);

      @include screen-md{
        left: 20px;
        top: 50%;
      }
    }

    div{
      &:nth-child(1){
        padding: 42px 10px 0;
        @include screen-md{
          padding: 57px 10px 0;
        }
      }
      &:nth-child(2){
        padding: 72px 40px 0;
      }
    }
  }

}